.campus-alert-wrapper {
  &.campus-banner-alert {
    content: '';
    display: block;
    background: url('images/bkg-campus-alert-repeat.png') repeat scroll 0 0 transparent;
    padding-top: 36px;
  }
  &.campus-alert-level-alert {
    background-color: #CB5167;
  }
  a:link {
    color: #00468b;
  }
  p,
  div {
    display: inline;
  }

  .attention {
    color: #C43424;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.campus-page-alert {
  background: none #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;

  .close {
    cursor: pointer;
    float: right;
  }
}

.campus-page-alert-static {
  position: static;
}

body.campus-alert-active {
  .footer-wrapper,
  .bottom-wrapper,
  .title-wrapper {
    display: none;
  }

  #content > ul.tabs {
    display: none;
  }
}