/**
 * @file
 * Region-Block-block Styles
 * EX: .header-logo-block
 */

/**
 *
 * Header
 *
**/
.field-logo-image {
  margin: 0 0 0 15px;
}
.secondary-menu-block {
  width: 100%;

  ul.menu {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 36px;

    li {
      float: left;
      list-style-type: none;
      list-style-image: none;

      a[href] {
        color: #fff;
        font-size: 1.4rem;
        line-height: 1.2em;
        text-transform: uppercase;

        &:hover {
          color: #fff;
        }
      }

      &.giving-link {
        background-size: 100% 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 20px;

        &:hover,
        &:focus {
          opacity: 0.8;
        }

        a {
          color: #fff;
          padding: 0 10px;
          margin-left: 0;
        }
        &:before {
          content: "";
        }
      }
    }

    li + li {
      margin-left: 20px;
      margin-right: 10px;
      &:before {
      }
      a {
        margin-left: 20px;
      }
    }
    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    ul.menu {
      width: 100%;
      li {
        &.giving-link {
          float: right;
        }
      }
    }
  }
}

.region-header {
  width: 100%;
  height: 36px;
  max-width: unset;
  background-color: #033660;

  .custom-login-block {
    background: #fff;
    display: none;
    position: absolute;
    right: 115px;
    top: 36px;
    z-index: 50;
    border-top: solid 3px #59b6e6;
    width: 295px;

    ul.custom-login-controls {
      margin: 0;
      padding: 0;
      background: #00468b;
      padding: 15px;

      li {
        list-style-type: none;
        text-align: left;
        list-style-image: none;
        a {
          font-size: 13px;
          display: block;
          color: #fff;
          i {
            color: #59b6e6;
            padding-right: 8px;
          }
          &:hover {
            color: #ffce34;
            i {
              color: #ffce34;
            }
          }
        }
      }
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
    }

    .custom-login-forms {
      background: #f4f5f5;
      text-align: left;
      .custom-login-off-campus,
      .custom-login-my-library,
      .custom-login-my-ill {
        display: none;
        padding: 15px;
      }
      form {
        .form-item {
          margin: 1em 0;
          input[type="text"],
          .form-item select {
            -moz-border-radius: 5px 0 0 5px;
            -webkit-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
            border: 3px solid #dcd4c6;
          }
        }
        input[type="submit"] {
          background: #ffce34;
          font-weight: bold;
          color: #00468b;
          border: solid 2px #f37520;
          font-size: 1.8rem;
          padding: 1rem 25px;
        }
        a {
          color: #00468b;
        }
      }
    }
  }
}

/**
 *
 * Navigation
 *
**/

.header-logo-block {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
  margin-right: 110px;
  position: absolute;

  .content a {
    &:focus,
    &:hover {
      opacity: 0.7;
    }
    img {
      max-width: 268px;
      width: 100%;
      height: auto;
      @media @mobile {
        max-width: 16.4rem;
      }
    }
  }
}

.main-menu-block {
  float: right;
  margin-bottom: 0;
  padding-top: 15px;
  padding-right: 15px;

  .not-front & {
    padding-top: 9px;
  }

  ul.menu {
    display: block;
    margin-top: 0;
    width: 100%;

    li {
      list-style-type: none;
      list-style-image: none;
      float: left;

      a[href] {
        color: @color-main-nav-text;

        &:hover {
          color: @color-main-nav-bkg-hover;
        }
      }
    }
  }
  @media (max-width: 975px) {
    margin-right: 65px;
  }
  @media (max-width: 767px) {
    padding-top: 15px;
  }
  @media (max-width: 480px) {
    padding-top: 0;
    margin-right: 45px;
    margin-top: 13px;
  }
}

.accessible-mega-menu {
  .accessible-megamenu-top-nav-item a {
    &:hover,
    &:focus {
      opacity: 0.8;
      background: none;
    }
  }

  .accessible-megamenu-top-nav-item a[aria-haspopup] {
    box-shadow: none;
    color: #fff;
    line-height: inherit;
    position: static;
    padding: 0;
    padding-left: 20px;

    &.header-menu-open-button {
      font-size: 0;
      line-height: 0;
      color: transparent;
      background: transparent;
      border: none;
      box-shadow: none;
      height: 30px;
      padding: 0 !important;
      width: 30px;
      background: url(../../images/hamburger.png) no-repeat !important;
      &:after {
        color: #fff;
        font-family: @font-awesome;
        font-size: 3.1rem;
        left: 0;
        line-height: 27px;
        top: 4px;
      }
    }

    &:first-child.open,
    &.open {
      background-color: transparent;
      border: 0px none;
      color: #fff;
      left: 0;
      margin-right: 0;
      padding: 0;
      padding-left: 20px;
    }
  }

  ul.accessible-megamenu {
    border: none;
    background: none;
    li {
      color: white;
      border: none;
      border: none;
      margin: 0;
      padding: 0;
      background: none;
      text-shadow: none;
      font-size: 2rem;

      &.accessible-megamenu-top-nav-item {
        position: relative;
      }

      @media (max-width: 1400px) {
        &.accessible-megamenu-top-nav-item
          + li.accessible-megamenu-top-nav-item
          + li.accessible-megamenu-top-nav-item
          .accessible-megamenu-panel {
          left: auto;
          right: 0;
        }
      }

      @media (max-width: 770px) {
        display: none;
      }

      //search icon
      &.search-icon {
        position: relative;

        @media (max-width: 885px) {
          display: inline-block;
        }

        a {
          display: block;
          margin-left: 20px;
          overflow: hidden;
          width: auto;
          line-height: 0;
          font-size: 0;
          color: transparent;
          height: 30px;
          padding-left: 0;

          &.accessible-megamenu-panel {
            background: transparent;
            border: 0px none;
            width: auto;
          }

          &:after {
            content: "\f002";
            font-family: "FontAwesome";
            display: inline-block;
            font-size: 30px;
            color: #fff;
            top: 13px;
            position: relative;
          }
        }
      }
      //drop down container

      &.menu-mlid-1042,
      &.menu-mlid-2499 {
        display: none;

        @media (max-width: 770px) {
          display: inline-block;
          width: 30px;
        }
      }

      &.accessible-megamenu-top-nav-item a.accessible-megamenu-panel {
        color: #fff;
        background: transparent;
        border-top: none;
        padding: 0;
        line-height: 1.55em;
        padding-left: 20px;
        box-shadow: none;
      }

      .accessible-megamenu-panel {
        border-left: none;
        border-bottom: none;
        border-right: none;
        color: #00468b;
        border-top: 3px solid #59b6e6;
        border-radius: 0;
        left: 20px;
        &.open {
          padding: 0;
        }
        ul.accessible-megamenu-panel-group {
          padding: 0;
          width: 100%;

          li {
            list-style: none;

            a {
              border-bottom: 1px solid #dcd4c6;
              color: #00468b;
              display: block;
              font-family: @family-header-medium-font;
              font-size: 1.6rem;
              font-weight: normal;
              padding-left: 20px;
              padding-right: 30px;

              &:hover,
              &:focus {
                color: #59b6e6;
                opacity: 1;
              }
            }
          }
        }
      }
      a {
        font-family: @family-header-font;
        border: none;
        margin: 0;
        color: #fff;
        padding: 0;
        background: none;
        line-height: 1.55em;
        padding-left: 20px;
      }
      &:first-child .open {
        left: 20px;
        border-left: none;
        border-bottom: none;
        border-right: none;
        margin: 0;
        padding: 0;
      }
      &:first-child a {
        padding-left: 0;
        &:hover {
          border: none;
        }
      }
      &.is-expanded {
        a {
          background: none;
          border: none;
          box-shadow: none;
          &:hover {
            color: #fff;
          }
        }
        ul.menu {
          padding: 0;
          padding-top: 10px;
          border-bottom: 1px solid #dcd4c6;
          padding-bottom: 10px;
          li {
            display: block;
            float: none;
            a {
              padding-left: 30px;
              padding-right: 30px;
              font-size: 1.6rem;
              font-family: @family-header-medium-font;
              border: none;
              line-height: 26px;
            }
          }
        }
      }
    }
  }

  div.accessible-megamenu-panel.open {
    top: 1.6em;
  }
}

.kwall-slide-in-nav-menu-block {
  a {
    outline: 0;
  }
  .menu-mlid-1042,
  .menu-mlid-2499 {
    display: none;
  }
}

/**
 *
 * Highlighted
 *
**/

.home-banner-block,
.sub-page-banner {
  line-height: 0;
  margin-bottom: 0;
  .front & {
    border-bottom: 4px solid #59b6e6;
  }

  img {
    height: auto;
    width: 100%;
  }

  .view-banner-image .view-content {
    overflow: hidden;
    position: relative;

    &:before {
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 36%,
        rgba(0, 0, 0, 0.7) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 36%,
        rgba(0, 0, 0, 0.7) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 36%,
        rgba(0, 0, 0, 0.7) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:after {
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.68) 0%,
        rgba(229, 229, 229, 0) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.68) 0%,
        rgba(229, 229, 229, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.68) 0%,
        rgba(229, 229, 229, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad000000', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
      content: "";
      height: 13.9rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.home-banner-block {
  .view-banner-image .view-content {
    height: 69.9rem;

    &:before {
      height: 0;
      width: 0;
    }
  }
}

.sub-page-banner {
  .view-banner-image .view-content,
  .content {
    height: 32.9rem;
  }
}

.block-libcal {
  margin-bottom: 0;
}

body.front #main {
  position: relative;
  padding-top: 80px;

  .block-libcal.contextual-links-region {
    position: static;
  }
  .hours-dropdown-block {
    position: absolute;
    top: -30px;
    z-index: 7;
    max-width: 1080px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 0 15px;
    .hours-dropdown-header {
      background: #033660;
      border-top: 2px solid #2d7db8;
      -moz-border-radius: 8px 8px 0 0;
      -webkit-border-radius: 8px 8px 0 0;
      border-radius: 8px 8px 0 0;
      font-size: 16px;
      color: #fff;
      display: table;
      width: 100%;
      .hours-column {
        box-sizing: border-box;
        display: inline-block;
        font-family: @family-header-font;
        font-size: 16px;
        min-height: 53px;
        padding: 14px 20px 0;
        position: relative;
        vertical-align: top;
        width: 30%;

        @media (max-width: 1030px) {
          padding: 5px 20px 8px;
        }

        &:first-child {
          padding-top: 0;
          width: 260px;

          @media @mobile {
            width: 100%;
          }
        }

        &:nth-child(2) {
          @media @mobile {
            min-height: auto;
            padding-bottom: 0;
          }

          &::before {
            background-color: #59b6e6;
            content: "";
            height: 74%;
            left: 0;
            position: absolute;
            top: 6px;
            width: 1px;

            @media @mobile {
              width: 0;
            }
          }
        }

        &:last-child {
          background: transparent url("../../images/bkg-moon.png") no-repeat
            scroll 25px center / 4% auto;
          color: #e7d3a7;
          padding-left: 45px;
          padding-right: 0;

          @media (min-width: 1008px) {
            width: 36% !important;
          }

          @media (max-width: 1030px) {
            background-position: 25px 8px;
          }

          @media @mobile {
            background-position: 5px 12px;
            background-size: 20px 20px;
            padding-left: 30px;
          }
        }

        span.hours-time {
          float: right;
          font-family: @font-family;

          @media (max-width: 1030px) and (min-width: 671px) {
            float: none;
            display: block;
          }

          @media (max-width: 400px) {
            float: none;
            display: block;
          }
        }
      }
      .hours-column + .hours-column {
        width: 37%;

        @media (max-width: 1030px) {
          width: 32.5%;
        }
        @media (min-width: 767px) and (max-width: 783px) {
          width: 31.5%;
        }
      }
      .todays-hours {
        font-size: 13px;
        color: #59b6e6;
        margin-bottom: 0;
        line-height: 16px;
        margin-top: 8px;
      }
      .todays-date {
        font-size: 16px;
        color: #fff;
        margin-bottom: 5px;
      }
    }
    .hours-dropdown-body {
      display: none;
      background: #ede9e1;
      position: relative;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .hours-column {
        width: 260px;
        float: left;
        padding: 10px 15px;
        box-sizing: border-box;

        &:last-child {
          position: relative;

          &:before {
            background-color: #b7ac99;
            content: "";
            height: 97%;
            left: 50%;
            position: absolute;
            top: 10px;
            width: 1px;

            @media @mobile {
              width: 0;
            }
          }
        }

        .all-hours {
          text-align: left;
          margin: 10px 0;

          @media @mobile {
            text-align: center;
          }

          a {
            display: inline-block;
            padding: 11px 20px;
            background: #59b6e6;
            box-sizing: border-box;
            color: #18335d;
            font-size: 16px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            max-width: 230px;
            position: relative;
            text-align: left;
            width: 100%;

            &:before {
              background: #18335d;
              content: "";
              height: 80%;
              margin-top: -6px;
              position: absolute;
              right: 45px;
              width: 1px;
            }

            &:after {
              content: "\f105";
              font-family: "FontAwesome";
              font-size: 24px;
              position: absolute;
              right: 20px;
            }

            &:hover,
            &:focus {
              &::after {
                right: 15px;
                transition: right 0.2s ease 0s;
              }
            }

            i.fa {
              padding-left: 15px;
              height: 30px;
              line-height: 30px;
              border-left: solid 1px #18335d;
              margin-left: 15px;
            }
          }
        }
      }
      .hours-column + .hours-column {
        width: calc(~"100% - 260px");
        padding: 0;
        display: table;
        .hours-row {
          display: table-row;
          &:nth-child(odd) {
            background: #e1dace;
          }
        }
        .hours-col-combined {
          display: table-cell;
          width: 50%;
        }
        .hours-dropdown-list-item,
        .hours-dropdown-list-time {
          padding: 10px 0px 10px 20px;
          box-sizing: border-box;
          color: #4d4e4e;
          font-size: 15px;
          line-height: 22px;
          width: auto;
          display: table-cell;
          vertical-align: middle;
        }
        .hours-dropdown-list-item {
          color: #00468b;
          font-size: 15px;
          font-weight: bold;
        }
        .hours-dropdown-list-time {
          width: 15%;
          text-align: right;
          padding: 10px 20px 10px 5px;
          white-space: nowrap;
        }
      }
    }
    .hours-dropdown-footer {
      background: url("../../images/bkg-hours-bttm-tab.png") no-repeat center
        top;
      text-align: center;
      .hours-dropdown-footer-link {
        height: 31px;
        line-height: 29px;

        width: 199px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        color: #18335d;
        button {
          background: transparent;
          border: none;
          color: #18335d;
          padding: 0;
        }
        span.hours-dropdown-footer-action {
          display: inline-block;
          width: 150px;
          cursor: pointer;
        }
      }
    }
    @media (max-width: 767px) {
      .hours-dropdown-header {
        box-sizing: border-box;
        padding: 0 15px;

        .hours-column {
          width: 100%;
          display: block;
          border-bottom: solid 1px #59b6e6;
          margin: 0 auto;
          padding: 10px;
        }
        .hours-column + .hours-column {
          border-bottom: none;
          max-width: 100%;
          padding-right: 0;
          width: 100%;
        }
      }
      .hours-dropdown-body {
        .hours-column {
          width: 100%;
          display: block;
          margin: 0 auto;
          padding: 10px;
          text-align: center;
        }
        .hours-column + .hours-column {
          width: 100%;
          text-align: left;
        }
      }
      .hours-dropdown-footer {
      }
    }
    @media (max-width: 500px) {
      .hours-dropdown-body {
        .hours-column + .hours-column {
          .hours-row {
            &:nth-child(odd) {
              background: none;
            }
            .hours-col-combined:nth-child(odd) {
              background: #e1dace;
            }
          }
          .hours-dropdown-list-item,
          .hours-dropdown-list-time {
            width: 100%;
          }
          .hours-dropdown-list-time {
            width: 30%;
          }
          .hours-col-combined {
            display: table-row;
            width: 1000%;
          }
        }
      }
    }
  }
}

/**
 *
 * Content
 *
**/

.home-page-quicklinks {
  margin: 3rem 3rem 5.7rem;
  a {
    font-family: @family-header-alternate-font;
    font-size: 20px;
    color: #00468b;
    line-height: 42px;
    vertical-align: top;
  }
  .bean-quick-links div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    @media @mobile {
      justify-content: left;
    }
  }

  div.field-quick-links-item {
    margin-right: 3rem;
    a {
      display: inline-block;
    }
    img {
      margin-right: 0.5em;
    }

    &:hover,
    &:focus {
      a {
        opacity: 0.8;
      }
    }

    &:last-child {
      margin: 0;
    }
    @media (max-width: 1050px) {
      margin: 0;
      width: 50%;
    }

    @media @mobile {
      width: 100%;
    }
  }
  &:after {
    clear: both;
  }
  @media @mobile {
    margin: 10rem 0;
  }
  @media (max-width: 420px) {
    margin: 15rem 0 10rem;
  }
}

.events-exhibition-calendar-block {
  float: left;
  margin-left: -85px;
  padding-left: 85px;
  width: ~"calc(50% - 1px)";

  @media @tablet {
    width: ~"calc(45% - 1px)";
  }
  @media @mobile {
    background-size: 100%;
    float: none;
    padding-right: 60px;
    padding-top: 40px;
    width: ~"calc(100% - 1px)";
  }
  .view-header p.events-title {
    color: #005aa3;
    font-size: 30px;
    font-weight: 600;
    margin: 28px 0 15px;
  }

  .view-footer a {
    color: #00468b;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-decoration: underline;
  }
}

.clear-event-float {
  clear: both;
}

.event-and-exhibit-slideshow-block {
  float: left;
  margin-left: 5%;
  width: 45%;
  margin-top: 20px;
  @media @tablet {
    width: 50%;
  }
  @media @mobile {
    float: none;
    margin: auto;
    width: 100%;
  }
  .flexslider {
    display: inline-block;
    width: 100%;

    .front & {
      padding-top: 47px;
    }

    .flex-direction-nav {
      .flex-nav-prev {
        .flex-prev {
          top: 65%;
          line-height: 50px;
        }
      }

      .flex-nav-next {
        .flex-next {
          top: 65%;
          line-height: 50px;
        }
      }
      @media @mobile {
        .flex-nav-next {
          .flex-next {
            top: 30%;
          }
        }
        .flex-nav-prev {
          .flex-prev {
            top: 30%;
          }
        }
      }
    }
  }
}

.home-page-library-search {
  left: 0;
  margin: 0 auto;
  max-width: 1000px;
  position: absolute;
  right: 0;
  top: 250px;
  width: 100%;
  .info_icon {
    line-height: 3rem;
    vertical-align: super;
    border: none;
    background: none;
    padding: 0;
    padding-left: 5px;
    &:before {
      color: @color-dark-beige;
      content: "\f05a";
      font-family: @font-awesome;
    }
  }
  .info-wrapper {
    display: inline-block;
    position: relative;
    top: -25px;
    left: 10px;
    @media @mobile {
      position: static;
    }
  }
  .info-content {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 30rem;
    z-index: 30;
    &.element-invisible {
      height: 0;
      width: 0;
    }
    @media @tablet {
      left: -28rem;
    }
    @media @mobile {
      bottom: inherit;
      left: 0 !important;

      width: 100%;
    }
    .element-invisible {
      display: none;
    }
    .field-body {
      color: #fff;
      padding: 2rem;
      position: relative;
    }

    &:before {
      background: #4d4e4e;
      border-radius: 4px;
      content: "";
      height: 100%;
      position: absolute;
      opacity: 0.8;
      position: absolute;
      width: 100%;
    }
  }
  div.hp-search-controls-wrapper {
    position: relative;
    width: 33%;
    float: left;
    padding: 0 0 0 15px;
    margin: 0;
    box-sizing: border-box;
    ul.hp-search-controls {
      list-style-image: none;
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        text-align: center;
        a {
          color: #fff;
          display: block;
          float: left;
          min-height: 105px;
          max-width: 33.3%;
          border: solid 1px #59b6e6;
          background: rgba(18, 36, 46, 0.7);
          box-sizing: border-box;
          font-family: @family-header-font;
          font-size: 16px;
          line-height: 22px;
          padding: 0px 5px;
          -ms-transform: skewX(-10deg); /* IE 9 */
          -webkit-transform: skewX(-10deg); /* Safari */
          transform: skewX(-10deg);
          @media (min-width: 600px) and (max-width: 840px) {
            font-size: 14px;
          }
          span {
            -ms-transform: skewX(10deg); /* IE 9 */
            -webkit-transform: skewX(10deg); /* Safari */
            transform: skewX(10deg);
            display: block;
          }
          &:hover {
            color: #59b6e6;
          }
        }
        &:nth-child(1) a {
          -moz-border-radius: 6px 0 0 6px;
          -webkit-border-radius: 6px 0 0 6px;
          border-radius: 6px 0 0 6px;
        }
        &:nth-child(2) a,
        &:nth-child(5) a {
          border-right: solid 1px rgba(18, 36, 46, 0.7);
          border-left: solid 1px rgba(18, 36, 46, 0.7);
        }
        &:nth-child(3) a {
          -moz-border-radius: 0 6px 0 0;
          -webkit-border-radius: 0 6px 0 0;
          border-radius: 0 6px 0 0;
        }
        &:nth-child(4) a {
          -moz-border-radius: 0 0 0 6px;
          -webkit-border-radius: 0 0 0 6px;
          border-radius: 0 0 0 6px;
        }
        &:nth-child(6) a {
          -moz-border-radius: 0 6px 6px 0;
          -webkit-border-radius: 0 6px 6px 0;
          border-radius: 0 6px 6px 0;
        }
      }
      li + li + li + li a {
        margin-top: -1px;
      }
    }
    div.overlay {
      position: absolute;
      top: -5px;
      z-index: 7;
      text-align: center;
      a {
        max-width: none;
        height: 115px;
        display: block;
        min-height: 105px;
        border: solid 1px #f9a12a;
        box-sizing: border-box;
        font-family: @family-header-font;
        font-size: 16px;
        line-height: 22px;
        padding: 0px 5px;
        -ms-transform: skewX(-10deg); /* IE 9 */
        -webkit-transform: skewX(-10deg); /* Safari */
        transform: skewX(-10deg);
        background: #ffce34;
        color: #00468b;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        span {
          -ms-transform: skewX(10deg); /* IE 9 */
          -webkit-transform: skewX(10deg); /* Safari */
          transform: skewX(10deg);
          display: block;
        }
      }
    }
  }
  .hp-search-controls-mobile {
    display: none;
  }
  .library-search-forms {
    width: 62%;
    margin-left: 5%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;

    .select2-container {
      width: 100% !important;
    }

    div.hp-search-alexandria,
    div.hp-search-melvyl,
    div.hp-search-research-guides,
    div.hp-search-oac,
    div.hp-research-databases,
    div.hp-search-library-catalog {
      display: none;
      position: relative;
      top: 30px;
    }
    .hp-search-extra-links {
      clear: both;
      margin-top: 0.8rem;
      margin-left: 1.5rem;
      a {
        color: #fff;
        font-size: 15px;
        text-shadow: 1px 1px #000;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
      }
    }
    div.hp-search-library-catalog {
      display: block;
    }
    p,
    label {
      margin-bottom: 3px;
      color: #fff;
      font-size: 15px;
      text-shadow: 1px 1px #000;
      font-weight: bold;
      font-family: "hindbold", Helvetica, Arial, sans-serif;
    }
    p.hp-search-title {
      color: #fff;
      display: inline-block;
      font-family: @family-header-alternate-font;
      font-weight: normal;
      line-height: 40px;
      font-size: 36px;
      margin-bottom: 10px;
      text-shadow: none;
    }
    form {
      a,
      label {
        font-family: @font-family;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
      }
      label {
        height: 20px;
        line-height: 20px;
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 15px;
        text-shadow: 1px 1px #000;
        font-weight: bold;
        font-family: "hindbold", Helvetica, Arial, sans-serif;
      }
      .form-item {
        float: left;
        font-size: 16px;
        line-height: 1.2em;
        margin: 0;
      }
      input[type="submit"] {
        background: #ffce34;
        font-weight: bold;
        color: #00468b;
        border: solid 3px #f9a12a;
        max-width: 25%;
        font-size: 1.6rem;
        line-height: 1.2em;
        width: 100%;
        padding: 1rem 0;
      }
      input[type="text"] {
        font-size: 1.6rem;
        line-height: 1.2em;
        padding: 1rem;
        height: 45px;
      }
    }
    .hp-search-library-catalog {
      .form-item-request {
        width: 75%;
        input[type="text"] {
          -moz-border-radius: 5px 0 0 5px;
          -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
          border-right: none;
          width: 100%;
        }
      }
      .form-item-find-scan-code {
        box-sizing: border-box;
        position: relative;
        width: 30%;

        &::after {
          background-color: #dcd4c6;
          content: "";
          height: 74%;
          left: 0;
          position: absolute;
          top: 6px;
          width: 1px;
        }

        select {
          border-left: 0px none;
          border-right: 0px;
          border-radius: 0;
          line-height: 1.2em;
          max-height: 45px;
          padding-left: 1.3rem;
          width: 100%;
        }
      }

      form input[type="submit"] {
        -moz-border-radius: 0px 5px 5px 0;
        -webkit-border-radius: 0px 5px 5px 0;
        border-radius: 0px 5px 5px 0;
      }
    }
    .hp-research-databases {
      .views-exposed-form {
        .views-exposed-widget.views-widget-filter-field_subject_tid {
          float: none;
          padding: 0;
          width: 70%;
          .form-item {
            width: 100%;
          }
          .select2-container {
            border-right: 3px solid #dcd4c6;
            border-left: 3px solid #dcd4c6;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
          }
        }
        .views-exposed-widget {
          float: none;
          padding: 0;
          input[type="submit"] {
            margin-top: 20px;
            max-width: none;
            padding: 1rem 20px;
          }
        }
      }
    }
    .hp-search-alexandria {
      .form-item-q {
        width: 45%;
        input[type="text"] {
          -moz-border-radius: 5px 0 0 5px;
          -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
          border-right: none;
          width: 100%;
        }
      }
      .form-item-search-field {
        width: 30%;
        box-sizing: border-box;
        position: relative;
        &::after {
          background-color: #dcd4c6;
          content: "";
          height: 74%;
          left: 0;
          position: absolute;
          top: 6px;
          width: 1px;
        }
        select {
          -moz-border-radius: 0 5px 5px 0;
          -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
          width: 100%;
          max-height: 45px;
        }
      }
      input[type="submit"] {
        -moz-border-radius: 0px 5px 5px 0;
        -webkit-border-radius: 0px 5px 5px 0;
        border-radius: 0px 5px 5px 0;
      }
    }
    .hp-search-melvyl {
      .form-item-q {
        width: 75%;
        input[type="text"] {
          -moz-border-radius: 5px 0 0 5px;
          -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
          border-right: none;
          width: 100%;
        }
      }
      .form-item-search-criteria {
        width: 30%;
        box-sizing: border-box;
        position: relative;
        &::after {
          background-color: #dcd4c6;
          content: "";
          height: 74%;
          left: 0;
          position: absolute;
          top: 6px;
          width: 1px;
        }
        select {
          -moz-border-radius: 0 5px 5px 0;
          -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
          width: 100%;
          max-height: 45px;
        }
      }
      input[type="submit"] {
        -moz-border-radius: 0px 5px 5px 0;
        -webkit-border-radius: 0px 5px 5px 0;
        border-radius: 0px 5px 5px 0;
      }
    }
    .hp-search-research-guides {
      .form-item-q {
        width: 75%;
        box-sizing: border-box;
        padding-right: 10px;
        input[type="text"] {
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          width: 100%;
        }
      }
    }
    .hp-search-oac {
      .form-item-search-query {
        width: 75%;
        box-sizing: border-box;
        padding-right: 10px;
        input[type="text"] {
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          width: 100%;
        }
      }
    }
    .hp-research-databases .view-research-databases .view-header {
      background: transparent;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding: 0;
    }
    .hp-research-databases .view-research-databases {
      top: 0;
    }
    .hp-research-databases form div.description {
      display: none;
    }
    .hp-research-databases
      .view-research-databases.az-database-list
      .view-content {
      text-align: center;
      padding: 5px;
      background: #fff;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid #dcd4c6;
      display: inline-block;
    }
    .hp-research-databases
      .view-research-databases.az-database-list
      .view-content
      .views-summary-unformatted {
      display: inline-block;
      color: #4a4a4a;
      font-size: 18px;
      font-weight: normal;
      margin: 0 4px;
    }
    .hp-research-databases
      .view-research-databases.az-database-list
      .view-content
      .views-summary-unformatted
      a {
      color: #4a4a4a;
      font-size: 18px;
      font-weight: normal;
    }
  }
  @media (max-width: 980px) {
    div.hp-search-controls-wrapper {
      width: 40%;
    }
    .library-search-forms {
      width: 55%;
      margin-left: 5%;
    }
  }
  @media (max-width: 767px) {
    top: 200px;
    div.hp-search-controls-wrapper {
      width: ~"calc(100% - 2px)";
      float: none;
      box-sizing: border-box;
      padding: 0 20px;
      ul.hp-search-controls {
        &:after {
          display: table;
          content: "";
          clear: both;
        }
        li {
          list-style-type: none;
          text-align: center;
          a,
          &:nth-child(3) a,
          &:nth-child(4) a {
            width: 16.6%;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            margin-top: -1px;
          }
          &:nth-child(1) a {
            -moz-border-radius: 6px 0 0 6px;
            -webkit-border-radius: 6px 0 0 6px;
            border-radius: 6px 0 0 6px;
          }
          &:nth-child(6) a {
            -moz-border-radius: 0 6px 6px 0;
            -webkit-border-radius: 0 6px 6px 0;
            border-radius: 0 6px 6px 0;
          }
        }
      }
    }
    .library-search-forms {
      width: 100%;
      float: none;
      margin-left: 0;
      box-sizing: border-box;
      padding: 0 18px;
    }
  }
  @media (max-width: 602px) {
    ul.hp-search-controls,
    div.overlay {
      display: none;
    }
    .hp-search-controls-mobile {
      display: block;
      padding: 0 30px;
      .hp-mobile-select {
        padding: 15px 7px;
        -ms-transform: skewX(-10deg);
        -webkit-transform: skewX(-10deg);
        transform: skewX(-10deg);
        background: #ffce34;
        color: #00468b;
        padding: 5px 20px;
        border: solid 1px #f37520;
        -moz-border-radius: 6px !important;
        -webkit-border-radius: 6px !important;
        border-radius: 6px !important;
        select {
          -ms-transform: skewX(10deg);
          -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
          background: #ffce34;
          color: #00468b;
          border: none;
          font-family: @family-header-font;
          font-weight: normal;
          font-size: 16px;
          width: 100%;
          box-sizing: border-box;
          background: url(../../images/blue-chevron.png) no-repeat right center;
        }
        .select2-container {
          width: 100% !important;
          background: transparent url(../../images/blue-chevron.png) no-repeat
            right center;
          -ms-transform: skewX(10deg);
          -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
          a.select2-choice {
            background: none;
            border: none;
            .select2-arrow {
              display: none;
            }
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    .library-search-forms {
      .select2-container {
        border-radius: 5px;
        border-right: 3px solid #dcd4c6;
        border-left: 3px solid #dcd4c6;
      }
      .hp-search-library-catalog {
        form {
          .form-item-request {
            width: 100%;
            input[type="text"] {
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              border-right: 3px solid #dcd4c6;
              width: 100%;
            }
          }
          .form-item-find-scan-code {
            width: 100%;
            box-sizing: border-box;
            padding-right: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            select {
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              width: 100%;
            }
          }
          input[type="submit"] {
            margin: 0 auto;
            display: block;
            max-width: none;
            border-radius: 5px;
          }
        }
      }
      .hp-search-alexandria {
        .form-item-q {
          width: 100%;
          input[type="text"] {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border-right: 3px solid #dcd4c6;
            width: 100%;
          }
        }
        .form-item-search-field {
          width: 100%;
          box-sizing: border-box;
          padding-right: 0;
          margin-top: 20px;
          margin-bottom: 20px;
          select {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            width: 100%;
          }
        }
        input[type="submit"] {
          margin: 0 auto;
          display: block;
          max-width: none;
        }
      }
      .hp-search-melvyl {
        .form-item-q {
          width: 100%;
          input[type="text"] {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border-right: 3px solid #dcd4c6;
            width: 100%;
          }
        }
        .form-item-search-criteria {
          width: 100%;
          box-sizing: border-box;
          padding-right: 0;
          margin-top: 20px;
          margin-bottom: 20px;
          select {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            width: 100%;
          }
        }
        input[type="submit"] {
          margin: 0 auto;
          display: block;
          max-width: none;
        }
      }
    }
  }
}

body.page-node-10017
  .research-page-form-block
  .library-search-forms
  .info-wrapper {
  display: none;
}

.research-page-form-block {
  background: #ede9e1 url(../../images/pattern-angle.jpg) repeat-x;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 4rem;
  padding: 30px 0;
  z-index: 5;
  @media (max-width: 768px) {
    margin-left: -15px;
    margin-right: -15px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .hp-search-controls-mobile {
    display: none;
  }
  .hp-search-controls-wrapper {
    position: relative;
    div.overlay {
      position: absolute;
      top: -5px;
      left: 30px;
      z-index: 8;
      text-align: center;
      a {
        max-width: none;
        height: 130px;
        display: block;
        min-height: 110px;
        border: solid 1px #f9a12a;
        box-sizing: border-box;
        font-family: @family-header-font;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        padding: 15px 5px;
        -ms-transform: skewX(-10deg); /* IE 9 */
        -webkit-transform: skewX(-10deg); /* Safari */
        transform: skewX(-10deg);
        background: #ffce34;
        color: #00468b;
        border: solid 1px #ffce34;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        margin: -2px;
        span {
          -ms-transform: skewX(10deg); /* IE 9 */
          -webkit-transform: skewX(10deg); /* Safari */
          transform: skewX(10deg);
          display: block;
        }
      }
    }
  }

  ul.hp-search-controls {
    position: relative;
    z-index: 7;
    width: 100%;
    list-style-image: none;
    padding: 0 30px;
    margin: 0;
    box-sizing: border-box;
    li {
      list-style-type: none;
      text-align: center;
      a {
        color: #fff;
        display: block;
        float: left;
        min-height: 110px;
        width: 16.6%;
        border: solid 1px #59b6e6;
        background: #18335d;
        box-sizing: border-box;
        font-family: @family-header-font;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2em;
        padding: 15px 7px;
        -ms-transform: skewX(-10deg); /* IE 9 */
        -webkit-transform: skewX(-10deg); /* Safari */
        transform: skewX(-10deg);
        span {
          -ms-transform: skewX(10deg); /* IE 9 */
          -webkit-transform: skewX(10deg); /* Safari */
          transform: skewX(10deg);
          display: block;
        }
        &:hover {
          color: #59b6e6;
        }
      }
      &:nth-child(1) a {
        -moz-border-radius: 6px 0 0 6px;
        -webkit-border-radius: 6px 0 0 6px;
        border-radius: 6px 0 0 6px;
      }
      &:nth-child(6) a {
        -moz-border-radius: 0 6px 6px 0;
        -webkit-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
      }
    }
  }
  .library-search-forms {
    width: 100%;
    font-weight: 500;
    line-height: 22px;
    font-size: 18px;
    color: #fff;
    background: #ede9e1;
    box-sizing: border-box;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin-top: 60px;
    padding: 0 30px 30px;

    div.hp-search-alexandria,
    div.hp-search-melvyl,
    div.hp-search-research-guides,
    div.hp-search-oac,
    div.hp-research-databases,
    div.hp-search-library-catalog {
      display: none;
      position: relative;
      top: 30px;
    }
    .hp-search-extra-links {
      clear: both;
      text-align: center;
      margin-top: 20px;
      a {
        color: #4d4e4e;
        font-size: 14px;
      }
    }
    div.hp-search-library-catalog {
      display: block;
    }
    p,
    label {
      font-weight: 500;
      line-height: 22px;
      font-size: 14px;
      color: #4d4e4e;
      text-align: left;
      margin-bottom: 3px;
    }
    p.hp-search-title {
      display: none;
    }
    form {
      a,
      label {
        font-family: @font-family;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4d4e4e;
      }
      label {
        height: 20px;
        line-height: 20px;
        padding: 0;
        margin: 0;
      }
      .form-item {
        margin: 0;
        float: left;
      }
      input[type="submit"] {
        background: #ffce34;
        font-weight: bold;
        color: #00468b;
        border: solid 2px #f37520;
        max-width: 19.88%;
        font-size: 1.6rem;
        line-height: 1.2em;
        width: 100%;
        padding: 1rem 0;
      }
      input[type="text"] {
        font-size: 1.6rem;
        line-height: 1.2em;
        padding: 1rem;
      }
      select {
        max-height: 45px;
      }
    }
    .hp-search-library-catalog {
      .form-item-request {
        width: 75%;
        input[type="text"] {
          -moz-border-radius: 5px 0 0 5px;
          -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
          border-right: none;
          width: 100%;
        }
      }
      .form-item-find-scan-code {
        width: 30%;
        box-sizing: border-box;
        position: relative;
        &::after {
          background-color: #dcd4c6;
          content: "";
          height: 74%;
          left: 0;
          position: absolute;
          top: 6px;
          width: 1px;
        }
        select {
          -moz-border-radius: 0 5px 5px 0;
          -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
          line-height: 1.2em;
          font-size: 1.6rem;
          max-height: 45px;
          width: 100%;
        }
      }
      input[type="submit"] {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
      }
    }
    .hp-research-databases {
      .views-exposed-form {
        .views-exposed-widget.views-widget-filter-field_subject_tid {
          float: none;
          padding: 0;
          width: 70%;
          .form-item {
            width: 100%;
          }
          .select2-container {
            border-right: 3px solid #dcd4c6;
            border-left: 3px solid #dcd4c6;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            width: 100% !important;
          }
        }
        .views-exposed-widget {
          float: none;
          padding: 0;
          input[type="submit"] {
            margin-top: 20px;
            max-width: none;
            padding: 1rem 20px;
          }
        }
      }
    }
    .hp-search-alexandria {
      .form-item-q {
        width: 45%;
        input[type="text"] {
          -moz-border-radius: 5px 0 0 5px;
          -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
          border-right: none;
          width: 100%;
        }
      }
      .form-item-search-field {
        width: 30%;
        box-sizing: border-box;
        position: relative;
        select {
          -moz-border-radius: 0 5px 5px 0;
          -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
          width: 100%;
        }
        .select2-container {
          width: 100% !important;
        }
        &::after {
          background-color: #dcd4c6;
          content: "";
          height: 74%;
          left: 0;
          position: absolute;
          top: 6px;
          width: 1px;
        }
      }
      input[type="submit"] {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
      }
    }
    .hp-search-melvyl {
      .form-item-q {
        width: 75%;
        input[type="text"] {
          -moz-border-radius: 5px 0 0 5px;
          -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
          border-right: none;
          width: 100%;
        }
      }
      .form-item-search-criteria {
        width: 30%;
        box-sizing: border-box;
        position: relative;
        select {
          -moz-border-radius: 0 5px 5px 0;
          -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
          width: 100%;
        }
        .select2-container {
          width: 100% !important;
        }
        &::after {
          background-color: #dcd4c6;
          content: "";
          height: 74%;
          left: 0;
          position: absolute;
          top: 6px;
          width: 1px;
        }
      }
      input[type="submit"] {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
      }
    }
    .hp-search-research-guides {
      .form-item-q {
        width: 75%;
        box-sizing: border-box;
        padding-right: 10px;
        input[type="text"] {
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          width: 100%;
        }
      }
    }
    .hp-search-oac {
      .form-item-search-query {
        width: 75%;
        box-sizing: border-box;
        padding-right: 10px;
        input[type="text"] {
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          width: 100%;
        }
      }
    }
    .hp-research-databases .view-research-databases .view-header {
      background: transparent;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding: 0;
    }
    .hp-research-databases .view-research-databases {
      top: 0;
    }
    .hp-research-databases form div.description {
      display: none;
    }
    .hp-research-databases
      .view-research-databases.az-database-list
      .view-content {
      text-align: center;
      padding: 5px;
      background: #fff;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid #dcd4c6;
      display: inline-block;
    }
    .hp-research-databases
      .view-research-databases.az-database-list
      .view-content
      .views-summary-unformatted {
      display: inline-block;
      color: #4a4a4a;
      font-size: 18px;
      font-weight: normal;
      margin: 0 4px;
    }
    .hp-research-databases
      .view-research-databases.az-database-list
      .view-content
      .views-summary-unformatted
      a {
      color: #4a4a4a;
      font-size: 18px;
      font-weight: normal;
    }
  }
  @media (max-width: 960px) {
    ul.hp-search-controls {
      li {
        a {
          width: 33.3%;
        }
        &:nth-child(1) a {
          -moz-border-radius: 6px 0 0 6px;
          -webkit-border-radius: 6px 0 0 6px;
          border-radius: 6px 0 0 6px;
        }
        &:nth-child(2) a,
        &:nth-child(5) a {
          border-right: solid 1px rgba(18, 36, 46, 0.7);
          border-left: solid 1px rgba(18, 36, 46, 0.7);
        }
        &:nth-child(3) a {
          -moz-border-radius: 0 6px 0 0;
          -webkit-border-radius: 0 6px 0 0;
          border-radius: 0 6px 0 0;
        }
        &:nth-child(4) a {
          -moz-border-radius: 0 0 0 6px;
          -webkit-border-radius: 0 0 0 6px;
          border-radius: 0 0 0 6px;
        }
        &:nth-child(6) a {
          -moz-border-radius: 0 6px 6px 0;
          -webkit-border-radius: 0 6px 6px 0;
          border-radius: 0 6px 6px 0;
        }
      }
    }
  }
  @media (max-width: 800px) {
    .library-search-forms {
      .hp-search-library-catalog,
      .hp-search-alexandria,
      .hp-search-melvyl {
        .form-item-request,
        .form-item-q {
          width: 100%;
          margin-bottom: 20px;
          input[type="text"] {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border-right: 2px solid #dcd4c6;
            width: 100%;
          }
        }
        .form-item-find-scan-code,
        .form-item-search-field,
        .form-item-search-criteria {
          width: 100%;
          box-sizing: border-box;
          padding-right: 0;
          margin-bottom: 20px;
          select {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            width: 100%;
          }
        }
        .select2-container {
          width: 100% !important;
          border-right: 3px solid #dcd4c6;
          border-left: 3px solid #dcd4c6;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
        }
        input[type="submit"] {
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
        }
      }
      .hp-search-library-catalog input[type="submit"] {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }
      .hp-research-databases
        .view-research-databases.az-database-list
        .view-content
        .views-summary-unformatted {
        display: inline-block;
        color: #4a4a4a;
        font-size: 18px;
        font-weight: normal;
        margin: 4px 8px;
      }
    }
  }
  @media (max-width: 480px) {
    margin: 0 -15px 1.5em;
    ul.hp-search-controls,
    div.overlay {
      display: none;
    }
    .library-search-forms {
      margin-top: 0;
      div.hp-search-alexandria,
      div.hp-search-melvyl,
      div.hp-search-library-catalog {
        form input[type="submit"] {
          display: block;
          padding: 9px 25px;
          margin: 0 auto;
          width: auto;
          max-width: 100%;
        }
      }
    }
    .hp-search-controls-mobile {
      display: block;
      padding: 0 30px;
      p.hp-mobile-select-title {
        font-size: 30px;
        color: #18335d;
        font-weight: 600;
        text-align: center;
        margin-bottom: 15px;
      }
      .hp-mobile-select {
        padding: 15px 7px;
        -ms-transform: skewX(-10deg);
        -webkit-transform: skewX(-10deg);
        transform: skewX(-10deg);
        background: #ffce34;
        color: #00468b;
        padding: 5px 20px;
        border: solid 1px #f37520;
        -moz-border-radius: 6px !important;
        -webkit-border-radius: 6px !important;
        border-radius: 6px !important;
        .select2-container {
          width: 100% !important;
          background: transparent url(../../images/blue-chevron.png) no-repeat
            right center;
          -ms-transform: skewX(10deg);
          -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
          a.select2-choice {
            background: none;
            border: none;
            .select2-arrow {
              display: none;
            }
          }
        }
        select {
          -ms-transform: skewX(10deg);
          -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
          background: #ffce34;
          color: #00468b;
          border: none;
          font-family: @family-header-font;
          font-weight: normal;
          font-size: 16px;
          width: 100%;
          box-sizing: border-box;
          background: url(../../images/blue-chevron.png) no-repeat right center;
        }
      }
    }
  }
}

.ask-a-librarian-qwidget {
  text-align: center;
  iframe {
    margin-top: 20px;
  }
}

.solr-header-block {
  float: right;
  margin-left: 20px;
  margin-right: 15px;
  padding-top: 10px;
  z-index: 5;

  .not-front & {
    padding-top: 8px;
  }

  .solr-header-link {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .solr-search-header-form {
    border: solid 1px #4d4e4e;
    height: 36px;
    background: rgba(0, 0, 0, 0.75);
    float: right;
    display: none;
    position: relative;
    .views-exposed-form {
      .views-exposed-widget {
        padding: 0;
        display: inline-block;
      }
      .views-exposed-widgets {
        margin: 0;
      }
    }
    .solr-submit {
      background: transparent url(../../images/search_bg.png) no-repeat center
        center;
      border: none;
      height: 26px;
      width: 36px;
      margin: 0;
      padding: 0;
      margin-top: 4px;
      border-left: solid 1px #4d4e4e;
    }
    .form-item.form-item-content {
      float: left;
    }
    input[name="content"] {
      border: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      height: 26px;
      line-height: 30px;
      font-size: 14px;
      color: #b7ac99;
      padding: 0;
      background: none;
      min-height: 36px;
      padding-top: 4px;
    }
    .close-search {
      float: left;
      width: 36px;
      display: inline-block;
      height: 26px;
      line-height: 30px;
      padding: 5px 0;
      font-size: 22px;
      color: #b7ac99;
      text-align: center;
    }
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
  .fa-search {
    display: block;
    font-size: 30px;
    color: #fff;
    top: 13px;
    float: right;
  }
  @media (max-width: 975px) {
    position: absolute;
    right: 15px;
    .solr-search-header-form {
      background: #000;
      input[name="content"] {
        width: 320px;
      }
    }
  }
  @media (max-width: 720px) {
    .solr-search-header-form {
      input[name="content"] {
        width: 120px;
      }
    }
  }
  @media (max-width: 530px) {
    width: fit-content;
    margin: 0;
    .solr-search-header-form {
      float: none;
      min-width: 200px;
      margin-left: 30px;
      .views-exposed-widget.views-widget-filter-content {
        width: 100%;
        .views-widget {
          width: 100%;
          a.close-search {
            position: relative;
            z-index: 50;
          }
          .form-item.form-item-content {
            input[name="content"] {
              width: 100%;
            }
          }
        }
      }
      .solr-submit.form-submit {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

/**
 *
 * Footer
 *
**/
.footer-logo-block {
  display: inline-blcok;
  float: right;
  text-align: center;
  vertical-align: block;

  @media (max-width: 960px) {
    clear: both;
    display: none;
    float: none;
    margin: 0 auto;
  }

  p {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.5em;
    margin: 0;

    &.location {
      span {
        font-weight: bold;
      }
    }
    a {
      img {
        &:hover {
          opacity: 0.8;
        }

        &:focus {
          opacity: 0.8;
        }
      }
    }

    @media (max-width: 960px) {
      text-align: center;
    }
  }
}

.footer-logo-block-mobile {
  display: none;

  @media (max-width: 959px) {
    display: block;
    margin-bottom: 2.7rem;
    padding-top: 3.5rem;

    .front & {
      background-color: #000;
    }
  }
}

.footer-menu-block {
  float: left;
  width: 71%;

  @media (max-width: 960px) {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
  }

  @media (max-width: 767px) {
    text-align: center;
    width: 100%;
  }

  .block-title {
    color: #fff;
    font-family: @family-header-font;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.5rem;
  }

  .menu-block-wrapper {
    ul.menu {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        list-style: none;
        list-style-image: none;
        align-items: center;
        vertical-align: top;
        width: 22%;
        height: 44px;
        flex: 1 1 25%;
        display: flex;
        justify-content: start;
        box-sizing: border-box;

        &.faculty-link {
          width: 16%;

          @media (max-width: 767px) {
            text-align: center;
            width: 100%;
          }
        }

        &.staff-link {
          width: 16%;

          @media (max-width: 767px) {
            text-align: center;
            width: 100%;
          }
        }
        &.disabilities-link {
          width: 27%;

          @media (max-width: 767px) {
            text-align: center;
            width: 100%;
          }
        }
        &.visitors-link {
          width: 27%;

          @media (max-width: 767px) {
            text-align: center;
            width: 100%;
          }
        }
        @media (max-width: 767px) {
          text-align: center;
          width: 100%;
        }
		
        a {
          color: #fff;
          list-style-type: none;
          min-height: 44px;
          min-width: 44px;

          &:hover {
            opacity: 0.8;
          }

          &:focus {
            opacity: 0.8;
          }
        }

      }
	  @media (max-width: 767px) {
		li {
		  flex: 1 1 50%; 
		  justify-content: space-around;
		}
	  }
	  @media (max-width: 480px) {
		li {
		  flex: 1 1 100%; 
		  justify-content: space-around;
		}
	  }
    }
  }
}

.footer-copy-right-block {
  display: inline-block;
  position: relative;

  @media (max-width: 960px) {
    display: block;
    float: none;
    padding-bottom: 6rem;
  }

  .footer-logo {
    display: inline-block;

    @media (max-width: 960px) {
      float: none;
      display: block;
      margin: 0 auto;
    }
  }

  .contact-copyright {
    color: #ffffff;
    display: inline-block;
    margin-left: 2.5rem;
    line-height: 1.5em;

    @media (max-width: 960px) {
      display: block;
      margin: 1.5rem auto 0;
      text-align: center;
    }
	.copyright a {
		min-height: 44px;
		min-width: 44px;
	  }

    p {
      margin-bottom: 0;

      &.contact {
        font-size: 1.6rem;
        line-height: 1.5em;

        @media (max-width: 767px) {
          margin-bottom: 1rem;
        }
      }

      .seperator {
        margin: 0 2rem;

        @media (max-width: 767px) {
          display: none;
        }
      }

      .phone-number {
        margin-left: 1.2rem;
      }
      .phone-number a:active,
      a:link,
      a:visited {
        color: white;
      }
      &.copyright {
        font-size: 1.3rem;
      }

      .library {
        @media (max-width: 767px) {
          display: block;
        }
      }

    }
  }

  a.logo-link {
    display: inline-block;

    @media (min-width: 961px) {
      position: relative;
      top: -7px;
    }

    @media (max-width: 960px) {
      bottom: -25px;
      left: 50%;
      margin-left: -50.5px;
      position: absolute;
      width: 101px;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.footer-social-links-block {
  display: inline-block;
  float: right;

  @media (max-width: 960px) {
    clear: both;
    display: block;
    float: none;
    margin-bottom: 3.5rem;
    margin-top: 15px;
  }

  .footer-social ul {
    margin: 0;
    padding: 0;

    @media (max-width: 960px) {
      text-align: center;
    }

    li {
      display: inline-block;
      margin-left: 0.6rem;

      a {
        color: transparent;
        display: block;
        font-size: 0;
        height: 44px;
        width: 44px;

        &:hover,
        &:focus {
          opacity: 0.7;
        }
      }

      &.facebook a {
        background: url("../../images/facebook.png") no-repeat left top;
      }

      &.flickr a {
        background: url("../../images/flickr.png") no-repeat left top;
      }

      &.twitter a {
        background: url("../../images/X.png") no-repeat left top;
      }

      &.youtube a {
        background: url("../../images/YouTube.png") no-repeat left top;
      }

      &.vimeo a {
        background: url("../../images/Vimeo.png") no-repeat left top;
      }

      &.instagram a {
        background: url("../../images/Instagram.png") no-repeat left top;
      }

      &.linkedin a {
        background: url("../../images/linkedin.png") no-repeat left top;
      }
    }
  }
}

.block-masquerade {
  clear: both;
}

/**
 *
 * Sidebar
 *
**/

.sidebars {
  position: relative;
  top: -45px;
}

.oac-block {
  background: #ffce34;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 15px;
  text-align: center;
  padding: 20px 15px;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  h2.block-title {
    font-size: 19px;
    color: #00468b;
    font-weight: 600;
  }
  .form-type-textfield {
    float: left;
    width: 75%;
    margin-bottom: 0;
    input[type="text"] {
      border: solid 1px #f37520;
      border-right: none;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      width: 100%;
    }
  }
  input[type="submit"] {
    background: #fff
      url(/sites/all/themes/custom/ucsblib_theme/images/search_bg.png) no-repeat
      center center;
    border: none;
    height: 26px;
    width: 36px;
    margin: 0;
    padding: 0;
    margin: 1.5em 0 0;
    border: solid 1px #f37520;
    border-left: none;
    float: left;
    width: 25%;
    box-sizing: border-box;
    height: 44px;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
  }
}

.recent-news-quicklink-block {
  margin: 25px 15px 0;
  .field-quick-link {
    a {
      box-sizing: border-box;
      min-width: 0;
      padding: 15px 55px 15px 15px;
      -webkit-appearance: none;
      font-weight: 600;
      font-size: 16px;
      background: url(../../images/pattern-chevrons.jpg);
      color: #fff;
      text-align: left;
      display: inline-block;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      position: relative;
      width: 100%;
      &:before {
        content: "";
        position: absolute;
        width: 1px;
        background: #fff;
        height: 32px;
        margin-top: -4px;
        right: 45px;
      }
      &:after {
        font-family: "FontAwesome";
        content: "\f105";
        font-size: 24px;
        position: absolute;
        right: 15px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      &:hover:after {
        right: 20px;
      }
    }
  }
}

.block-masquerade {
  margin-bottom: 0;
  margin-top: 45px;

  form .form-item {
    margin-bottom: 0;
  }
}

#block-libcal-library-calendar {
  .element-invisible {
    display: none;
  }
}

/*********** May Need to Delete ****************/
/*********** was in starterkit ****************/

#block-user-login,
#login-form,
#user-register-form {
  label {
    text-align: left;
  }
  ul {
    list-style: none;
    li {
      margin-left: 0;
    }
  }
}

.toboggan-unified {
  #login-message {
    text-align: left;
  }
  #login-links {
    text-align: left;
    a {
      &:hover {
        color: #555;
      }
    }
    a.lt-active {
      background-color: @color-main-nav-bkg;
      &:hover {
        background-color: @color-main-nav-bkg-hover;
        color: #ccc;
      }
    }
  }
}
.copyright {
  line-height: 1.5em;
}
/* DEV-1242   */
.copyright a {
  color: #fff;
  list-style-type: none;
}
.copyright a:hover {
  opacity: 0.8;
}
.copyright a:focus {
  opacity: 0.8;
}

/* issue 006 click to dial phone numbers*/
#block-bean-contact-block .field-phone-number a {
  background-color: transparent;
}
