/**
 * @file
 * Location and Descriptive Named Styles
 * EX: .header
 */

/**
  *
  * Layout Styles
  *
**/

body {
	background-color: #00468B;

	&.front {
		background-color: #000;
	}
}

.region-header {
	text-align: right;
}


#header {
}

#navigation {
  position: relative;

	.front & {
		top: 15px;
	}

	.not-front & {
  	padding-top: 20px;
	}
}

#navbar-administration.navbar-oriented .navbar-bar {
	z-index: 10001;
}

#navbar-administration .navbar-tray {
    display: none;
    z-index: 10000;
}

/* temp, please change later */
.not-front.page-search-node #main {
    margin-top: 13rem;
}

.region-navigation {
  margin: 0 auto;
  max-width: @width-page;
  z-index: 100;
}

#highlighted {
  background: @color-blue;
  min-height: 329px;
	position: relative;
}

#page {
	background-position: center bottom -5px;
  max-width: 100%;
  position: relative;

  .front & {
	  background: url("../../images/bkg-front-page-bottom.jpg") no-repeat center bottom #fff;
	  background-position: center bottom 169px;

	  @media (max-width: 959px) {
  	  background-image: none;
	  }

	  &:before {
		  background-color: #000;
		  bottom: 0;
		  content: "";
		  display: block;
		  height: 17rem;
		  left: 0;
		  position: absolute;
		  width: 100%;

		  @media (max-width: 959px) {
  	    height: 0;
	    }
	  }
  }
}

.imagecache-large_align_right, .imagecache-medium_align_right, .imagecache-small_image_right {
  clear: right;
  float: right;
}
.imagecache-large_align_center, .imagecache-medium_align_center, .imagecache-small_image_center, .imagecache-large_align_right, .imagecache-medium_align_right, .imagecache-small_image_right, .imagecache-large_align_left, .imagecache-medium_align_left, .imagecache-small_image_left {
  margin-bottom: 22px;
}
.imagecache-large_align_right, .imagecache-medium_align_right, .imagecache-small_image_right {
  margin-left: 18px;
}
.imagecache-large_align_left, .imagecache-medium_align_left, .imagecache-small_image_left {
  clear: left;
  float: left;
}
.imagecache-large_align_center, .imagecache-medium_align_center, .imagecache-small_image_center, .imagecache-large_align_right, .imagecache-medium_align_right, .imagecache-small_image_right, .imagecache-large_align_left, .imagecache-medium_align_left, .imagecache-small_image_left {
  margin-bottom: 22px;
}
.imagecache-large_align_left, .imagecache-medium_align_left, .imagecache-small_image_left {
  margin-right: 18px;
}
.page-top-wrapper {
  box-sizing: border-box;
  padding: 0rem;
	position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

#eyebrow-campus-link{
  text-transform: none;
}
#eyebrow-campus{
  padding-left: 15px;
  margin-right: auto;
  @media (max-width: 767px) {
    display: none;
  }
}

.region-header {
  margin: 0 auto;
	max-width: @width-page;
}

.content-inner-wrapper {
  margin: 0 auto;
  max-width: @width-page;
}

#main {
  background: #fff;

	.front & {
   background:transparent !important;
	}
}

.content-wrapper {
  padding: 0 1.5rem;
  min-height: 100vh;

  .not-front & {
    padding-bottom: 5rem;

    &:after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      height: 0;
      visibility: hidden;
    }
  }

  .front & {
    background: transparent;
    padding-bottom: 42rem;

    @media (max-width: 959px) {
      background: url("../../images/bkg-front-page-bottom.jpg") no-repeat center bottom;
      background-size: 151% auto;
    }

    @media @tablet {
      overflow: hidden;
    }

    @media @mobile {
      padding-bottom: 17rem;
    }
  }
}

#content {
  .not-front & {
    padding-top: 3rem;
  }
}

.title-wrapper {
  h1 {
	  color: #fff;
	  font-size: 50px;
	  font-weight: 500;
	  line-height: 55px;
    @media @mobile {
      font-size: 30px;
      line-height: 35px;
    }
  }
}

body.no-sidebars .innter-title-wrapper {
	bottom: 10px;
}
body.no-sidebars.page-node-416 .innter-title-wrapper {
	bottom: 25px;
}

.innter-title-wrapper {
  bottom: 50px;
  box-sizing: border-box;
  left: 0;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 1.5rem;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 3;
}

.footer-wrapper {
  background: url("../../images/bkg-interior-page-bottom-bttom.png") repeat-x center top transparent;
  position: relative;
  padding-top: 3rem;

  .front & {
    background: none;
    padding-top: 0;

    @media (max-width: 959px) {
      background-color: #000;
      padding-top: 3rem;
    }
  }

  .not-front & {
    //margin-top: 10rem;
  }
}

.footer-top-wrapper {
  padding: 0 1.5rem;
  .front & {
  background: linear-gradient(to bottom, transparent, #000000);
  }
  @media(max-width: 959px) {
   background:  #03468b;
  }
}

.region-footer {
  margin: 0 auto;
  max-width: @width-page;
  padding: 0 1.5rem;
}

.bottom-wrapper {
  padding: 3.3rem 1.5rem 0;
  padding-top: 3.3rem;

    a {
      min-height: 44px;
      min-width: 44px;
    }
  

  @media (max-width: 959px) {
    border: 0px none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .front & {
    border-top: none;
    background-color: #000;

    @media (max-width: 959px) {
      border: 0px none;
    }
  }
}

h1#page-title {
  .front & {
    display: none;
  }
}

.pager-first.first,
.pager-last.last {
	display: none;
}
.pager-previous a:before {
	content: "\f104";
	font-family: "FontAwesome";
}
.pager-next a:after {
	content: "\f105";
	font-family: "FontAwesome";
}

.item-list .pager {
	margin-top: 30px;
	li {
		padding: 0;
		margin: 10px 0 0;
		display: inline-block;
		&.first {
			padding: 0.6rem 1.6rem;
			background: #59b6e6;
		}
		a {
			display: block;
			&:hover {
				background: #dcd4c6;
			}
		}
	}
}

.sidebar-first {
	.region-sidebar-first {
    border-radius: 8px 8px 0 0;
    background-color: #ede9e0;
    float: left;
    margin-left: 0%;
    margin-right: -28%;
    position: relative;
    width: 28%;
    .block {
			position: relative;
			z-index: 2;
		}
		.sidebar-triangles-img {
			height: 187px;
			background: url("/sites/all/themes/custom/ucsblib_theme/images/menu-triangles.gif") no-repeat center bottom	;
			background-size: 100% auto;
		}
	}
	#content {
    float: left;
    width: 68%;
    margin-left: 32%;
    margin-right: -100%;
	}
	@media (max-width: 899px) {
		.region-sidebar-first {
			width: 35%;
		}
		#content {
	    float: left;
	    width: 61%;
	    margin-left: 39%;
	    margin-right: -100%;
		}
	}
	@media (max-width: 667px) {
		.sidebars {
			top: 0;
			.region-sidebar-first {
				width: 100%;
				max-width: 294px;
		    float: none;
		    margin: 0 auto;
		    padding-top: 1px;
			}
		}
		#content {
	    width: 100%;
	    float: none;
	    margin-left: 0;
	    margin-right: 0;
		}
	}

	&.page-node-10017 {
  	@media (max-width: 899px) {
  		.sidebars {
  			top: 0;
  			.region-sidebar-first {
  				display: none;
  				width: 100%;
  				max-width: 294px;
  		    float: none;
  		    margin: 0 auto;
  		    padding-top: 1px;
  			}
  		}
  		#content {
  	    width: 100%;
  	    float: none;
  	    margin-left: 0;
  	    margin-right: 0;
  		}
  	}
	}
}

/*
	Campus Alerts
*/
.campus-banner-alert {
	background: #FFCE34;
	padding: 20px;
	.campus-alert-wrapper {
    content: '';
		display: block;

	  &.campus-alert-level-alert {
	    background-color: #FFCE34;
	  }

	  p,
	  div {
	    display: inline;
	    color: #000;
			font-weight: 600;
			line-height: 1.5em;
			font-size: 24px;
	  }

	  .attention {
	    color: #C43424;
	    font-weight: bold;
	    text-transform: uppercase;
			font-weight: 700;
			line-height: 1.5em;
			font-size: 30px;
	  }
	}
}

.campus-page-alert {
  background: none #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;

  .close {
    cursor: pointer;
    float: right;
  }
}

.campus-page-alert-static {
  position: static;
}

body.campus-alert-active {
	background: #fff!important;
	.content-wrapper {
		padding: 0;
	}
  .footer-wrapper,
  .bottom-wrapper,
  .title-wrapper {
    display: none;
  }
  #page, #main {
	  background: none;
	  padding: 0!important;
	}

  #content > ul.tabs {
    display: none;
  }
  .campus-page-alert-static {
    background-color: #FFCE34;
    padding: 20px;
  }

  p,
  div {
    color: #fff;
		font-weight: 600;
		line-height: 1.5em;
		font-size: 24px;
  }

  .attention {
    color: #C43424;
    font-weight: bold;
    text-transform: uppercase;
		font-weight: 700;
		line-height: 1.5em;
		font-size: 30px;
  }
}

/**
  *
  * Element styles in Styleguide folder in this theme
  *
**/


hr {

}

.breadcrumb {
  a {
	  font-size: 14px;
	  color: #E9E9E9;
	  font-weight: 600;

	  &:hover,
	  &:focus {
  	  opacity: 0.7;
	  }
  }
  .front & {
    display: none;
  }

  span.delimiter {
    color: #E9E9E9;
    padding: 0 13px;
  }
}

p#skip-link {
  margin: 0;
}

.tabs.primary {
  a {
    color: @color-link-text;
    font-weight: @weight-regular;
    .border-radius(.25em, 0, 0, .25em);

    &.is-active {
      background-color: @color-link-bkg;
    }
  }
}

ul.primary li {
  margin-bottom: -1px;
  background: white;

  a,
  a:active,
  a:visited,
  a:link {
    border: 1px solid #BBB;
    border-bottom: 0;
  }
}

.messages {
  font-size: 1.25em;

  h2 {
    margin: 0;
    font-size: 1.5em;
  }
  //error / warning messages
  &.error {

  }
  &.warning {

  }
  &.status {

  }
}

.lead-text {
  font-size: 1.2em;
  line-height: 26px;
}

.nav-quicklinks-sidebar-block {
  width: 100%;

  .quick-link-item,
  ul li,
  nav a {
    &:hover {
      background: @color-link-hover;
    }
    display:block;
    border-bottom:1px solid #dddddd;
    color: @color-font;
    padding:13px 4px;
    width: 100%;
  }
  .fa-chevron-right:before{
    margin-right:10px;
    color: @color-font;
  }
}

/*bullet points*/
ul{
  .fa.fa-circle-o:before {
    color: green;
    font-size: 7px;
    font-weight: bold;
  }
  .fa.fa-square-o:before {
    color: #34a5d0;
    font-size: 7px;
    font-weight: bold;

  }
  .fa.fa-square:before {
    color: red;
    font-size: 7px;
    font-weight: bold;
  }
}

//custom ul li
ul.tags-field{
  position: relative;
  left: -40px;

  li {
    display: inline-block;
    list-style: none;
    font-size: 0.800em;

    a {
      border-right: 1px solid @color-link;
      padding-right: 3px;
    }

    &:last-child{
      a {
        border:none;
      }
    }
  }
}

.ul-tabs-nav {
  .ui-tabs {
    margin: 0;
    padding: 0px;
    border-radius: 0px;
  }

  ul{
    border: none;
    background: none;
    border-radius: 0px;
    padding: 0 !important;

      li.ui-state-default {
        border-radius: 0px;
        background: #eeeeee;
        border: none;
        font-size: 1.2em;
        font-weight: bold;

      &.ui-state-active {
        background: #485b69;
        color: #ffffff;

        a {
          color: #ffffff;
        }
      }
    }
  }
}

img {
  #content & {
    height: auto !important;
    max-width: 100%;
  }
}

// flex slider reset
.flexslider-reset {
  .flexslider {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    .flex-direction-nav {
      .flex-next, .flex-prev {
        color: #ddd;
        &.flex-disabled {
          opacity: .2;
        }
      }
    }
  }
}

.flexslider {
  background: none;
  border: 0;
}

//paragraphs
.paragraphs-item-section-paragraph {
    .listing-view.paragraph {
      display: block;
      width: 100%;
    }
    .field-section-link {
      display: block;
      margin-bottom: 7rem;
      margin-top: 1rem;
      padding: 0;
      width: 100%;
    }
  @mobile {
    .listing-view.paragraph {
      display: block;
      width: 100%;
    }
    .field-section-link {
      display: block;
      margin-bottom: 7rem;
      margin-top: 1rem;
      padding: 0;
      width: 100%;
    }

  }
}

//hours page
.hours-navigator {
	background: #dcd4c6;
	line-height: 47px;
	text-align: center;
	color: #00468B;
	font-weight: bold;
	font-size: 18px;
	margin: -50px 0 25px;
	position: relative;
	z-index: 7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	min-height: 45px;
	border-radius: 4px;
	&:after {
		clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
	}
	.hours-nav-left,
	.hours-nav-right {
		float: left;
		padding: 0 10px;
		background: #c8bfae;
		-moz-border-radius: 4px 0 0 4px;
		-webkit-border-radius: 4px 0 0 4px;
		border-radius: 4px 0 0 4px;
		display: none;
	}
	.hours-nav-right {
		float: right;
		-moz-border-radius: 0 4px 4px 0;
		-webkit-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0;
		display: block;
	}
	.hours-nav-title {
		display: inline-block;
	}
	a {
		display: block;
		height: 45px;
		padding: 0 5px;
		text-align: center;
		color: #00468B;
		font-weight: normal;
		font-size: 40px;
	}
}

.hours-table {
	.hours-table-header,
	.hours-table-row {
		display: table-row;
	}
	.hours-table-row.hours-table-row-weekend {
		display: none;
	}
	.hours-table-header	{
    border-bottom: 5px solid #EDE9E1;

		.hours-table-header-cell {
			display: table-cell;
			width: 30%;
			text-align: center;
			vertical-align: middle;
			text-align: center;
			font-size: 14px;
			color: #4D4E4E;
			font-weight: normal;
	    border-bottom: 5px solid #EDE9E1;
	    margin-bottom: 2px;
	    padding-top: 5px;
	    &.hours-active {
				background: #ffce34;
			}
		}
		.hours-table-header-cell + .hours-table-header-cell {
  		line-height: 1.3em;
  		padding-bottom: 7px;
			width: 10%;

			strong {
  			text-transform: uppercase;
			}
		}
	}
	.hours-table-row	{
		.hours-table-cell {
			display: table-cell;
			text-align: center;
			font-size: 14px;
			font-weight: normal;
			color: #4D4E4E;
			vertical-align: middle;
			padding: 10px 0;
			&.hours-zebra {
				background: #ede9e1;
			}
			&.hours-active {
				background: #ffce34;
			}
			.hours-time {
  			text-transform: uppercase;
			}
		}
		.hours-table-library-name {
			font-weight: bold;
			font-size: 18px;
			color: #4D4E4E;
			text-align: left;
		}
		span.late-night {
			font-weight: normal;
	    font-size: 14px;
	    color: #00468B;
      vertical-align: text-bottom;
		}
		img.hours-moon {
	    width: 12px;
    }
	}
	.hours-table-row + .hours-table-row {
		.hours-table-cell {
			border-top: solid 2px #B7AC99;
			padding: 10px 0;
      text-wrap: balance;
		}
	}
	.hours-table-wrap {
		display: table;
		padding-bottom: 5rem;
		width: 100%;
	}
	.hours-table-wrap + .hours-table-wrap {
		display: none;
	}
	@media (min-width: 801px) {
		.hours-table-row.hours-table-row-weekend {
			display: none!important;
		}
		.hours-table-cell-spacer {
			display: none!important;
		}
	}
	@media (max-width: 800px) {
		.hours-table-header {
			.hours-table-cell-Saturday,
			.hours-table-cell-Sunday {
				display: none;
			}
		}
		.hours-table-row-primary {
			.hours-table-cell-Saturday,
			.hours-table-cell-Sunday {
				display: none;
			}
		}
		.hours-table-row	{
			.hours-table-cell.hours-table-library-name {
				background: url(../../images/plus.png) no-repeat 10px center;
				padding-left: 30px;
				cursor: pointer;
			}
		}
		.hours-table-row.hours-table-row-weekend {
			.hours-table-cell-Monday,
			.hours-table-cell-Tuesday,
			.hours-table-cell-Wednesday,
			.hours-table-cell-Thursday,
			.hours-table-cell-Friday,
			.hours-table-library-name {
				display: none;
			}
			.hours-table-cell-Saturday,
			.hours-table-cell-Sunday {
				display: table-cell;
			}
			.hours-table-cell-spacer {
				display: table-cell;
			}
		}
		img.hours-moon {
			display: none;
		}
	}
	@media (max-width: 550px) {
		.hours-table-row.hours-table-row-weekend {
			display: block!important;
		}
		.hours-table-cell-spacer,
		.hours-table-row-primary {
			display: none!important;
		}
		.hours-table-header {
			border-bottom: none;
			display: block;
			.hours-table-cell-Tuesday,
			.hours-table-cell-Wednesday,
			.hours-table-cell-Thursday,
			.hours-table-cell-Friday,
			.hours-table-cell-Saturday,
			.hours-table-cell-Sunday {
				display: none;
			}
			.hours-table-cell-Monday.hours-table-header-cell {
				display: inline-block;
				width: 34%;
				box-sizing: border-box;
				padding-left: 3%;
				border-bottom: none;
		    display: none;
			}
			.hours-table-header-cell:first-child {
				display: inline-block;
				width: 100%;
				box-sizing: border-box;
				border-bottom: none;
			}
		}
		.hours-table-row.hours-table-row-weekend {
			.hours-table-cell-Monday,
			.hours-table-cell-Tuesday,
			.hours-table-cell-Wednesday,
			.hours-table-cell-Thursday,
			.hours-table-cell-Friday,
			.hours-table-cell-Saturday,
			.hours-table-cell-Sunday {
				display: none;
				border-top: none;
				background-color: #f6f4f0;
				&:after {
					clear: both;
		      content: " ";
		      display: block;
		      font-size: 0;
		      height: 0;
		      visibility: hidden;
				}
			}
			.hours-table-cell-Monday {
				border-top: solid 2px #B7AC99;
			}
			.extra-time-info {
				display: block;
			}
			.hours-table-library-name {
				display: inline-block;
				vertical-align: top;
				cursor: pointer;
			}
			.hours-table-library-name {
				width: 100%;
				box-sizing: border-box;
				background: url(/sites/all/themes/custom/ucsblib_theme/images/plus.png) no-repeat 3px center;
				padding-left: 15px;
			}
			.time-info-day,
			.time-info-date,
			.time-info-time {
				float: left;
				width: 33%;
				padding-left: 3%;
				text-align: left;
				box-sizing: border-box;
			}
			.time-info-day {

			}
			.time-info-time {
				width: 34%;
				text-align: center;
			}
			&.open {
				.hours-table-cell-Monday,
				.hours-table-cell-Tuesday,
				.hours-table-cell-Wednesday,
				.hours-table-cell-Thursday,
				.hours-table-cell-Friday,
				.hours-table-cell-Saturday,
				.hours-table-cell-Sunday {
					display: block;
				}
			}
		}
	}
}


/**
  *
  * Content Types
  *
**/

body.node-type-person {
	.field-portrait-image {
		float: right;
	}
	h3.field-label {
		margin-bottom: 0;
	}
	.field-title-field {
		font-size: 40px;
		line-height: 54px;
		font-weight: 600;
		margin: 20px 0 0px;
	}
	.field-functional-titles {
		margin-bottom: 35px;
		font-size: 20px;
	}
	@media (max-width: 767px) {
		.field-portrait-image {
			float: none;
		}
	}
}

body.node-type-research-database {
	.field-label {
		font-weight: bold;
		&:before {
			content: "";
			display: table;
		}
	}
}

div.in-content-slideshow {
	margin-top: 35px;
	background-color: #ede9e1;
	&:after {
    border-bottom: 50px solid #9261a8;
    border-left: 300px solid transparent;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    z-index: 5;
	}
	.slick-arrow {
    border: 3px solid #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    &:before {
	    color: #fff;
	    top: -3px;
			position: relative;
	    right: -2px;
	    opacity: 1;
    }
    &.slick-prev:before {
	    right: 0;
    }
	}
	.slick-dots {
    width: auto;
    left: auto;
    right: 0;
    bottom: 5px;
    margin: 0 2px;
    z-index: 6;
    li {
	    margin: 0;
	    button {
		    &:before {
		    	color: #ede9e1;
		    	opacity: 1;
		    	font-size: 1.25rem;
		    }
	    }
	    &.slick-active {
		    button {
			    &:before {
			    	color: #59B6E6;
			    	opacity: 1;
			    }
		    }
	    }
    }
	}
	.slick__slide {
		.slide__content {
			.slide__media {
				.slick__image {
					margin: 0;
				}
			}
			.slide__caption {
				font-size: 16px;
				line-height: 24px;
				font-weight: normal;
				color: #333;
				top: 0;
				h2.slide__title {
					font-size: 30px;
					color: #4A4A4A;
					line-height: 48px;
					font-weight: 600;
					margin-top: 0;
				}
			}
		}
	}
	@media (max-width: 1023px) {
		.slick__slide {
			.slide__content {
				.slide__media {
					.slick__image {
						margin: 0 auto;
					}
				}
				.slide__caption {
					padding: 20px 20px 50px;
				}
			}
		}
	}
}

.sidebar-first #content div.in-content-slideshow .slide__caption {
	@media (min-width: 64em) {
    padding: 20px;
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
	}
}

select {
  -moz-appearance: none;
  @media (max-width: 767px) {
    max-width: 31rem;
  }
}

.page-node-done {
  background-color: #FFFFFF;
  background-image: url('/sites/default/files/default_images/default_banner_0.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

.bean-sidebar-callouts {
	padding: 0 15px;
	margin: 25px 0;
	position: relative;
	.field-sidebar-callout-link {
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    position: relative;
    top: -50px;
    width: 85%;
    box-sizing: border-box;
    background: url(../../images/pattern-chevrons.jpg);
    text-align: center;
    margin: 0 auto;
		a {
			font-size: 20px;
			color: #fff;
			font-family: 'hindbold';
			-ms-transform: skewX(10deg);
	    -webkit-transform: skewX(10deg);
			transform: skewX(10deg);
			display: inline-block;
			padding: 20px 15px;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}
.field-event-date,
.field-events-full-title {
	font-weight: bold;
	font-size: 18px;
}
.field-event-image,
.field-article-image {
  margin: 0 15px 15px 0;
  @media (max-widtH : 400px) {
	  float: none;
	}
}

.field-article-image {
	float: left;
}

body.node-type-event-exhibition .field-location.inline {
	display: inline-block;
	font-weight: bold;
}

div.form-item .select2-container {
	width: 180px;
  border-radius: 0;
  line-height: 1.2em;
  height: 45px;
  border: 3px solid #dcd4c6 !important;
  color: #333333;
  margin: 0;
  background: url(/sites/all/themes/custom/ucsblib_theme/images/left_arrow.png) no-repeat right;
  background-color: #FFF;
  background-position: 95%;
  min-width: 100px;
  border-left: 0px none;
  border-right: 0px;
  border-radius: 5px;
  max-width: 100%;
  .select2-selection--single {
	  border: none;
  }
  a.select2-choice {
	  font-size: 16px;
	  font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
	  height: 100%;
    background: none;
    border: none;
    color: #333333;
    line-height: 42px;
    padding-left: 15px;
    .select2-arrow {
	    display: none;
    }
  }
}

div.form-item select[multiple] + .select2-container {
	height: auto;
}

.hp-search-library-catalog,
.hp-search-alexandria,
.hp-search-melvyl {
	div.form-item .select2-container {
	  border-radius: 0;
	  @media (max-width: 480px) {
	    border-radius: 5px;
	  }
	  .select2-selection--single {
		  border: none;
	    border-radius: 0 4px 4px 0;
	  }
	}
}

.hp-search-controls-mobile .select2-container--default .select2-selection--single {
	background: #FFCE34;
	    border: solid 1px #FFCE34;
}

.vimeo-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

span.date-display-single div.date-display-range {
	display: inline-block;
}
.field-event-or-exhibition {
	font-weight: bold;
}
form.webform-client-form {
	input[type='search'], input[type='text'], input[type='email'], .form-textarea, textarea, .form-text {
		width: 100%;
	}
}
form input[type='search'], form input[type='text'], form input[type='email'], form .form-textarea, form textarea, form .form-text {
	max-width: 100%;
}
/* SUPPORT-11119 */
.lnstudyhours table > tbody > tr:not(:nth-child(2)){display: none;}

/* overide SpringShare/LibAnswers chat icon box shadow */
button.s-lch-widget-float-btn {  box-shadow: none;}

/* gitlab issue 195 */
.month-view a {color: #00468B; text-decoration: none; }
