/**
 * @file
 * View Styles
 * UCSB Views File
 * region-description-view
 * EX: .sidebar-news-view
 */

.views-exposed-form .views-exposed-widget {
  float: none;
  display: inline-block;
  vertical-align: top;
  label {
    text-align: left;
  }
}

.staff-directory-view {
  position: relative;
  top: -45px;
  z-index: 8;
  &.view-display-id-admin_directory,
  &.view-display-id-page_2 {
	  & > .attachment-before {
		  -moz-border-radius: 8px 8px 0 0;
			-webkit-border-radius: 8px 8px 0 0;
			border-radius: 8px 8px 0 0;
	    padding-top: 10px!important;
	  }
  }
  &.view-display-id-admin_directory,
  &.view-display-id-page_2 {
	  .attachment.attachment-before {
		  padding-top: 0!important;
		  .view-content {
			  display: none;
		  }
	  }
  }
  .tablesaw-bar {
    display: none;
  }
  @media (max-width: 768px) {
    margin: 0 -1.5rem;
    top: -3rem;
  }

  .view-filters {
    background: #ede9e0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    padding: 25px;
    .views-exposed-widgets {
      margin-bottom: 0;
    }
    label,
    label + .views-widget {
      display: inline-block;
    }
    .views-exposed-form .views-exposed-widget.views-submit-button {
      padding-right: 0;
      float: right;
      .form-submit {
        margin-top: 0;
      }
    }
    select {
      background-position: 96%;
      color: #9B9B9B;
      max-width: 100%;
    }
    .views-widget-filter-tid {
      width: 40%;

      .views-widget {
        max-width: 90%;

        @media (max-width: 767px) {
          max-width: 100%;
        }
      }
    }
  }
  .attachment.attachment-before {
    background: #ede9e0;
    padding: 0;
    position: relative;
    margin-bottom: 16px;
  }

  table {
    thead {
      background-color: transparent;
    }

    th {
      border-right: 0px none;
      border-bottom-color: #DCD4C6;
    }
    tbody tr:nth-child(2n+1) {
      background-color: transparent;
    }
  }

  .tablesaw th,
  .tablesaw td {
    padding-bottom: 0;
  }

  .view-content {
    &:after {
      display: table;
      content: "";
      clear: both;
    }
  }
  .az-staff-directory {
    .view-content {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      text-align: center;
      padding: 3px 25px 20px;
      .views-summary-unformatted {
        display: inline-block;
        color: #4A4A4A;
        font-size: 18px;
        font-weight: normal;
        margin: 0 12px;
        a {
          color: #4A4A4A;
          font-size: 18px;
          font-weight: normal;
          &.active {
            color: #59b6e6;
          }
        }
      }
    }
    .view-footer {
      background: #dcd4c7;
      -webkit-box-shadow: 0px 8px 14px -5px rgba(0,0,0,0.17);
      -moz-box-shadow: 0px 8px 14px -5px rgba(0,0,0,0.17);
      box-shadow: 0px 8px 14px -5px rgba(0,0,0,0.17);
      padding-top: 5px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .block-menu {
        margin-bottom: 0;
        &:after {
          clear: both;
          content: "";
          display: table;
        }
      }
      #staff-directory-switch-view {
        position: relative;
        z-index: 11;
        ul.menu {
          float: left;
          li {
            margin-left: 0;
            margin-right: 3px;
          }
          li a {
            width: 24px;
            padding: 15px 17px;
            &.grid-view {
              background: #ccc1ae url(../../images/grid-view.png) no-repeat center center;
            }
            &.list-view {
              background: #ccc1ae url(../../images/list-view.png) no-repeat center center;
            }
          }
        }
      }
      #block-menu-menu-staff-directory-menu {
        padding: 0px;
        margin: 0;
        float: right;
        ul.menu {
          padding: 0px;
          margin: 0;
          li {
            list-style-type: none;
            list-style-image: none;
            float: left;
            margin-left: 3px;
            a {
              display: block;
              padding: 15px 20px;
              height: 28px;
              font-size: 16px;
              font-weight: bold;
              color: #4A4A4A;
              text-decoration: none;
              background: #ccc1ae;
              &.active {
                background: #59b6e6;
              }
              @media (max-width: 920px) {
                padding: 15px 10px;
                font-size: 15px;
	            }
            }
          }
        }
      }
      #block-menu-menu-staff-directory-view-mode-m,
      #block-menu-menu-admin-directory-view-mode-m {
        float: left;
        padding: 0px;
        margin: 0;
        ul.menu {
          padding: 0px;
          margin: 0;
        }
        li {
          list-style-type: none;
          list-style-image: none;
          float: left;
          margin-right: 3px;
          &#grid-view-switch a,
          &#table-view-switch a {
            display: block;
            text-indent: -999999999px;
            width: 58px;
            height: 58px;
            padding: 0;
            overflow: hidden;
            font-size: 16px;
            font-weight: bold;
            color: #18335D;
            text-decoration: none;
            background: #ccc1ae url(../../images/grid-view.png) no-repeat center center;
          }
          &#grid-view-switch a.active {
            background: #59b6e6 url(../../images/grid-view-active.png) no-repeat center center;
          }
          &#table-view-switch a {
            background: #ccc1ae url(../../images/list-view.png) no-repeat center center;
            &.active {
              background: #59b6e6 url(../../images/list-view-active.png) no-repeat center center;
            }
          }
        }
      }
    }
  }
  .staff-table-listing {
    color: #4A4A4A;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    background: #fff;
    &:hover {
      background: #fff;
    }
    a {
      color: #4A4A4A;
      font-size: 16px;
      font-weight: normal;
      text-decoration: none;
    }
    .staff-listing-name {
      font-family: @family-header-medium-font;
      font-size: 20px;
      a {
        font-size: 20px;
      }
    }
    .staff-listing-phone {
      font-size: 18px;
      font-weight: normal;
    }
  }
  .staff-listing {
    display: inline-block;
    width: 32.0%;
    color: #4A4A4A;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-right: 1%;
    margin-top: 15px;
    vertical-align: top;
    .staff-listing-portrait {
      float: left;
      margin-right: 15px;
    }
    .staff-listing-name {
      font-family: @family-header-medium-font;
      font-size: 20px;
      a {
        font-size: 20px;
      }
    }
    a {
      color: #4A4A4A;
      font-size: 18px;
      font-weight: normal;
      text-decoration: none;
      color: #00468b;
    }
  }
}

#content .events-exhibition-view {
  margin-top: 40px;
  h2 {
    font-size: 38px;
    color: #4D4E4E;
    font-weight: 600;
    margin-bottom: 35px;
  }
  .event-row {
    margin-bottom: 40px;
    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
  .views-more-link:after {
    content: ">";
  }
  .views-field-field-event-date {
    li {
      font-size: 14px;
      color: #4A4A4A;
      font-weight: normal;
      margin: 0;
      list-style-type: none;
      line-height: 20px;
    }
  }
  .event-body {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
  }
  .event-title a {
    font-size: 20px;
    font-weight: 600;
    color: #00468B;
    text-decoration: none;
  }
  .event-image {
    position: relative;
    float: left;
    margin-right: 40px;
    @media (max-width: 420px) {
	    float: none;
			margin: 0 0 0 15px;
    }
    .event-image-date {
      position: absolute;
      top: -15px;
      left: -15px;
      border: solid 1px #333;
      text-align: center;
      background: #fff;
      width: 60px;
      height: 55px;
      padding-top: 5px;;
      font-size: 16px;
      font-weight: 600;
      color: #4A4A4A;
      z-index: 5;
      .event-image-day {
        font-size: 32px;
      }
    }
  }
}
.sidebars .events-exhibition-view {
  padding: 15px 15px 0;
  .calendar-calendar {
    .tablesaw th.tablesaw-cell-hidden, .tablesaw td.tablesaw-cell-hidden {
      display: table-cell;
    }
    .tablesaw-bar {
      display: none;
    }
    .tablesaw tbody tr {
      background: none;
    }
    .tablesaw th,
    .tablesaw td {
      background: #bdb099;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 13px;
      border: none;
      padding: 5px 0;
    }
    .tablesaw td {
      color: #4D4E4E;
      text-align: center;
      background: none;
      padding: 2px 0;
    }
    .tablesaw td a {
      font-weight: bold;
      font-size: 13px;
    }
  }
  .date-nav-wrapper .date-nav {
    margin-bottom: 0;
    padding-bottom: 0;
    background: #dcd4c6;
    h3 a {
      font-size: 16px;
      font-weight: bold;
      color: #4D4E4E;
    }
    ul.pager {
      margin: 0;
      li {
        background: none;
        padding: 0;
        margin: 0;
        a {
          background: none;
          line-height: 35px;
          padding: 0 10px;
          font-size: 30px;
          color: #4D4E4E;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

// events view on the home page
// to make accessible
.view-display-id-events_exhibition_block {
  a {
    display: inline-block;
  }
}

// news center view
.news-center-view {
  position: relative;
  top: -45px;
  z-index: 8;
  .list-text-wrapper {
    @media (min-width: 1050px) {
      float: left;
      width: 465px;
    }
  }
  .views-exposed-widget {
    vertical-align: bottom;
    margin-bottom: 2rem;
    .views-widget,
    label {
      display: inline-block;

      @media (max-width: 844px) {
        display: block;
      }
    }
    .form-submit {
      margin-top: 0;
    }
    .form-item {
      input,
      select {
        max-width: 100%;
      }
    }
  }
  .view-filters {
    background: #ede9e0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    margin-bottom: 4rem;
    padding: 25px;
    -webkit-box-shadow: 0px 8px 14px -5px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 8px 14px -5px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 8px 14px -5px rgba(0, 0, 0, 0.17);
  }
  .views-widget-filter-created {
    .form-item {
      display: inline-block;

      @media @mobile {
        display: block;
      }
      label {
        padding-right: 2rem;
      }
      .form-text {
        margin-right: 3rem;

        @media @mobile {
          &:first-child {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  .field-name-field-image {
    text-align: center;
  }
}

.view-research-databases {
  &.az-database-list {
    top: 0;
  }
  position: relative;
  top: -45px;
  z-index: 8;
  .view-filters,
  .view-header {
    background: #ede9e0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    padding: 25px;
    .views-exposed-widgets {
      margin-bottom: 0;
    }
    label,
    label + .views-widget {
      display: inline-block;
      max-width: 100%;
    }
    .views-exposed-form .views-exposed-widget .form-submit {
      margin-top: 0;
    }
  }
  .attachment.attachment-before &.most-recommended-attachment {
    position: relative;
    top: 0;
    z-index: 1;
    .view-header {
      background: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding: 0;
      margin-top: 40px;
      h4 {
        margin: 10px 0;
      }
    }
    .view-content {
      margin-top: 0px;
    }
  }
  .attachment.attachment-before .az-database-list {
    background: #ede9e0;
    padding: 0 0 40px;
    position: relative;
    .view-header {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding: 0 25px;
    }
    .view-content {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      text-align: center;
      padding-top: 3px;
      margin-top: 10px;
      .views-summary-unformatted {
        display: inline-block;
        color: #4A4A4A;
        font-size: 18px;
        font-weight: normal;
        margin: 0 12px;
        a {
          color: #4A4A4A;
          font-size: 18px;
          font-weight: normal;
          &.active {
            color: #59b6e6;
          }
        }
      }
    }
  }
  &.database-listing .view-content {
    color: #4A4A4A;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-top: 40px;
    h4.view-content-title {
      margin-bottom: 10px;
    }
    a {
      color: #4A4A4A;
      font-size: 18px;
      font-weight: normal;
      text-decoration: none;
    }
  }
}

.subject-librarians {
  position: relative;
  top: -45px;
  z-index: 8;
  .view-header {
    background: #ede9e0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    .views-exposed-widgets {
      margin-bottom: 0;
      padding: 25px 25px 0;

      select {
        background-position: 96%;
        color: #9B9B9B;
      }
    }
    label,
    label + .views-widget {
      display: inline-block;
    }
    .views-exposed-form .views-exposed-widget .form-submit {
      margin-top: 0;
    }
    .block-menu {
      margin-bottom: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    ul.menu {
      padding: 0px;
      margin: 0;
      float: right;
      li {
        list-style-type: none;
        list-style-image: none;
        float: left;
        margin-left: 3px;
        a {
          display: block;
          padding: 15px 20px;
          height: 28px;
          font-size: 16px;
          font-weight: bold;
          color: #4A4A4A;
          text-decoration: none;
          background: #ccc1ae;
          &.active {
            background: #59b6e6;
          }
        }
      }
    }
  }
  .view-content {
    width: 100%;
    h3 {
      margin: 10px 0;
      & + .views-row + h3 {
        margin-top: 0;
        padding-top: 10px;
      }
      a {
        font-size: 25px;
        color: #4A4A4A;
        font-weight: 600;
      }
    }
    .views-row {
      display: table;
      width: 100%;
      color: #4A4A4A;
      font-size: 18px;
      font-weight: normal;
      background: #ede9e1;
      text-decoration: none;
      a {
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
      }
      .subject-librarian-portrait {
        line-height: 0;
      }
      .subject-librarian-portrait,
      .subject-librarian-name,
      .subject-librarian-email,
      .subject-librarian-phone {
        display : table-cell;
        width: 25%;
        vertical-align: middle;
        text-align: center;
        padding: 10px 0;
        font-size: 18px;
        font-weight: normal;
      }
      .subject-librarian-name {
        font-size: 20px;
        font-weight: 600;
        a {
          font-size: 20px;
          font-weight: 600;
        }
      }
      &:nth-of-type(odd) {
        background: #ede9e1;
      }
      & > .subject-librarian-phone:first-child {
        width: 100%;
      }
      .subject-librarian-phone p {
	      margin: 0;
      }
    }
  }
}

// fix this later!
.view-contact-info-view {
  padding: 1.7rem;
  .field-label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
  }
}
.featured-news-slider {
  margin: 50px -59px 70px;
  padding-bottom: 30px;
  position: relative;

  @media (max-width: 1200px) {
    margin: 20px 0 70px;
  }
  @media (max-width: 850px) {
    background-position-x: 500px;
    margin-left: -15px;
    margin-right: -15px;
    .view-featured-news-slider {
      background-position-x: -70px!important;
    }
  }
  @media (max-width: 750px) {
    background-position-x: 380px;
  }
  @media (max-width: 650px) {
    background-position-x: 350px;
  }
  @media (max-width: 550px) {
    background-position-x: 250px;
    .view-featured-news-slider {
      background-position-x: -100px!important;
    }
  }
  @media (max-width: 400px) {
    background-position-x: 150px;
  }
  @media (max-width: 280px) {
    background-position-x: 50px;
    .view-featured-news-slider {
      background-position-x: -180px!important;
    }
  }

  .view-featured-news-slider {
    color: #005aa3;

    .slick-list { 
      margin: 0 auto;
      padding-top: 2rem;
      width: 65%;
      min-height: 370px;
      .slick-track {
        @media (min-width: 768px) {
          height: auto;
        }
        .slide__content {
          border: 1px solid @color-grey;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
          margin: 0 5px;
          background: #fff;
          height: inherit;
          min-height: 400px;
          @media @mobile {
            margin: 0 auto;
            max-width: 230px;
          }
          @supports (display: flex) {
            .featured-news-slider .view-featured-news-slider .slick-list .slide-track .slide__content {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
            }
          }
          img {
            margin: 0 auto;
            width: 100%;
          }
        }
      }
    }
    .slick--slider {
      .slick-track {
        padding-bottom: 5px;
      }
      .slick-arrow {
        border: 3px solid #033660;
        font-size: 0;
        height: 75px;
        padding: 14px 26px;
        position: absolute;
        width: 74px;
        top: 40%;
        color: #005aa3;
        z-index: 6;
        &:before {
          font-size: 5rem;
          left: 4px;
          position: relative;
        }
        &.slick-next {
          background: url('/sites/all/themes/custom/ucsblib_theme/images/right_arrow.png') no-repeat center bottom #033660;
          background-position: 50%;
          right: 80px;
          color: #005aa3;
          &:before {
            content: '';
          }
        }
        &.slick-prev {
          background: url('/sites/all/themes/custom/ucsblib_theme/images/left_arrow_2.png') no-repeat center bottom #033660;
          background-position: 50%;
          left: 75px;
          color: #005aa3;

          &:before {
            content: '';
            left: -2px;
          }
        }
        @media @mobile {
          margin-left: 23px;
          margin-right: 23px;
          padding: 14px 24px;
        }
      }
    }
  }

  .view-header {
    left: 70px;
    max-width: 135px;
    position: absolute;
    top: 20px;
    z-index: 5;

    p.slider-title {
      color:   #005aa3;
      font-weight: 600;
      line-height: 42px;
      margin: 0 0 12px;
      font-size: 44px;
      @media @mobile {
        font-size: 40px;
      }
    }

    a {
      color: #005aa3;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .1em;
      text-decoration: underline;
    }
  }

  .view-content {
    .views-field-title {
      a {
        font-size: 18px;
        color: #4A4A4A;
        font-weight: 600;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .view-featured-news-slider {
      .slick-list {
        margin-left: 25%;
        margin-right: 20%;
        padding-top: 2rem;
        width: 55%;
      }
      .slick--slider .slick-arrow {
        &.slick-next {
          right: 5%;
        }
        &.slick-prev {
          left: 10%;
        }
      }
    }
  }
  @media (max-width: 850px) {
    .view-header {
      left: 15px;
      max-width: 145px;
      position: absolute;
      top: 20px;
      z-index: 5;
    }
  }
  @media (max-width: 600px) {
    padding-bottom: 10px;
    background-position-y: 170px;
    .view-header {
      left: 15px;
      position: relative;
      top: 20px;
      max-width: 100%;
    }
    .view-featured-news-slider {
      .slick-list {
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        box-sizing: border-box;
        padding: 20px 0 0;
      }
      .views-field-title {
        padding: 10px 15px;
      }
      .slick--slider .slick-arrow {
        &.slick-next {
          right: 0px;
          margin: 10px 0;
          top: 37%;
        }
        &.slick-prev {
          left: 0px;
          margin: 10px 0;
          top: 37%;
        }
      }
    }
  }
  @media (max-width: 400px) {
    .view-featured-news-slider {
      .slick--slider .slick-arrow {
        &.slick-next {
          right: 0px;
          top: 40%;
        }
        &.slick-prev {
          left: 0px;
          top: 40%;
        }
      }
    }
  }
  .slick-slide {
    @media (max-width: 850px) and (min-width: 768px) {
      display: inline-block;
      margin: 0.17%;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }
}
.view-featured-news-slider {

}


@media screen and (max-width: 1060px) {
  .staff-directory-view .view-filters,
  .subject-librarians {
    #edit-search-wrapper,
    #edit-tid-wrapper {
      width: 42%;
      box-sizing: border-box;
      padding-right: 0;
    }
    .views-exposed-widget.views-submit-button {
      width: 15%;
      box-sizing: border-box;
      input {
        max-width: 100%;
        width: 100%;
        padding: 9px 0;
      }
    }
    label[for=edit-search] {
      width: 33%;
      box-sizing: border-box;
      padding-right: 10px;
    }
    label[for=edit-tid] {
      width: 9%;
      box-sizing: border-box;
      padding-right: 10px;
    }
    div.views-widget {
      width: 83%;
      box-sizing: border-box;
      select,
      input[type=text] {
        max-width: 100%;
        width: 100%;
      }
    }
    #edit-search-wrapper div.views-widget {
      width: 65%;
    }
  }

}

@media screen and (max-width: 1000px) {
  .staff-directory-view .az-staff-directory .view-content .views-summary-unformatted {
    margin: 0 7px;
  }
  .staff-directory-view .staff-listing {
    width: 46.7%;
    margin-right: 3%;
  }
}

@media screen and (min-width: 768px) {
  .staff-directory-view {
    .az-staff-directory .view-footer {
      #block-menu-menu-staff-directory-view-mode-m,
      #block-menu-menu-admin-directory-view-mode-m {
        display:block;
      }
      #block-menu-menu-staff-directory-menu {
        ul.menu li {
          display: block!important;
        }
      }
    }
  }
  .subject-librarians {
    #block-menu-menu-staff-directory-menu {
      ul.menu li {
        display: block!important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .staff-directory-view, {
    .az-staff-directory .view-footer, {
      text-align: center;
      #block-menu-menu-staff-directory-view-mode-m,
      #block-menu-menu-admin-directory-view-mode-m {
        display:none;
      }
      #block-menu-menu-staff-directory-menu {
        display: inline-block;
        float: none;
        ul.menu li {
          display: none;
          float: none;
          width: 200px;
          text-align: left;
        }
         ul.menu li.active-trail {
          display: inline-block;
          a {
            background: #59b6e6 url(../../images/down-chevron-staff.png) no-repeat 180px -24px;
            &.open {
              background: #59b6e6 url(../../images/down-chevron-staff.png) no-repeat 180px 24px;
            }
          }
        }
      }
    }
    .staff-listing {
      width: 100%;
      margin-right: 0;
      border-top: solid 1px #EDE9E1;
      padding-top: 15px;
      .staff-listing-portrait {
        width: 9%;
        margin-right: 4%
      }
      .staff-listing-name {
        width: 29%;
        float: left;
        box-sizing: border-box;
        padding-right: 7px;
      }
      .staff-directory-email {
        width: 34%;
        float: left;
        box-sizing: border-box;
        padding-right: 7px;
        a {
          font-size: 18px;
        }
      }
      .staff-directory-phone {
        width: 24%;
        float: left;
        font-size: 16px;
        box-sizing: border-box;
      }
    }
  }
  .subject-librarians {
    .view-header {
      text-align: center;
      #block-menu-menu-staff-directory-menu {
        display: block;
        float: none;
        ul.menu {
          float: none;
          li {
            display: none;
            float: none;
            width: 200px;
            text-align: left;
            margin: 0 auto;
          }
           li.active-trail {
            display: inline-block;
            a {
              background: #59b6e6 url(../../images/down-chevron-staff.png) no-repeat 180px -24px;
              &.open {
                background: #59b6e6 url(../../images/down-chevron-staff.png) no-repeat 180px 24px;
              }
            }
          }
        }
      }
    }
    .view-content {
      .views-row {
        .subject-librarian-portrait,
        .subject-librarian-name,
        .subject-librarian-email,
        .subject-librarian-phone {
          padding: 10px;
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .staff-directory-view .view-filters,
  .subject-librarians {
    .views-exposed-form {
      #edit-search-wrapper,
      #edit-tid-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding-right: 0;
      }
      .views-exposed-widget.views-submit-button {
        width: auto;
        text-align: center;
        float: none;
        input.form-submit {
          padding: 9px 48px;
          margin-top: 25px;
          width: auto;
        }
      }
      label[for=edit-search],
      label[for=edit-tid],
      #edit-search-wrapper div.views-widget {
        width: 100%;
        text-align: left
      }
      div.views-widget {
        width: 100%;
        select,
        input[type=text] {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .staff-table-listing {
    .staff-listing-portrait,
    .staff-directory-email,
    .staff-directory-phone {
      display: table-cell!important;
    }
  }
  .staff-listing {
    .staff-listing-portrait,
    .staff-directory-email,
    .staff-directory-phone {
      display: block!important;
    }
  }
  .subject-librarians {
    .views-row {
      .subject-librarian-portrait,
      .subject-librarian-email,
      .subject-librarian-phone {
        display: table-cell!important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .staff-directory-view {
    thead {
      display: none;
    }
    .az-staff-directory {
      .view-footer {
        #block-menu-menu-staff-directory-menu {
          width: 100%!important;
          ul.menu {
            li {
              width: 100%!important;
              margin-left: 0;
              &.active-trail {
                a {
                  background: #59b6e6 url(../../images/down-chevron-staff.png) no-repeat 95% -24px;
                  &.open {
                    background: #59b6e6 url(../../images/down-chevron-staff.png) no-repeat 95% 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .staff-listing,
    .staff-table-listing {
      width: 100%;
      margin-right: 0;
      margin-top: 0;
      .staff-listing-portrait {
        display: none;
      }
      .staff-listing-name {
        padding: 20px 10px 20px 40px;
        background: #fff url(../../images/plus.png) no-repeat 12px center;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        float: none;
        cursor: pointer;
        display: block!important;
        &.open {
          background: #fff url(../../images/minus.png) no-repeat 12px center;
        }
      }
      .staff-directory-email,
      .staff-directory-phone {
        width: 100%;
        float: none;
        background: #f6f4f0;
        display: none;
      }
      .staff-directory-email {
        padding: 15px 10px 0px 40px;
        a {
          font-size: 16px;
          color: #00468b;
          font-weight: normal;
        }
      }
      .staff-directory-phone {
        padding: 10px 10px 15px 40px;
        font-size: 16px;
      }
    }
    .az-staff-directory .view-content {
      display: none;
    }
  }
  .subject-librarians {
    margin: 0 -1.5rem;
    .view-header {
      #block-menu-menu-staff-directory-menu {
        width: 100%!important;
        ul.menu {
          li {
            width: 100%!important;
            margin-left: 0;
            &.active-trail {
              a {
                background: #59b6e6 url(../../images/down-chevron-staff.png) no-repeat 95% -24px;
                &.open {
                  background: #59b6e6 url(../../images/down-chevron-staff.png) no-repeat 95% 24px;
                }
              }
            }
          }
        }
      }
    }
    .view-content {
      h3 {
        padding-left: 15px;
      }
      .views-row-1 {
        border-top: solid 1px #EDE9E1;
      }
      .views-row {
        border-bottom: solid 1px #EDE9E1;
        width: 100%;
        margin-right: 0;
        margin-top: 0;
        .subject-librarian-portrait {
          display: none;
        }
        .subject-librarian-name {
          padding: 20px 10px 20px 40px;
          background: #fff url(../../images/plus.png) no-repeat 12px center;
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          float: none;
          cursor: pointer;
          display: block!important;
          box-sizing: border-box;
          text-align: left;
          &.open {
            background: #fff url(../../images/minus.png) no-repeat 12px center;
          }
        }
        .subject-librarian-email,
        .subject-librarian-phone {
          width: 100%;
          float: none;
          background: #f6f4f0;
          display: none;
          box-sizing: border-box;
          text-align: left;
        }
        .subject-librarian-email {
          padding: 15px 10px 0px 40px;
          a {
            font-size: 16px;
            color: #4A4A4A;
            font-weight: normal;
          }
        }
        .subject-librarian-phone {
          padding: 10px 10px 15px 40px;
          font-size: 16px;
        }
      }
    }
  }
}

.view-apache-search {
  margin-top: 10rem;

  .views-exposed-form {
    margin-bottom: 3rem;
  }
  form label {
    text-align: left;
  }

  button {
    a {
      color: #fff;
    }
  }
}


.view-search-api-test {
	.view-content {
		margin-bottom: 1.5em;
	}
	.item-list {
		.pager {
			li.pager-current {
				background: #ede9e1;
				padding: 0.6rem 1.6rem;
			}
			li.first {
				background: #ede9e1;
				padding: 0;
			}
			li.pager-previous a:after{
				content: "";
				font-family: inherit;
			}
			li.pager-next a:after{
				content: "";
				font-family: inherit;
			}
		}
	}
}

body.page-research-resources-databases-numeric .numeric-glossary-link a {
  color: #59b6e6!important;
}

@media (max-width: 767px) {
  .views-exposed-form .views-exposed-widget {
    display: block;
    label {
      text-align: left;
    }
  }
}