.speedboxes-selection {
  background: #0b69b9;
  background: rgba( 11, 110, 195, .33 );
  border: 1px solid #0b69b9;
}
.speedboxes-selected {
  outline: 3px solid #0b69b9;
}
.speedboxes-popup {
  border: 1px solid #0b69b9;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px rgba( 0, 0, 0, .33 );
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#bbbbbb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#bbbbbb 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%,#bbbbbb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
}
.speedboxes-action {
  padding: 2px 6px;
  border-right: 1px solid #0b69b9;
  text-decoration: none;
  color: #0b69b9;
  display: inline-block;
}
.speedboxes-action:hover {
  text-decoration: none;
  color: #fff;
  background: #0e86ed; /* Old browsers */
  background: -moz-linear-gradient(top, #0e86ed 0%, #0b69b9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e86ed), color-stop(100%,#0b69b9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0e86ed 0%,#0b69b9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0e86ed 0%,#0b69b9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0e86ed 0%,#0b69b9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #0e86ed 0%,#0b69b9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e86ed', endColorstr='#0b69b9',GradientType=0 ); /* IE6-9 */
}
.speedboxes-action.speedboxes-active-action {
  color: #666;
  background: #bbbbbb; /* Old browsers */
  background: -moz-linear-gradient(top, #bbbbbb 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bbbbbb 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bbbbbb 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bbbbbb 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom, #bbbbbb 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  cursor: default;
}
.speedboxes-action-reverse {
  border-right: none;
}
