// Events colors
@color-aqua: #04859B;
@color-sea-green: #0BA89A;
@color-moss: #7A8D39;
@color-coral: #EF5645;

@color-white: #ffffff;
@color-dark-blue: #003660;

.page-displays {
  background: none;

  #page,
  #main,
  .content-wrapper {
    padding: 0 !important;
  }

  &.page-displays-events-landscape {
    width: 1920px;
    height: 1080px;
    background: none !important;
    padding: 0;
    position: relative;
    .flexslider {
      li {
        width: 1920px !important;
        position: relative;
        background: @color-aqua;
      }
      li.color-aqua {
        background: @color-aqua;
        .date-wrapper {
          span {
            color: @color-aqua;
          }
        }
      }
      li.color-sea-green {
        background: @color-sea-green;
        .date-wrapper {
          span {
            color: @color-sea-green;
          }
        }
      }
      li.color-moss {
        background: @color-moss;
        .date-wrapper {
          span {
            color: @color-moss;
          }
        }
      }
      li.color-coral {
        background: @color-coral;
        .date-wrapper {
          span {
            color: @color-coral;
          }
        }
      }
    }
    .event-wrapper {
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      align-items: center;
      padding: 39px 35px;
      box-sizing: border-box;
      width: 1920px !important;
      height: 1080px;
      .image-and-date-wrapper {
        position: relative;
        border: 12px solid @color-white;
        width: 816px;
        height: 816px;
        margin: 35px 50px 35px 20px;
        .field-event-image {
          float: none;
          padding: 0;
          height: 100%;
          margin: 0;
          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
        }
        .date-wrapper {
          width: 220px;
          height: 220px;
          background-color: @color-white;
          position: absolute;
          top: 0;
          left: 0;
          span {
            display: block;
            color: @color-aqua;
            text-align: center;
            line-height: 1;
          }
          .month {
            font-size:60px;
            font-family: 'hindbold', Helvetica, Arial, sans-serif;
            padding-top: 18px;
            text-transform: uppercase;
          }
          .day {
            font-size: 130px;
            font-family: 'hindbold', Helvetica, Arial, sans-serif;
          }
        }
      }
      .info-wrapper {
        color: @color-white;
        font-family: 'hindbold', Helvetica, Arial, sans-serif;
        line-height: 1;
        width: 880px;
        .title {
          font-size: 82px;
          line-height: 1.2;
          margin-bottom: 20px;
        }
        .body {
          font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
          font-size: 50px;
          line-height: 1.2;
          margin-bottom: 20px;
        }
        .date {
          font-size: 50px;
          line-height: 1.2;
          visibility: hidden;
          &.loaded {
            visibility: visible;
          }
        }
        .location {
          font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
          font-size: 50px;
          line-height: 1.2;
          margin-bottom: 20px;
        }
        .ucsb-reads-landscape {
          position: absolute;
          right: 50px;
          bottom: 50px;
          img {
            height: 300px;
            width: 300px;
          }
        }
        .ucsb-reads-portrait {
          display: none;
        }
        .library-signature {
          width: 400px;
          height: 115px;
          font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
          line-height: 1.2;
          margin-top: 20px;
          .library-univ {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 40px;
            strong {
              font-weight: 700;
            }
          }
          .library {
            font-size: 60px;
          }
        }
      }
    }
  }
  &.page-displays-events-portrait {
    width: 1080px;
    margin: 0 auto;
    height: 1920px;
    .flexslider {
      li {
        background: @color-aqua;
      }
      li.color-aqua {
        background: @color-aqua;
        .date-wrapper {
          span {
            color: @color-aqua;
          }
        }
      }
      li.color-sea-green {
        background: @color-sea-green;
        .date-wrapper {
          span {
            color: @color-sea-green;
          }
        }
      }
      li.color-moss {
        background: @color-moss;
        .date-wrapper {
          span {
            color: @color-moss;
          }
        }
      }
      li.color-coral {
        background: @color-coral;
        .date-wrapper {
          span {
            color: @color-coral;
          }
        }
      }
    }
    .page-display-top {
      padding: 0 68px 34px 68px;
      height: 214px;
      background: repeating-linear-gradient(45deg,
      #DFDFDF,
      #DFDFDF 6.5px,
      #E9E9E9 6.5px,
      #E9E9E9 32.8px);

      .page-display-top-wrapper {
        .page-title {
          font-size: 86px;
          font-weight: bold;
          letter-spacing: normal;
          color: @color-dark-blue;
          display: inline-block;
          vertical-align: middle;
          font-family: 'hindbold', Helvetica, Arial, sans-serif;
          line-height: 1;
          margin-top: 130px;
          text-transform: uppercase;
        }
      }
    }
    .event-wrapper {
      padding: 68px 68px 35px 68px;
      .image-and-date-wrapper {
        position: relative;
        border: 12px solid @color-white;
        width: 920px;
        height: 920px;
        margin-bottom: 60px;
        .field-event-image {
          height: 100%;
          float: none;
          margin: 0;
          padding: 0;
          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
        }
        .date-wrapper {
          width: 230px;
          height: 230px;
          background-color: @color-white;
          position: absolute;
          top: 0;
          left: 0;
          span {
            display: block;
            color: @color-aqua;
            text-align: center;
            line-height: 1;
          }
          .month {
            font-size:60px;
            font-family: 'hindbold', Helvetica, Arial, sans-serif;
            padding-top: 28px;
            text-transform: uppercase;
          }
          .day {
            font-size: 130px;
            font-family: 'hindbold', Helvetica, Arial, sans-serif;
          }
        }
      }
      .info-wrapper {
        position: relative;
      }
      .info-wrapper-inner {
        color: @color-white;
        font-family: 'hindbold', Helvetica, Arial, sans-serif;
        line-height: 1;
        height: 565px;
        overflow-y: hidden;
        .title {
          font-size: 80px;
          line-height: 1.25;
          margin-bottom: 6px;
        }
        .body {
          font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
          font-size: 50px;
          line-height: 1.2;
          margin-bottom: 20px;
        }
        .date {
          font-size: 50px;
          line-height: 1.2;
          visibility: hidden;
          &.loaded {
            visibility: visible;
          }
        }
        .library-signature {
          display: none;
        }
        .title-wrapper-reads {
          //display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
          //display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
          //display: -ms-flexbox;      /* TWEENER - IE 10 */
          //display: -webkit-flex;     /* NEW - Chrome */
          //display: flex;
          //-webkit-flex-direction: row;
          //-moz-flex-direction: row;
          //-ms-flex-direction: row;
          //flex-direction: row;
          //align-items: flex-start;
          .title {
            float: left;
            //margin-right: 220px;
            width: 720px;
          }
          .body {
            clear: left;
          }
          .ucsb-reads-portrait {
            //margin-left: auto;
            //flex: 0 0 230px;
            width: 220px;
            height: 240px;
            float: right;
            img {
              height: 300px;
              width: 300px;
              position: absolute;
              right: -68px;
              top: -30px;
            }
          }
        }
        .ucsb-reads-landscape {
          display: none;
        }
        .location {
          font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
          font-size: 50px;
          line-height: 1.2;
          margin-bottom: 20px;
        }
      }
    }
  }
}
