div.hp-search-alexandria,
div.hp-search-melvyl,
div.hp-search-research-guides,
div.hp-search-oac {
	display: none;
}
a.hp-search-links-active {
	color: red;
}
ul.hp-search-controls {
	width: 33%;
  float: left;
  list-style-image: none;
  padding: 0 0 0 15px;
  margin: 0;
  box-sizing: border-box;
}
ul.hp-search-controls li {
	list-style-type: none;
	text-align: center;
}
ul.hp-search-controls li a {
	color: #fff;
	display: block;
	float: left;
	min-height: 110px;
	max-width: 33.3%;
	border: solid 1px #59B6E6;
	background: rgba(18,36,46,0.7);
	box-sizing: border-box;
	font-family: 'Hind';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 0;
  -ms-transform: skewX(-10deg); /* IE 9 */
  -webkit-transform: skewX(-10deg); /* Safari */
  transform: skewX(-10deg);
}
ul.hp-search-controls li:nth-child(1) a {
	-moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
ul.hp-search-controls li:nth-child(2) a,
ul.hp-search-controls li:nth-child(5) a {
	border-right: solid 1px rgba(18,36,46,0.7);
	border-left: solid 1px rgba(18,36,46,0.7);
}
ul.hp-search-controls li:nth-child(3) a {
	-moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
ul.hp-search-controls li:nth-child(4) a {
	-moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
ul.hp-search-controls li:nth-child(6) a {
	-moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
ul.hp-search-controls li a span {
	-ms-transform: skewX(10deg); /* IE 9 */
  -webkit-transform: skewX(10deg); /* Safari */
  transform: skewX(10deg);
  display: block;
}
ul.hp-search-controls li + li + li + li a {
	margin-top: -1px;
}
ul.hp-search-controls li a:hover {
	color: #59B6E6;
}
ul.hp-search-controls li a.hp-search-links-active {
	background: #FFCE34;
	color: #00468B;
	border: solid 1px #FFCE34;
	position: relative;
	z-index: 3;
}
.library-search-forms {
	width: 62%;
	margin-left: 5%;
	float: left;
}
p.hp-search-title {
	color: #fff;
	font-family: 'Hind', sans-serif; 
	font-weight: 600;
	line-height: 40px;
	font-size: 36px;
	margin-bottom: 10px;
}
.library-search-forms form a {
	font-family: 'Hind';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}