#google-cse-results-searchbox-form div, #google-cse-results-searchbox-form input {
    margin: 0;
    display: inline;
}

#google-cse-results-searchbox-form .form-radios div {
    display: block;
}

.gs-result .gs-image, .gsc-table-cell-thumbnail{
  /*  add  */
  display: none;
}

.gs-webResult .gs-visibleUrl {
/*  remove this color or set it to black*/
  color: black !important;
}
.gs-bidi-start-align.gs-snippet, .gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-breadcrumb {
    font-size: 16px;
}

.gsc-refinementHeader.gsc-inline-block.gsc-refinementhInactive:hover {
  background: #ddd4c6;
/*  border: 2px solid #1a73e8;*/
}


.gsc-refinementHeader.gsc-inline-block.gsc-refinementhActive {
  background: #fdfbf6;
  border-left: 2px solid #dfe1e5;
  border-top: 2px solid #dfe1e5;
  border-right: 2px solid #dfe1e5;
}
