
/* primary colors */
.primary0 {
/* for white */
	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
	border: 1px solid #efefef;
}

.primary1 {
	background-color:@color-blue;
}

.primary2 {
	background-color:@color-dark-blue;
}

.primary3 {
	background-color: @color-gold;
}

.primary4 {
	background-color: @color-black;
}

.primary5 {
	background-color: @color-black-two;
}

.primary6 {
	background-color: @color-red-orange;
}

.primary7 {
	background-color: @color-light-orange;
}

.primary8 {
	background-color: @color-green-blue;
}

.primary9 {
	background-color: @color-light-blue;
	color: @color-green-blue;
}

.primary10 {
	background-color: @color-light-blue-two;
	color: @color-green-blue;
}

.primary11 {
	background-color: @color-light-yellow;
}

/* secondary colors */
.secondary0 {
	background-color:@color-orange;
}

.secondary1 {
	background-color: @color-purple;
}

.secondary2 {
	background-color: @color-light-blue-three;
}

.secondary3 {
	background-color: @color-dark-grey;
}

.secondary4 {
	background-color: @color-grey;
}

.secondary5 {
	background-color: @color-light-grey;
}

.secondary6 {
	background-color: @color-dark-beige;
}

.secondary7 {
	background-color: @color-beige;
}

.secondary8 {
	background-color: @color-light-beige;
}

.secondary9 {
	background-color: @color-navy-blue;
}

.secondary10 {
	background-color: @color-navy-blue-two;
}

.secondary11 {
	background-color: @color-green-blue-two;
}

.secondary12 {
	background-color: @color-green-blue-three;
}

.secondary13 {
	background-color: @color-green-blue-four;
}

.secondary14 {
	background-color: @color-green;
}

.secondary15 {
	background-color: @color-light-green;
}

.secondary16{
	background-color: @color-light-green-two;
}

#patterns {
  .col-md-2 {
  	font-size: 1.1rem;
  	padding: 0;
  	text-align: center;
    text-transform: uppercase;

    a {
    	display: none;
    	color: #fff;
    	text-decoration: none;
    	vertical-align: middle;
    	background: rgb(255,255,255,0.9);
    	width: 100%;
    	line-height: 70px;
    }

    &:hover a {
    	display: block;
    	cursor: pointer;
    }
  }

  .secondary0 {
  	min-height: 70px;
  	background-color: #f7f7f7;

  	&.pattern-01 {
	    background-image: url(../images/pattern-waves.jpg);
    }

    &.pattern-02 {
    	background-image: url(../images/pattern-chevrons.jpg);
    }

    &.pattern-03 {
      background-image: url(../images/pattern-angle.jpg);
    }

    &.pattern-04 {
    	background-image: url(../images/pattern-waves-blue.jpg);
    }

    &.pattern-05 {
    	background-image: url(../images/Triangle-Gradient.png);
    }

    &.pattern-06 {
    	background-image: url(../images/Footer-triangle-gradient.png);
    	background-position: center center;
    }
  }
}
