

/* Menus */
/* Drop Down Menu */
/*#mega-menu {
	background: @color-light-grey;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-top: 3px solid @color-light-blue-three;
	width: 26rem;

	ul {
  	padding: 10px 0;
  }

  li {
  	list-style: none;
  	 a {
    	display: block;
    	padding: 5px 0 4px 16px;
    }
  }
}*/

/*#mega-menu {
	background: @color-light-grey;
	border-top: 3px solid @color-light-blue-three;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	width: 260px;

	ul {
		padding: 10px 0;
		ul {
			li {
				border-bottom: none;
			}
		}
		li {
			&:last-child {
				border: none;
			}
		}
	}
	li {
		border-bottom: 1px solid @color-light-grey;
		list-style: none;
		a {
			display: block;
			padding: 5px 0 4px 16px;
			&:hover {
				color: @color-light-blue-three;
				cursor: pointer;
				text-decoration: none;
			}
		}
		ul {
			li {
				a {
					display: block;
					padding: 0 0 0 16px;
				}
			}
		}
	}
}*/

.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel {
  background: @color-light-grey;
	border-top: 3px solid @color-light-blue-three;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	box-sizing: border-box;
	padding: 10px 0;
	width: 260px;

  .accessible-megamenu-panel-group {
    margin: 0;
    padding: 0;

    li {
  		//border-bottom: 1px solid #dcd4c6;
  		list-style: none;

  		&:last-child {
    		border-bottom: 0px none;
  		}

  		a {
  			display: block;
  			padding: 11px 0 9px 16px;

  			&:hover {
  				color: @color-light-blue-three;
  				cursor: pointer;
  				text-decoration: none;
  			}
      }

  		ul {
    		padding: 1rem 0;

  			li {
    			border: 0px none;
    			padding: 0 0 0 24px;

  				a {
  					display: block;
  					padding: 0 0 0 16px;
  				}
  			}
  		}
  	}
	}
}


/* Push Menu */
#block-slide-menu-menu {
	background: #1E3050;
	margin-top: 50px;
	min-height: 600px;
	overflow: hidden;

}
.slide-nav-menu-second-level.active {
	border-top: 2px solid @color-light-blue-three;
}
.kwall-slide-in-nav-menu,
.slide-in-nav-menu {
	-moz-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	background: @color-light-grey;
	box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	float: right;
	min-height: 60rem;
	padding: 10px 2%;
	width: 270px;
  max-width: 80%;
  min-width: 200px;
	a {
  	color: @color-blue;
		&:hover {
			color: @color-light-blue-three;
			cursor: pointer;
			text-decoration: none;
		}
	}
	.active {
		background-color: @color-grey;
		padding-left: 0;
	}
	li >.menu__link {
		display: inline-block;
		font-size: 1.6rem;
		padding: 3px 0 3px 18px;
		color: #00468B;
		&:hover {
			opacity: 0.7;
		}
	}
	.icon, .submenu-toggle i {
		font-size: 12px;
    line-height: 34px;
    padding-right: 18px;
    color: #00468B;
	}
}

.accordion-nav-top-level-menu,
.slide-nav-top-level-menu {
	padding: 0;
	li {
		border-bottom: 2px solid @color-light-blue-three;
		list-style: none;
		padding: 5px 0;
		position: relative;
		&.expanded,
		&.leaf {
  		list-style-image: none;
  		list-style-type: none;
		}
		&.expanded {
			padding: 5px 0 0;
		}
	}
	& >li {
  	&:before {
  		background: @color-light-blue-three;
  		content: "";
  		height: 28px;
  		position: absolute;
  		right: 52px;
  		top: 8px;
  		width: 1px;
  	}
  }

}
.slide-nav-top-level-menu>li.active {
	background-color: @color-light-grey;
	padding: 15px 0 0 0;
}
.slide-nav-menu-second-level,
.accordion-nav-top-level-menu > li > .accordion-nav-sub-menu{

	border-top: solid 1px #59B6E6;

	li {
		border-bottom: 1px solid #DCD4C6;
		padding: 5px 0;
		list-style: none;
		list-style-image: none;
		&:last-child {
			border-bottom: none;
		}
		&.expanded:before {
			background: #DCD4C6;
	    content: "";
	    height: 33px;
	    position: absolute;
	    right: 52px;
	    top: 3px;
	    width: 1px;
		}
	}
	a {
		color: @color-blue;
		font-size: 1.6rem;
		font-weight: 300;
		padding-left: 16px;
	}
	.active {
		.icon {
			color: @color-blue;
		}
	}
	li.active {
		&:before {
			background: @color-light-grey;
			content: "";
			height: 40px;
			position: absolute;
			right: 52px;
			top: 5px;
			width: 1px;
		}
	}
}
.slide-nav-menu-third-level.active,
.accordion-nav-top-level-menu > li > .accordion-nav-sub-menu .accordion-nav-sub-menu.active {
	border-top: 1px solid #DCD4C6;
}
.slide-nav-menu-third-level,
.accordion-nav-top-level-menu > li > .accordion-nav-sub-menu .accordion-nav-sub-menu {
	li {
		border-bottom: none;
		padding: 0 0 0 24px;
	}
	a {
		color: @color-blue;
		font-size: 14px;
	}
}
.submenu-toggle {
	position: absolute;
	right: 0;
}
.slide-menu-close {
	float: right;
	padding: 30px 23px 0 0;
}
.slide-menu-close-button {
	color: @color-grey;
	font-size: 2.6rem;
}
form {
	.search-field {
		background: transparent;
		border-bottom: 1px solid #ffffff;
		border: none;
		color: #ffffff;
		width: 100%;
	}
	.search-button {
		background: none;
		border: none;
		color: transparent;
		position: absolute;
		right: 20px;
		top: 0;
		width: 2rem;
	}
	.icon {
		color: #ffffff;
		font-size: 20px;
		position: absolute;
		right: 0px;
		top: 5px;
	}
}
.slide-nav-menu.links {
	li {
		border-bottom: none;
		list-style: none;
		min-height: auto;
		padding: 3px 0;
	}
}

/* Sidebar Menu */
.sidebar {
    border-radius: 6px;
    width: 30rem;
}

.sidebar-top a {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.sidebar-menu-block .menu,
.region-sidebar-first .menu-block-wrapper ul.menu,
.region-sidebar-first .block-og-menu ul.menu,
.menu.nav {
	padding: 0;

	li {
  	list-style: none;
  	position: relative;
		&.collapsed {
    	a:after {
		    font-family: 'FontAwesome';
		    content: "\f105";
		    font-size: 24px;
		    position: absolute;
		    right: 15px;
		    -webkit-transition: all .5s ease;
		    -moz-transition: all .5s ease;
		    -o-transition: all .5s ease;
		    -ms-transition: all .5s ease;
		    transition: all .5s ease;
			}
    }
	}

	a {
  	display: block;
  	background: @color-beige;
  	padding: 1rem 2.6rem;
  	margin-bottom: 2px;
  	color: @color-black;
  	border-left: 7px solid @color-beige;
  	border-bottom: solid 2px #fff;

  	&.active-trail {
    	background: @color-light-blue-three;
    	border-left: 7px solid @color-light-blue-three;
    	color: #fff;

      &:after {
        content: "";
        position: absolute;
        right: -11px;
        top: 0;
        border-bottom: 48px solid transparent;
        border-left: 12px solid @color-light-blue-three;
      }
    }
  	&:hover {
    	background: @color-light-grey;
    	text-decoration: none;
    	border-left: 7px solid @color-light-blue-three;
    }
    &.active-trail:hover {
    	background: @color-light-blue-three;
    }
  }

  ul {
    a:hover {
  	  border-left: 7px solid @color-orange;
    }

    ul a:hover {
    	border-left: 7px solid @color-purple;
    }
  }

  li li {
    a {
    	padding-left: 4rem;

      &.active-trail {
        background: @color-orange;
        border-left: 12px solid @color-orange;
        color: #FFF;
        &:after {
          border-left: 12px solid @color-orange;
        }
      }
    }

    li {
      a {
      	padding-left: 60px;
        &.active-trail {
          background: @color-purple;
          border-left: 12px solid @color-purple;
          color: #FFF;

          &:after {
            border-left: 12px solid @color-purple;
          }
        }
      }
    }

  }
}

/*DROPDOWN*/
.dropdown-menu {
	box-shadow: 0px 0px 0px #fff;
	font-family: 'Elena-Regular';
	font-size: 1.5rem;
	border:1px solid #dfdfdf;
	border-radius:0px;
}

ul.dropdown-menu li a {
	height: 40px;
	line-height: 40px;
	padding:0px 20px 0px 20px;
	color: #666;
	&:hover {
  	color: @color-light-blue-three;
  }
}

a.dropdown-toggle:active {
	border-color: @color-light-blue-three !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset, 0 0 0px rgba(0, 0, 0, 0.0) !important;
  outline: 0 none !important;
}

/* Sidebar picture Link */
.sidebar-picture-link {
	display: inline-block;

	h3 {
	  color: #fff;
	  font-size: 2rem;
	  line-height: 31px;
	  padding-left: 3rem;
  }

}

.sidebar-link-label {
	height: 6.2rem;
	width: 22.6rem;
	overflow: hidden;
	position: relative;
	margin-top: -4.3rem;
	margin-left: auto;
	margin-right: auto;

	-webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
}

.sidebar-link-image {
	position: absolute;
  left: -1rem;
  top: 0;
  height: 6.2rem;
  width: 28rem;
  background-image: url(../images/pattern-waves.jpg);
  background-repeat: repeat;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
}

//breadcrumb


.breadcrumb {
	background: none;
	padding: 0;
	margin: 0;
	border-radius: 0;
	text-transform: capitalize;

	ol {
  	margin: 0;
  	padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      font-size: 1.4rem;
      color: @color-grey;
      padding-left: 0;

      a {
      	font-size: 1.4rem;
      	text-transform: capitalize;
      	color: @color-grey;

      	&:hover,
      	&:visted,
      	&:focus {
        	text-decoration: none;
      	}

      	&:after {
          content: "/";
          color: @color-grey;
          padding: 0 15px;
        }

        &:hover {
          color: @color-light-blue-three;
          transition: color 0.2s;
          -webkit-transition: color 0.2s;
          -moz-transition: color 0.2s;
          -o-transition: color 0.2s;
        }
      }
    }
  }
}

/* Slideshow */
.slick-slider,
.slick--slider {
	//display: inline-block;
	//position: relative;

	button.slick-arrow.slick-next {
  	right: 0;
  }

  .slick-slide {
    padding: 0;
  	position: relative;
  }

  .slick-arrow {
  	background: none;
  	border: 2px solid @color-light-blue-three;
  	font-size: 0;
    line-height: 0;
  	margin: 10px;
  	padding: 5px 18px;
    position: absolute;
    top: 50%;
    z-index: 10;

    &:before {
      color: @color-light-blue-three;
      display: block;
      font-family: 'FontAwesome';
      font-size: 4rem;
      line-height: 4rem;
    }

    &.slick-prev {
     left: 0;

      &:before {
        content: '\f104';
      }
    }

    &.slick-next {
      right: 0;
      &:before {
        content: '\f105';
      }
    }

    i {
    	color: @color-light-blue-three;
    }
  }
}

.slick-dots {
	padding: 0;
	position: absolute;
  bottom: 15px;
  left: 43%;
  li {
  	color: #fff;
  	display: inline-block;
  	list-style: none;
  	button {
  		padding: 0;
    	color: @color-beige;
    	background: none;
    	border: none;

    	i {
    	  margin-right: 5px;
    	  font-size: 1.2rem;
      }
    }
  }

}


.slide-text h3{
	margin-top: 0;
}

.slide-text {
	position: relative;

	h3{
  	margin-top: 0;
  }
}

.slick-slider .slick-dots .slick-active i {
	color: @color-light-blue-three;
}
/*flexslider*/
//flex slider custom
.flexslider {
  margin: 0 auto;

  .flex-control-nav.flex-control-paging  {
    box-sizing: border-box;
    bottom: 10px;
    text-align: center;
    z-index: 10;

  	a:focus,
  	a:hover,
  	a.flex-active {
  			background: @color-light-blue-three;
  	}

  	li {
      margin: 0 5px;
      padding: 0;

  		a {
  			background: @color-beige;
  			&:hover {
  				background: #cccccc;
  			}
  		}
  	}
  }

  .flex-direction-nav a {
    display: block; /* I added this line */
  	background: none;
  	padding: 5px 18px;
  	margin: 10px;
  	border: 2px solid @color-light-blue-three;
    border-radius: 5px;
    box-sizing: border-box;
    height: 5.3rem;
    right: 0;
    width: 5.3rem;

    &:hover {
      border-color: #ffffff;

      &:before {
        color: #FFF;
      }
    }

    &:before {
      font-family: 'FontAwesome';
      color: @color-light-blue-three;
      line-height: 4rem;
    }

    &.flex-next {
      right: 0 !important;
      opacity: 1 !important;

      &:before {
        content: '\f105' !important;
        font-family: 'FontAwesome';
      }
    }

    &.flex-prev {
      left: 0 !important;
      opacity: 1 !important;

      &:before {
        content: '\f104';
        font-family: 'FontAwesome';
      }
    }
  }

  /*&:hover {
    .flex-direction-nav .flex-next {
      right: 0;
    }
    .flex-direction-nav .flex-prev {
      left: 0;
    }
  }*/
}

/* Homepage Slideshow */
.homepage {
  max-width: 50.9rem;
  .slide-text {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 8%, rgba(0,0,0,0.95) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 8%,rgba(0,0,0,0.95) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 8%,rgba(0,0,0,0.95) 100%);
		bottom: 0;
		box-sizing: border-box;
		color: #ffffff;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color-black-two00', endColorstr='#bf000000',GradientType=0 );
		padding: 7% 3% 11%;
		position: absolute;
		width: 100%;

		@media @mobile {
  		padding: 6% 3%;
		}

		a {
			color: #ffffff;
		}
    .field-slide-body,
	  p {
  	  line-height: 1.3em;
		  margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 70%;

      @media @mobile {
        width: 100%;
      }
	  }
    @media @mobile {
      background: @color-dark-grey;
      position: static;
    }
	}
	.flex-nav-next {
  	right: 0 !important;
	}
	.flex-control-nav.flex-control-paging {
  	@media @mobile {
    	bottom: auto;
    	top: 50%;
  	}
	}
}


#slideshow-small {
	width: 50.9rem;
	.slide-text {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.75) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%);
		bottom: 0;
		color: #ffffff;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color-black-two00', endColorstr='#bf000000',GradientType=0 );
		padding: 10% 3%;
		position: absolute;
		width: 100%;
		a {
			color: #ffffff;
		}
	}

	p {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 70%;
	}

	button.slick-arrow {
		bottom: 15%;
		font-size: 4rem;
		position: absolute;
		z-index: 2;
	}

	.slick-dots {

		i {
			color: @color-beige;
		}

		.slick-active {

			i {
				color: @color-light-blue-three;
			}

		}
		li {
			button {
				&:hover {
					color: #cccccc;
				}
			}
		}
	}
	.slick-arrow {
		&:hover {
			border-color: #ffffff;
			i {
				color: #ffffff;
			}
		}
	}
}
/* Big Slideshow */
.interior-slideshow.tablet {
  max-width: 72rem;
  .slide-text {
    background-color: @color-beige;
		display: block;
		margin: 0;
		padding: 3rem;
		width: inherit;
		p {
			margin-bottom: 30px;
		}
		&:after {
			border-bottom: 50px solid @color-purple;
			border-right: 300px solid transparent;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			z-index: 0;
		}
  }
  .flexslider .flex-direction-nav a {
    top: 25%;
    &.flex-next {
      right: 0;
    }
  }
  .flexslider .flex-control-nav.flex-control-paging  {
    bottom: 0;
		left: 0;

  }
  .field-type-image {
    display: block;
    width: 100%;
    img {
      max-height: none;
    }
  }
}
#slideshow-big {
	width: 72rem;
	.slide-text {
		background-color: @color-beige;
		padding: 3rem;
		p {
			margin-bottom: 30px;
		}
		&:after {
			border-bottom: 50px solid @color-purple;
			border-right: 300px solid transparent;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			z-index: 0;
		}
	}
	.button-container {
		height: 420px;
		position: absolute;
		width: 90px;
		z-index: 2;
	}
	.slick-next {
		right: 0;
		&:hover {
			background-image: linear-gradient(90deg, rgba(0,0,0,0.00) 2%, rgba(0,0,0,0.50) 98%);
		}
	}
	.slick-prev {
		&:hover {
			background-image: linear-gradient(-90deg, rgba(0,0,0,0.00) 2%, rgba(0,0,0,0.50) 98%);
		}
	}
	.slick-arrow {
		border-color: #ffffff;
		top: 40%;
		i {
			color: #ffffff;
		}
	}
	button.slick-arrow {
		font-size: 40px;
		opacity: 0.6;
		position: relative;
		z-index: 2;
		&:hover {
			opacity: 1;
		}
	}
	.slick-dots {
		bottom: 0;
		left: 0;
		margin: 0 0 0 20px;
		position: absolute;
		z-index: 2;
	}
}

/* Desktop Wide Slideshow */
.interior-slideshow {
  .slide-text {
		background-color: @color-beige;
		display: inline-block;
		height: 33.3rem;
		margin-left: -4px;
		padding: 30px;
		width: 40%;
		vertical-align: top;
		p {
			margin-bottom: 30px;
		}
		&:after {
			border-bottom: 50px solid @color-purple;
			border-right: 300px solid transparent;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			z-index: 0;
		}

	}
  .field-type-image {
    display: inline-block;
    width: 60%;
    img {
      max-height: 33.3rem;
    }
  }
  .flexslider .flex-direction-nav a {
    border-color: #FFF;
    top: 40%;
    &.flex-next {
      right: 40%;
    }
    &:before {
      color: #FFF;
    }
  }

  .flexslider .flex-control-nav.flex-control-paging  {
		bottom: 1rem;
		left: 60%;
		height: 23px;
		margin: 0 0 0 20px;
		position: absolute;
		width: inherit;
		z-index: 2;
  }
	@media (max-width:967px) {
  	.interior-slideshow.tablet;
	}

  @media (max-width:767px) {
    .flexslider .flex-direction-nav a {
      top: 10%;
    }
  }
}
#slideshow-wide {
	.slick-slider {
		vertical-align: top;
	}
	.slide-text {
		background-color: @color-beige;
		display: inline-block;
		height: 350px;
		margin-left: -4px;
		padding: 30px;
		width: 35.6rem;
		p {
			margin-bottom: 30px;
		}
		&:after {
			border-bottom: 50px solid @color-purple;
			border-right: 300px solid transparent;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			z-index: 0;
		}
	}
	.button-container {
		height: 35rem;
		position: absolute;
		width: 90px;
		z-index: 2;
	}
	.slick-next {
		right: 0;
		&:hover {
			background-image: linear-gradient(90deg, rgba(0,0,0,0.00) 2%, rgba(0,0,0,0.50) 98%);
		}
	}
	.slick-prev {
		&:hover {
			background-image: linear-gradient(-90deg, rgba(0,0,0,0.00) 2%, rgba(0,0,0,0.50) 98%);
		}
	}
	.slick-arrow {
		border-color: #ffffff;
		top: 40%;
		i {
			color: #ffffff;
		}
	}
	button.slick-arrow {
		font-size: 4rem;
		opacity: 0.6;
		position: relative;
		z-index: 2;
		&:hover {
			opacity: 1;
		}
	}
	.slick-dots {
		bottom: 0;
		left: 0;
		margin: 0 0 0 20px;
		position: absolute;
		z-index: 2;
	}
	.slick-active {
		i {
			color: @color-light-blue-three;
		}
	}
}

