/**
  *
  * Listing Styles
  *
  **/
/* CONTENT LISTS */
.grid-view {
  .views-row {
  	border: 1px solid @color-grey;
  	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  	display: inline-block;
  	margin: 0 2.6% 2.5rem;
  	padding: 0;
  	vertical-align: top;
  	width: 23.959%;

  	@media (max-width: 792px) {
  	  margin-left: 0;
  	  margin-right: 0;
	  }
  }

  .field-name-field-image img {
    height: auto;
    max-width: 100%;
  }

  .views-field-title {
    background: #FFF;
    font-size: 2rem;
    font-weight: 600;
    line-height: 26px;
    padding: 15px 15px 40px 15px;
  }
}
.listing-view.paragraph {
  .field-title-field {
    color: @color-dark-grey;
    font-size: 3rem;
    line-height: 4.8rem;
  }
}
.listing-view {
  &.paragraph:before {
  	background: @color-gold;
  	content: "";
  	display: block;
  	height: 2px;
  	margin-bottom: 1.5rem;
  	width: 10rem;
  }

  .views-row {
    margin-bottom: 2.5rem;
    overflow: hidden;
  }

  .date-image-wrapper {
    position: relative;
  }

  .field-name-field-image {
    float: left;
    margin-right: 15px;

    @media (max-width: 490px) {
      float: none;
      margin-bottom: 1.5rem;
      margin-right: 0;
    }
  }

  .date {
  	background: #fff;
  	color: #4A4A4A;
  	display: inline-block;
  	font-family: @family-header-alternate-font;
  	left: 0;
  	//margin: 1rem;
  	//padding-right: 2rem;
  	//padding: 3px 8px;
  	position: absolute;
  	text-align: center;
  	top: 0;

  	p {
    	margin: 0;
    }
    .day {
    	font-size: 4rem;
    }

    .month {
    	display: block;
    	font-size: 2rem;
    	margin-bottom: 0.5rem;
    	text-transform: uppercase;
    }
  }

  .views-field-title,
  .field-title-field {
    color: #00468b;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4em;
    //margin-bottom: 1rem;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        color: #0088cc;
      }
    }
  }

  .views-field-title-alternate {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.6em;
    margin-bottom: 1rem;
  }

  .field-type-datetime {
	  font-size: 1.4rem;
	  color: #4A4A4A;
	  margin-bottom: 1rem;
  }

  .field-name-field-body {
    margin-bottom: 0.8rem;
  }

  .field-department {
    font-size: 1.4rem;
	  color: #4A4A4A;
	  margin-bottom: 1rem;
  }
}

.compact-view {
  .views-row {
    background-color: #FFF;
    border: 1px solid @color-grey;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    margin-bottom: 1.4rem;
    padding: 1rem 3.5rem 1rem 1.6rem;
  	vertical-align: text-bottom;
  }

  .date {
    box-sizing: border-box;
    min-width: 39px;
    position: relative;
    //width: 20%;
    vertical-align: top;
    @media @tablet {
      width: 25%;
    }
  }

  .list-text-wrapper {
    border-left: 1px solid @color-grey;
    display: inline-block;
    margin-left: 12px;
    padding-left: 16px;
    vertical-align: top;
    width: calc(~"100% - 7.5rem");
    @media @tablet {
      width: calc(~"65% - 2rem");
    }
  }
}

.event-title {
	font-weight: 600;
	color: #00468B;
	margin-top: 0;
}

.inline-date {
	font-size: 1.4rem;
	color: #4A4A4A;
	margin-bottom: 1rem;
}

#content-lists {
  img {
  	width: 100%;
  	height: auto;
  }

  a {
  	text-decoration: underline;
  	text-transform: uppercase;
  }
}

.yellow-bar {
	background: @color-gold;
	height: 2px;
	margin-bottom: 1.5rem;
	width: 10rem;
}

.faculty-title {
	color: @color-dark-grey;
	font-weight: 600;
	margin-top: 0;
}
