/**
  *
  * Elements
  *
  **/

html {
  font-size: 62.5%;
}

body {
	font-family: @font-family;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: @color-black;
}

/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @font-family;
	letter-spacing: 0;
	line-height: 1.2em;
}

h1 {
	font-size: 5rem;
	line-height: 1.44em;
}

h2 {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.1053em;
	margin-bottom: 10px;
	margin-top: 0;
}

h3 {
  font-family: @family-header-font;
	font-size: 2.4rem;
	line-height: 1.6em;
}

h4 {
	font-size: 2.4rem;
	line-height: 1em;
}

h5 {
	font-size: 1.8rem;
	line-height: 2.3335em;
}

h6 {
	font-size: 1.6rem;
	line-height: 1.5em;
}

p {
	line-height: 24px;
}

a {
	color: @color-blue;
	&:visited {
  	text-decoration: none;
  	background-color: auto;
  }

}

hr {
	border-color: #DDD;
}

/* List Styles */
ul li,
ol li {
	line-height: 28px;
}

ul {
  list-style-image: url('../images/bullet.png');

  ul {
    list-style-image: url('../images/prp-square.png');

    ul {
	    list-style-image: url('../images/yel-bullet.png');

      ul {
  	    list-style-image: url('../images/org-square.png');
      }
    }
  }
}

ol li {
	padding-left: 15px;
}

/* Table */
table {
	width: 100%;

  thead {
	  background: @color-dark-beige;

	  th {
  	  font-weight: 600;
    }
  }

  th {
  	padding: 16px 16px;
  	font-weight: 400;
  	border-right: 1px solid @color-dark-beige;
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #fff;
      }

      &:nth-child(odd) {
        background-color: @color-beige;
      }

      &:hover {
      	background: @color-dark-beige;
      }
    }
  }
}

/* Figure */
figure {
	display: table;
	width: -webkit-min-content;
	width: -moz-min-content;
  width: min-content;
	vertical-align: top;
}

figcaption {
	background: @color-beige;
	font-size: 14px;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	display: table;
	position: relative;
	width: 100%;
}

form {
  .form-item {
    margin: .25em 0 2.5rem;

    label {
      display: block;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0.5rem;
	    padding-right: 7px;
	    text-align: left;

      &.option {
        //font-weight: @weight-text;
      }
    }
  }

  input[type='search'],
  input[type='text'],
  input[type='email'],
  .form-textarea,
  textarea,
  .form-text {
    border: 3px solid @color-dark-beige;
  	border-radius: 5px;
  	box-sizing: border-box;
  	display: inline-block;
  	font-size: 1.8rem;
  	min-height: 44px;
  	padding: 6px 12px;

  	&:focus {
    	border-color: @color-light-blue-three !important;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset, 0 0 0px rgba(0, 0, 0, 0.0) !important;
      outline: 0 none !important;
  	}
  }

  textarea:focus {
    border-color: @color-light-blue-three;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset, 0 0 0px rgba(0, 0, 0, 0.0);
    outline: 0 none;
  }

  input[type="checkbox"],
  input[type="radio"] {
    color: @color-black;
    font-size: 1.5rem;
    margin-top: .2em;
    margin-right: .5em;
    vertical-align: top;
  }

  .form-type-radio,
  .form-type-checkbox {
    margin-bottom: 0;

    label {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

/* Floating */
.float-left {
	float: left;
  margin-right: 2rem;
}

.float-right {
	float: right;
  margin-left: 2rem;
}

/* Pager */
.pager {
  li > a {
  	border: none;
  	background: @color-beige;
  	border-radius: 0;
  	color: @color-black;
  	padding: 0.6rem 1.6rem;

  	&:hover {
    	background: @color-dark-beige;
    }
  }

  .li.pager-current a {
  	height: 4rem;
  	background: @color-light-blue-three;
  	color: #FFF;
  	width: 4rem;

  	&:hover {
    	background: @color-light-blue-three;
    }
  }
}

/* Quicklinks */
.quicklinks {
	padding: 0;
	margin: 0;

	li {
  	list-style: none;
  	padding: 0;

  	a {
    	display: block;
    	background: #fff;
    	padding: 0.6rem 1rem;
      color: @color-blue;
      font-weight: 600;

      &:hover {
        text-decoration: none;

        i {
          padding-left: 0.6rem;
          -webkit-transition: padding 0.3s;
          -moz-transition: padding 0.3s;
          -o-transition: padding 0.3s;
          transition: padding 0.3s;
        }
      }

      i {
      	color: @color-light-blue-three;
        position: absolute;
        margin: 0.5rem 0 0 -1rem;
      }
    }

    &:after {
    	content: "";
    	width: 10em;
    	margin-left: 2rem;
    	position: absolute;
    	border-bottom: 1px dotted @color-blue;
    }

    &:last-child:after {
    	display: none;
    }
  }
}



/* Tabs */
.ui-tabs.ui-widget {
  p {
  	border: 1px solid @color-dark-beige;
  	margin-top: 0;
  	padding: 3rem;
  }
  ul {
  	height: 5.6rem;
  	margin: 0;
  	overflow: hidden;
  	padding: 0;
  	position: relative;
  	width: 96rem;

  	li {
    	position: absolute;
      background: @color-beige;
      list-style: none;
      transform: skew(-20deg);
      vertical-align: top;
      width: 34%;
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);

    	a {
        display: block;
        padding: 14px 10px;
        color: @color-black;
        text-align: center;
        transform: skew(20deg);
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);

        &:hover {
        	text-decoration: none
        }
      }

      &.ui-tabs-active {
        background: @color-blue;
        a {
      	  color: #FFF;
      	  text-decoration: none;
        }
      }
      &:hover {
      	background: @color-dark-beige;
      }
      &:first-child {
      	left: -15px;
      }
      &:nth-child(2) {
      	left: 33%;
      }
      &:last-child {
      	right: -15px;
      }
    }
  }
}

/* Accordions */
.ui-accordion.ui-widget {
  h3 {
  	background: @color-beige;
  	margin: 0;
  	margin-bottom: 1px;
  	font-size: 1.8rem;
  	padding: 1.6rem;
  	line-height: 18px;

  	&:before {
    	margin-right: 6px;
    	content: "\f107";
    	font-family: FontAwesome;
    }

    &:hover {
    	background: @color-dark-beige;
    	cursor: pointer;
    }

    &.ui-accordion-header-active {
    	background: @color-blue;
    	color: #fff;

      &:before {
      	content:  "\f106";
      	font-family: FontAwesome;
      }
    }
  }

  .ui-accordion-content {
	  height: auto !important;
  }

  p {
    margin: 0px;
    padding: 30px;
    border: 1px solid @color-dark-beige;
  }

  div {
  	height: auto;
  }
}

/*BUTTONS*/
html input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button,
a.button {
	border: 3px solid @color-blue;
	border-radius: 5px;
	background: @color-blue;
	color: #FFF;
	display: inline-block;
	font-weight: 800;
	padding: 9px 38.44px;
	-webkit-appearance: none;

	&:hover,
	&:focus {
    border: 3px solid @color-light-blue-three;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    text-decoration: none;
    transition: border 0.3s;
  }

  &.secondary {
	  background: @color-gold;
	  border: 2px solid @color-orange;
	  color: @color-blue;

	  &:hover {
    	border: 2px solid @color-gold;
    	transition: border 0.3s;
    }

	  &.cancel {
    	background: @color-dark-beige;

    	&:hover {
      	border: 2px solid @color-dark-beige;
      	transition: border 0.3s;
      }
    }
  }
}

.cancel {
	color: @color-blue;
	background: @color-grey;
	border: 3px solid @color-grey;
}

button[disabled] {
	opacity: 0.5;

	&:hover {
  	border: 3px solid @color-blue;
  	background: auto;
  }
}

button.secondary[disabled]:hover {
	border: 2px solid @color-orange;
	background: auto;
}

button.arrow,
a.button.arrow,
.button.arrow {
	text-align: left;
	padding: 1.5rem 1.5rem;
	min-width: 25.9rem;
	background-image: url("../images/pattern-chevrons.jpg");
	border: none;
	position: relative;

	&:hover:after{
  	right: 15px;
  	transition: right 0.2s;
  	-webkit-transition: right 0.2s;
    -moz-transition: right 0.2s;
    -o-transition: right 0.2s;
  }
}

.arrow,
a.arrow {
  i {
  	float: right;
  	font-size: 2.6rem;
  }

  &:before {
  	content: "";
  	position: absolute;
  	width: 1px;
  	height: 44px;
  	background: #fff;
  	margin-left: 190px;
  	margin-top: -9px;
  }
  &.blue {
  	font-weight: 400;
  	background: @color-light-blue-three;
  	color: @color-dark-blue;

  	&:before {
    	content: "";
    	position: absolute;
    	width: 1px;
    	height: 44px;
    	background: @color-dark-blue;
    	right: 17%;
    	margin-top: -9px;
    }
  }

  &:after {
  	font-family: 'FontAwesome';
  	content: "\f105";
  	font-size: 24px;
  	position: absolute;
  	right: 20px;
  }
}

/*FORMS*/
.select2-container--default {
  .select2-selection--single {
  	padding: 6px 12px;
  	height: auto;
    .select2-selection__arrow {
    	height: 40px;
    	width: 40px;
    	/* Select Arrow Down */

    	b {
      	border-color: none;
        border-style: none;
        border-width: 0;
        height: 0;
        margin-top: -10px;

        &:before {
          font-family: 'FontAwesome';
          content: "\f107";
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
        }
      }
    }

  	.select2-selection__rendered {
    	font-size: 1.8rem;
    	padding: 0;
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      border: 2px solid @color-light-blue-three;
    }
  }
  /* Select Arrow Up */

  &.select2-container--open {

    .select2-selection--single .select2-selection__arrow b::before {
      font-family: 'FontAwesome';
      content: "\f106";
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: @color-light-blue-three;
  }
}

.select2-container--default .select2-selection--single, .select2-dropdown {
  border: 2px solid @color-dark-beige;
  border-radius: 4px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: @color-light-grey;
  color: @color-black;
}
select {
  -webkit-appearance: none;
  border: 3px solid @color-dark-beige;
  border-radius: 4px;
  color: @color-black;
  margin: 0;
  padding: 1rem;
  background: url(/sites/all/themes/custom/ucsblib_theme/images/left_arrow.png) no-repeat right;
  background-color: #FFF;
  background-position: 95%;
  min-width: 100px;
  padding-right: 30px;
}
