/**
 * @file
 * Variables
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
  *
  * Elements
  *
  **/
html {
  font-size: 62.5%;
}
body {
  font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
}
/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  line-height: 1.2em;
}
h1 {
  font-size: 5rem;
  line-height: 1.44em;
}
h2 {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.1053em;
  margin-bottom: 10px;
  margin-top: 0;
}
h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.6em;
}
h4 {
  font-size: 2.4rem;
  line-height: 1em;
}
h5 {
  font-size: 1.8rem;
  line-height: 2.3335em;
}
h6 {
  font-size: 1.6rem;
  line-height: 1.5em;
}
p {
  line-height: 24px;
}
a {
  color: #00468b;
}
a:visited {
  text-decoration: none;
  background-color: auto;
}
hr {
  border-color: #DDD;
}
/* List Styles */
ul li,
ol li {
  line-height: 28px;
}
ul {
  list-style-image: url('../images/bullet.png');
}
ul ul {
  list-style-image: url('../images/prp-square.png');
}
ul ul ul {
  list-style-image: url('../images/yel-bullet.png');
}
ul ul ul ul {
  list-style-image: url('../images/org-square.png');
}
ol li {
  padding-left: 15px;
}
/* Table */
table {
  width: 100%;
}
table thead {
  background: #dcd4c6;
}
table thead th {
  font-weight: 600;
}
table th {
  padding: 16px 16px;
  font-weight: 400;
  border-right: 1px solid #dcd4c6;
}
table tbody tr:nth-child(even) {
  background-color: #fff;
}
table tbody tr:nth-child(odd) {
  background-color: #ede9e1;
}
table tbody tr:hover {
  background: #dcd4c6;
}
/* Figure */
figure {
  display: table;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  vertical-align: top;
}
figcaption {
  background: #ede9e1;
  font-size: 14px;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  display: table;
  position: relative;
  width: 100%;
}
form .form-item {
  margin: .25em 0 2.5rem;
}
form .form-item label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding-right: 7px;
  text-align: left;
}
form input[type='search'],
form input[type='text'],
form input[type='email'],
form .form-textarea,
form textarea,
form .form-text {
  border: 2px solid #dcd4c6;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.8rem;
  min-height: 44px;
  padding: 6px 12px;
}
form input[type='search']:focus,
form input[type='text']:focus,
form input[type='email']:focus,
form .form-textarea:focus,
form textarea:focus,
form .form-text:focus {
  border-color: #59b6e6 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(0, 0, 0, 0) !important;
  outline: 0 none !important;
}
form textarea:focus {
  border-color: #59b6e6;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(0, 0, 0, 0);
  outline: 0 none;
}
form input[type="checkbox"],
form input[type="radio"] {
  color: #333333;
  font-size: 1.5rem;
  margin-top: .2em;
  margin-right: .5em;
  vertical-align: top;
}
form .form-type-radio,
form .form-type-checkbox {
  margin-bottom: 0;
}
form .form-type-radio label,
form .form-type-checkbox label {
  display: inline-block;
  margin-bottom: 0;
}
/* Floating */
.float-left {
  float: left;
  margin-right: 2rem;
}
.float-right {
  float: right;
  margin-left: 2rem;
}
/* Pager */
.pager li > a {
  border: none;
  background: #ede9e1;
  border-radius: 0;
  color: #333333;
  padding: 0.6rem 1.6rem;
}
.pager li > a:hover {
  background: #dcd4c6;
}
.pager .li.pager-current a {
  height: 4rem;
  background: #59b6e6;
  color: #FFF;
  width: 4rem;
}
.pager .li.pager-current a:hover {
  background: #59b6e6;
}
/* Quicklinks */
.quicklinks {
  padding: 0;
  margin: 0;
}
.quicklinks li {
  list-style: none;
  padding: 0;
}
.quicklinks li a {
  display: block;
  background: #fff;
  padding: 0.6rem 1rem;
  color: #00468b;
  font-weight: 600;
}
.quicklinks li a:hover {
  text-decoration: none;
}
.quicklinks li a:hover i {
  padding-left: 0.6rem;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s;
}
.quicklinks li a i {
  color: #59b6e6;
  position: absolute;
  margin: 0.5rem 0 0 -1rem;
}
.quicklinks li:after {
  content: "";
  width: 10em;
  margin-left: 2rem;
  position: absolute;
  border-bottom: 1px dotted #00468b;
}
.quicklinks li:last-child:after {
  display: none;
}
/* Icon Links */
.iconlinks {
  width: 60%;
}
.iconlinks li {
  width: 20.8rem;
  list-style: none;
  padding: 0;
  margin-bottom: 3.5rem;
  margin-right: 4rem;
  display: inline-block;
  position: relative;
}
.iconlinks li a {
  color: #59b6e6;
  font-weight: 700;
}
.iconlinks li a:hover {
  color: #00468b;
  text-decoration: none;
}
.iconlinks li img {
  margin-right: 1rem;
}
/* Tabs */
.ui-tabs.ui-widget p {
  border: 1px solid #dcd4c6;
  margin-top: 0;
  padding: 3rem;
}
.ui-tabs.ui-widget ul {
  height: 5.6rem;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 96rem;
}
.ui-tabs.ui-widget ul li {
  position: absolute;
  background: #ede9e1;
  list-style: none;
  transform: skew(-20deg);
  vertical-align: top;
  width: 34%;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}
.ui-tabs.ui-widget ul li a {
  display: block;
  padding: 14px 10px;
  color: #333333;
  text-align: center;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}
.ui-tabs.ui-widget ul li a:hover {
  text-decoration: none;
}
.ui-tabs.ui-widget ul li.ui-tabs-active {
  background: #00468b;
}
.ui-tabs.ui-widget ul li.ui-tabs-active a {
  color: #FFF;
  text-decoration: none;
}
.ui-tabs.ui-widget ul li:hover {
  background: #dcd4c6;
}
.ui-tabs.ui-widget ul li:first-child {
  left: -15px;
}
.ui-tabs.ui-widget ul li:nth-child(2) {
  left: 33%;
}
.ui-tabs.ui-widget ul li:last-child {
  right: -15px;
}
/* Accordions */
.ui-accordion.ui-widget h3 {
  background: #ede9e1;
  margin: 0;
  margin-bottom: 1px;
  font-size: 1.8rem;
  padding: 1.6rem;
  line-height: 18px;
}
.ui-accordion.ui-widget h3:before {
  margin-right: 6px;
  content: "\f107";
  font-family: FontAwesome;
}
.ui-accordion.ui-widget h3:hover {
  background: #dcd4c6;
  cursor: pointer;
}
.ui-accordion.ui-widget h3.ui-accordion-header-active {
  background: #00468b;
  color: #fff;
}
.ui-accordion.ui-widget h3.ui-accordion-header-active:before {
  content: "\f106";
  font-family: FontAwesome;
}
.ui-accordion.ui-widget .ui-accordion-content {
  height: auto !important;
}
.ui-accordion.ui-widget p {
  margin: 0px;
  padding: 30px;
  border: 1px solid #dcd4c6;
}
.ui-accordion.ui-widget div {
  height: auto;
}
/*BUTTONS*/
html input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button,
a.button {
  border: 3px solid #00468b;
  border-radius: 5px;
  background: #00468b;
  color: #FFF;
  display: inline-block;
  font-weight: 800;
  padding: 9px 38.44px;
}
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:hover,
.button:hover,
a.button:hover,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:focus,
.button:focus,
a.button:focus {
  border: 3px solid #59b6e6;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  text-decoration: none;
  transition: border 0.3s;
}
html input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary,
button.secondary,
.button.secondary,
a.button.secondary {
  background: #ffce34;
  border: 2px solid #f37520;
  color: #00468b;
}
html input[type="button"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="submit"].secondary:hover,
button.secondary:hover,
.button.secondary:hover,
a.button.secondary:hover {
  border: 2px solid #ffce34;
  transition: border 0.3s;
}
html input[type="button"].secondary.cancel,
input[type="reset"].secondary.cancel,
input[type="submit"].secondary.cancel,
button.secondary.cancel,
.button.secondary.cancel,
a.button.secondary.cancel {
  background: #dcd4c6;
}
html input[type="button"].secondary.cancel:hover,
input[type="reset"].secondary.cancel:hover,
input[type="submit"].secondary.cancel:hover,
button.secondary.cancel:hover,
.button.secondary.cancel:hover,
a.button.secondary.cancel:hover {
  border: 2px solid #dcd4c6;
  transition: border 0.3s;
}
.cancel {
  color: #00468b;
  background: #e9e9e9;
  border: 3px solid #e9e9e9;
}
button[disabled] {
  opacity: 0.5;
}
button[disabled]:hover {
  border: 3px solid #00468b;
  background: auto;
}
button.secondary[disabled]:hover {
  border: 2px solid #f37520;
  background: auto;
}
button.arrow,
a.button.arrow,
.button.arrow {
  text-align: left;
  padding: 1.5rem 1.5rem;
  min-width: 25.9rem;
  background-image: url("../images/pattern-chevrons.jpg");
  border: none;
  position: relative;
}
button.arrow:hover:after,
a.button.arrow:hover:after,
.button.arrow:hover:after {
  right: 15px;
  transition: right 0.2s;
  -webkit-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -o-transition: right 0.2s;
}
.arrow i,
a.arrow i {
  float: right;
  font-size: 2.6rem;
}
.arrow:before,
a.arrow:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 44px;
  background: #fff;
  margin-left: 190px;
  margin-top: -9px;
}
.arrow.blue,
a.arrow.blue {
  font-weight: 400;
  background: #59b6e6;
  color: #18335d;
}
.arrow.blue:before,
a.arrow.blue:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 44px;
  background: #18335d;
  margin-left: 190px;
  margin-top: -9px;
}
.arrow:after,
a.arrow:after {
  font-family: 'FontAwesome';
  content: "\f105";
  font-size: 24px;
  position: absolute;
  right: 20px;
}
/*FORMS*/
.select2-container--default {
  /* Select Arrow Up */

}
.select2-container--default .select2-selection--single {
  padding: 6px 12px;
  height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  width: 40px;
  /* Select Arrow Down */

}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: none;
  border-style: none;
  border-width: 0;
  height: 0;
  margin-top: -10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  font-family: 'FontAwesome';
  content: "\f107";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 1.8rem;
  padding: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 2px solid #59b6e6;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b::before {
  font-family: 'FontAwesome';
  content: "\f106";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #59b6e6;
}
.select2-container--default .select2-selection--single,
.select2-dropdown {
  border: 2px solid #dcd4c6;
  border-radius: 4px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f4f5f5;
  color: #333333;
}
select {
  -webkit-appearance: none;
  border: 2px solid #dcd4c6;
  border-radius: 4px;
  color: #333333;
  margin: 0;
  padding: 1rem;
  background: url(/sites/all/themes/custom/ucsblib_theme/images/left_arrow.png) no-repeat right;
  background-color: #FFF;
  background-position: 90%;
  min-width: 100px;
  padding-right: 30px;
}
/**
  *
  * Listing Styles
  *
  **/
/* CONTENT LISTS */
.grid-view .views-row {
  border: 1px solid #e9e9e9;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin: 0 2.6% 2.5rem;
  padding: 0;
  vertical-align: top;
  width: 23.959%;
}
@media (max-width: 792px) {
  .grid-view .views-row {
    margin-left: 0;
    margin-right: 0;
  }
}
.grid-view .field-name-field-image img {
  height: auto;
  max-width: 100%;
}
.grid-view .views-field-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 26px;
  padding: 15px 15px 40px 15px;
}
.listing-view .views-row {
  margin-bottom: 2.5rem;
  overflow: hidden;
}
.listing-view .date-image-wrapper {
  position: relative;
}
.listing-view .field-name-field-image {
  float: left;
  margin-right: 15px;
}
@media (max-width: 490px) {
  .listing-view .field-name-field-image {
    float: none;
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}
.listing-view .date {
  background: #fff;
  display: inline-block;
  left: 0;
  margin: 1rem;
  padding: 3px 8px;
  position: absolute;
  text-align: center;
  top: 0;
}
.listing-view .date p {
  margin: 0;
}
.listing-view .date .day {
  font-size: 4rem;
}
.listing-view .date .month {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.listing-view .views-field-title,
.listing-view .field-title-field {
  color: #00468b;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 1rem;
}
.listing-view .views-field-title a,
.listing-view .field-title-field a {
  text-decoration: none;
}
.listing-view .views-field-title-alternate {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.6em;
  margin-bottom: 1rem;
}
.listing-view .field-type-datetime {
  font-size: 1.4rem;
  color: #4A4A4A;
  margin-bottom: 1rem;
}
.listing-view .field-name-field-body {
  margin-bottom: 0.8rem;
}
.listing-view .field-department {
  font-size: 1.4rem;
  color: #4A4A4A;
  margin-bottom: 1rem;
}
.compact-view .views-row {
  background-color: #FFF;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.4rem;
  padding: 1rem 3.5rem 1rem 1.6rem;
  vertical-align: text-bottom;
}
.compact-view .date {
  position: relative;
  vertical-align: top;
}
.compact-view .list-text-wrapper {
  border-left: 1px solid #e9e9e9;
  display: inline-block;
  padding-left: 16px;
  vertical-align: top;
}
.event-title {
  font-weight: 600;
  color: #00468B;
  margin-top: 0;
}
.inline-date {
  font-size: 1.4rem;
  color: #4A4A4A;
  margin-bottom: 1rem;
}
#content-lists img {
  width: 100%;
  height: auto;
}
#content-lists a {
  text-decoration: underline;
  text-transform: uppercase;
}
.yellow-bar {
  background: #ffce34;
  height: 2px;
  margin-bottom: 1.5rem;
  width: 10rem;
}
.faculty-title {
  color: #4d4e4e;
  font-weight: 600;
  margin-top: 0;
}
/* primary colors */
.primary0 {
  /* for white */

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #efefef;
}
.primary1 {
  background-color: #00468b;
}
.primary2 {
  background-color: #18335d;
}
.primary3 {
  background-color: #ffce34;
}
.primary4 {
  background-color: #333333;
}
.primary5 {
  background-color: #000000;
}
.primary6 {
  background-color: #d94d1a;
}
.primary7 {
  background-color: #f7941f;
}
.primary8 {
  background-color: #00a3bf;
}
.primary9 {
  background-color: #b0e4ed;
  color: #00a3bf;
}
.primary10 {
  background-color: #e8f7fa;
  color: #00a3bf;
}
.primary11 {
  background-color: #ffeebe;
}
/* secondary colors */
.secondary0 {
  background-color: #f37520;
}
.secondary1 {
  background-color: #9261a8;
}
.secondary2 {
  background-color: #59b6e6;
}
.secondary3 {
  background-color: #4d4e4e;
}
.secondary4 {
  background-color: #e9e9e9;
}
.secondary5 {
  background-color: #f4f5f5;
}
.secondary6 {
  background-color: #dcd4c6;
}
.secondary7 {
  background-color: #ede9e1;
}
.secondary8 {
  background-color: #f8f5f1;
}
.secondary9 {
  background-color: #036c9d;
}
.secondary10 {
  background-color: #026b9c;
}
.secondary11 {
  background-color: #00a2b3;
}
.secondary12 {
  background-color: #42b9b9;
}
.secondary13 {
  background-color: #1bb799;
}
.secondary14 {
  background-color: #2dad4a;
}
.secondary15 {
  background-color: #8bc541;
}
.secondary16 {
  background-color: #bbd873;
}
#patterns .col-md-2 {
  font-size: 1.1rem;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
#patterns .col-md-2 a {
  display: none;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  background: #ffffff;
  width: 100%;
  line-height: 70px;
}
#patterns .col-md-2:hover a {
  display: block;
  cursor: pointer;
}
#patterns .secondary0 {
  min-height: 70px;
  background-color: #f7f7f7;
}
#patterns .secondary0.pattern-01 {
  background-image: url(../images/pattern-waves.jpg);
}
#patterns .secondary0.pattern-02 {
  background-image: url(../images/pattern-chevrons.jpg);
}
#patterns .secondary0.pattern-03 {
  background-image: url(../images/pattern-angle.jpg);
}
#patterns .secondary0.pattern-04 {
  background-image: url(../images/pattern-waves-blue.jpg);
}
#patterns .secondary0.pattern-05 {
  background-image: url(../images/Triangle-Gradient.png);
}
#patterns .secondary0.pattern-06 {
  background-image: url(../images/Footer-triangle-gradient.png);
  background-position: center center;
}
/* Menus */
/* Drop Down Menu */
/*#mega-menu {
	background: @color-light-grey;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-top: 3px solid @color-light-blue-three;
	width: 26rem;

	ul {
  	padding: 10px 0;
  }

  li {
  	list-style: none;
  	 a {
    	display: block;
    	padding: 5px 0 4px 16px;
    }
  }
}*/
/*#mega-menu {
	background: @color-light-grey;
	border-top: 3px solid @color-light-blue-three;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	width: 260px;

	ul {
		padding: 10px 0;
		ul {
			li {
				border-bottom: none;
			}
		}
		li {
			&:last-child {
				border: none;
			}
		}
	}
	li {
		border-bottom: 1px solid @color-light-grey;
		list-style: none;
		a {
			display: block;
			padding: 5px 0 4px 16px;
			&:hover {
				color: @color-light-blue-three;
				cursor: pointer;
				text-decoration: none;
			}
		}
		ul {
			li {
				a {
					display: block;
					padding: 0 0 0 16px;
				}
			}
		}
	}
}*/
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel {
  background: #f4f5f5;
  border-top: 3px solid #59b6e6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 10px 0;
  width: 260px;
}
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel .accessible-megamenu-panel-group {
  margin: 0;
  padding: 0;
}
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel .accessible-megamenu-panel-group li {
  border-bottom: 1px solid #dcd4c6;
  list-style: none;
}
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel .accessible-megamenu-panel-group li:last-child {
  border-bottom: 0px none;
}
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel .accessible-megamenu-panel-group li a {
  display: block;
  padding: 5px 0 4px 16px;
}
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel .accessible-megamenu-panel-group li a:hover {
  color: #59b6e6;
  cursor: pointer;
  text-decoration: none;
}
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel .accessible-megamenu-panel-group li ul {
  border-top: 1px solid #dcd4c6;
  padding: 1rem 0;
}
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel .accessible-megamenu-panel-group li ul li {
  border: 0px none;
  padding: 0 0 0 24px;
}
.accessible-mega-menu ul.accessible-megamenu li .accessible-megamenu-panel .accessible-megamenu-panel-group li ul li a {
  display: block;
  font-size: 1.4rem;
  padding: 0 0 0 16px;
}
/* Push Menu */
#block-slide-menu-menu {
  background: #1E3050;
  margin-top: 50px;
  min-height: 600px;
  overflow: hidden;
}
.slide-in-nav-menu {
  background: #f4f5f5;
  float: right;
  min-height: 60rem;
  width: 35rem;
  padding: 10px 2%;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.slide-nav-top-level-menu > li:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  background: #59b6e6;
  right: 52px;
  top: 8px;
}
.slide-in-nav-menu a:hover {
  color: #59b6e6;
  cursor: pointer;
  text-decoration: none;
}
.slide-in-nav-menu .active {
  background-color: #e9e9e9;
  padding-left: 0;
  width: 100%;
}
.slide-in-nav-menu li.active > .menu__link {
  display: inline-block;
  padding: 3px 0 7px 18px;
}
.slide-in-nav-menu .icon {
  font-size: 2.4rem;
  line-height: 34px;
  padding-right: 12px;
}
.slide-nav-top-level-menu {
  padding: 0;
}
.slide-nav-top-level-menu li {
  list-style: none;
  padding: 15px 0;
  position: relative;
  border-bottom: 2px solid #59b6e6;
}
.slide-nav-top-level-menu > li.active {
  background-color: #f4f5f5;
  padding: 15px 0 0 0;
}
.slide-nav-menu-second-level li {
  padding: 10px 0;
  border-bottom: 1px solid #f4f5f5;
}
.slide-nav-menu-second-level a {
  color: #00468b;
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 16px;
}
#block-slide-menu-menu .slide-nav-menu-second-level.active {
  border-top: 2px solid #59b6e6;
}
.slide-nav-menu-third-level.active {
  border-top: 1px solid #f4f5f5;
}
.slide-nav-menu-second-level .active .icon {
  color: #00468b;
}
.slide-nav-menu-second-level li.active:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  background: #f4f5f5;
  right: 52px;
  top: 5px;
}
.slide-nav-menu-third-level li {
  border-bottom: none;
  padding: 0 0 0 24px;
}
.slide-nav-menu-third-level a {
  color: #00468b;
  font-size: 14px;
}
.submenu-toggle {
  float: right;
}
.slide-menu-close {
  float: right;
  padding: 30px 23px 0 0;
}
.slide-menu-close-button {
  color: #e9e9e9;
  font-size: 2.6rem;
}
form .search-field {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}
form .search-button {
  position: absolute;
  top: 0;
  right: 20px;
  color: transparent;
  background: none;
  border: none;
  width: 2rem;
}
form .icon {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 0px;
  color: #FFF;
}
.slide-nav-menu.links li {
  border-bottom: none;
  min-height: auto;
  list-style: none;
  padding: 3px 0;
}
/* Sidebar Menu */
.sidebar {
  border-radius: 6px;
  width: 30rem;
}
.sidebar-top a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.menu.nav {
  padding: 0;
}
.menu.nav a {
  display: block;
  background: #ede9e1;
  padding: 1rem 2.6rem;
  margin-bottom: 2px;
  color: #333333;
  border-left: 7px solid #ede9e1;
}
.menu.nav a.active-trail {
  background: #59b6e6;
  border-left: 7px solid #59b6e6;
  color: #fff;
}
.menu.nav a.active-trail:after {
  content: "";
  position: absolute;
  right: -1.2rem;
  top: 0;
  border-bottom: 48px solid transparent;
  border-left: 12px solid #59b6e6;
}
.menu.nav a:hover {
  background: #f4f5f5;
  text-decoration: none;
  border-left: 7px solid #59b6e6;
}
.menu.nav ul a:hover {
  border-left: 7px solid #f37520;
}
.menu.nav ul ul a:hover {
  border-left: 7px solid #9261a8;
}
.menu.nav li li a {
  padding-left: 4rem;
}
.menu.nav li li a.active-trail {
  background: #f37520;
  border-left: 12px solid #f37520;
  color: #FFF;
}
.menu.nav li li a.active-trail:after {
  border-left: 12px solid #f37520;
}
.menu.nav li li li a {
  padding-left: 60px;
}
.menu.nav li li li a.active-trail {
  background: #9261a8;
  border-left: 12px solid #9261a8;
  color: #FFF;
}
.menu.nav li li li a.active-trail:after {
  border-left: 12px solid #9261a8;
}
/*DROPDOWN*/
.dropdown-menu {
  box-shadow: 0px 0px 0px #fff;
  font-family: 'Elena-Regular';
  font-size: 1.5rem;
  border: 1px solid #dfdfdf;
  border-radius: 0px;
}
ul.dropdown-menu li a {
  height: 40px;
  line-height: 40px;
  padding: 0px 20px 0px 20px;
  color: #666;
}
ul.dropdown-menu li a:hover {
  color: #59b6e6;
}
a.dropdown-toggle:active {
  border-color: #59b6e6 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(0, 0, 0, 0) !important;
  outline: 0 none !important;
}
/* Sidebar picture Link */
.sidebar-picture-link {
  display: inline-block;
}
.sidebar-picture-link h3 {
  color: #fff;
  font-size: 2rem;
  line-height: 31px;
  padding-left: 3rem;
}
.sidebar-link-label {
  height: 6.2rem;
  width: 22.6rem;
  overflow: hidden;
  position: relative;
  margin-top: -4.3rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
}
.sidebar-link-image {
  position: absolute;
  left: -1rem;
  top: 0;
  height: 6.2rem;
  width: 28rem;
  background-image: url(../images/pattern-waves.jpg);
  background-repeat: repeat;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
}
.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-transform: capitalize;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb ol li {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  color: #e9e9e9;
  padding-left: 0;
}
.breadcrumb ol li a {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #e9e9e9;
}
.breadcrumb ol li a:hover,
.breadcrumb ol li a:visted,
.breadcrumb ol li a:focus {
  text-decoration: none;
}
.breadcrumb ol li a:after {
  content: "/";
  color: #e9e9e9;
  padding: 0 15px;
}
.breadcrumb ol li a:hover {
  color: #59b6e6;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
}
/* Slideshow */
.slick-slider button.slick-arrow.slick-next {
  right: 0;
}
.slick-slider .slick-slide {
  padding: 0;
  position: relative;
}
.slick-slider .slick-arrow {
  background: none;
  border: 2px solid #59b6e6;
  font-size: 0;
  line-height: 0;
  margin: 10px;
  padding: 5px 18px;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.slick-slider .slick-arrow:before {
  color: #59b6e6;
  display: block;
  font-family: 'FontAwesome';
  font-size: 4rem;
  line-height: 4rem;
}
.slick-slider .slick-arrow.slick-prev {
  left: 0;
}
.slick-slider .slick-arrow.slick-prev:before {
  content: '\f104';
}
.slick-slider .slick-arrow.slick-next {
  right: 0;
}
.slick-slider .slick-arrow.slick-next:before {
  content: '\f105';
}
.slick-slider .slick-arrow i {
  color: #59b6e6;
}
.slick-dots {
  padding: 0;
  position: absolute;
  bottom: 15px;
  left: 43%;
}
.slick-dots li {
  color: #fff;
  display: inline-block;
  list-style: none;
}
.slick-dots li button {
  padding: 0;
  color: #ede9e1;
  background: none;
  border: none;
}
.slick-dots li button i {
  margin-right: 5px;
  font-size: 1.2rem;
}
.slide-text h3 {
  margin-top: 0;
}
.slide-text {
  position: relative;
}
.slide-text h3 {
  margin-top: 0;
}
.slick-slider .slick-dots .slick-active i {
  color: #59b6e6;
}
/*flexslider*/
.flexslider {
  margin: 0 auto;
  /*&:hover {
    .flex-direction-nav .flex-next {
      right: 0;
    }
    .flex-direction-nav .flex-prev {
      left: 0;
    }
  }*/

}
.flexslider .flex-control-nav.flex-control-paging {
  box-sizing: border-box;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}
.flexslider .flex-control-nav.flex-control-paging a:focus,
.flexslider .flex-control-nav.flex-control-paging a:hover,
.flexslider .flex-control-nav.flex-control-paging a.flex-active {
  background: #59b6e6;
}
.flexslider .flex-control-nav.flex-control-paging li {
  margin: 0 5px;
  padding: 0;
}
.flexslider .flex-control-nav.flex-control-paging li a {
  background: #ede9e1;
}
.flexslider .flex-control-nav.flex-control-paging li a:hover {
  background: #cccccc;
}
.flexslider .flex-direction-nav a {
  display: block;
  /* I added this line */

  background: none;
  padding: 5px 18px;
  margin: 10px;
  border: 2px solid #59b6e6;
  border-radius: 5px;
  box-sizing: border-box;
  height: 5.3rem;
  right: 0;
  width: 5.3rem;
}
.flexslider .flex-direction-nav a:hover {
  border-color: #ffffff;
}
.flexslider .flex-direction-nav a:hover:before {
  color: #FFF;
}
.flexslider .flex-direction-nav a:before {
  font-family: 'FontAwesome';
  color: #59b6e6;
  line-height: 4rem;
}
.flexslider .flex-direction-nav a.flex-next {
  right: 0 !important;
  opacity: 1 !important;
}
.flexslider .flex-direction-nav a.flex-next:before {
  content: '\f105' !important;
  font-family: 'FontAwesome';
}
.flexslider .flex-direction-nav a.flex-prev {
  left: 0 !important;
  opacity: 1 !important;
}
.flexslider .flex-direction-nav a.flex-prev:before {
  content: '\f104';
  font-family: 'FontAwesome';
}
/* Homepage Slideshow */
.homepage {
  max-width: 50.9rem;
}
.homepage .slide-text {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.75) 100%);
  bottom: 0;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-black-two00', endColorstr='#bf000000', GradientType=0);
  padding: 10% 3%;
  position: absolute;
  width: 100%;
}
.homepage .slide-text a {
  color: #ffffff;
}
.homepage .slide-text p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}
.homepage .flex-nav-next {
  right: 0 !important;
}
#slideshow-small {
  width: 50.9rem;
}
#slideshow-small .slide-text {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.75) 100%);
  bottom: 0;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-black-two00', endColorstr='#bf000000', GradientType=0);
  padding: 10% 3%;
  position: absolute;
  width: 100%;
}
#slideshow-small .slide-text a {
  color: #ffffff;
}
#slideshow-small p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}
#slideshow-small button.slick-arrow {
  bottom: 15%;
  font-size: 4rem;
  position: absolute;
  z-index: 2;
}
#slideshow-small .slick-dots i {
  color: #ede9e1;
}
#slideshow-small .slick-dots .slick-active i {
  color: #59b6e6;
}
#slideshow-small .slick-dots li button:hover {
  color: #cccccc;
}
#slideshow-small .slick-arrow:hover {
  border-color: #ffffff;
}
#slideshow-small .slick-arrow:hover i {
  color: #ffffff;
}
/* Big Slideshow */
.interior-slideshow.tablet {
  max-width: 72rem;
}
.interior-slideshow.tablet .slide-text {
  background-color: #ede9e1;
  display: block;
  margin: 0;
  padding: 3rem;
  width: inherit;
}
.interior-slideshow.tablet .slide-text p {
  margin-bottom: 30px;
}
.interior-slideshow.tablet .slide-text:after {
  border-bottom: 50px solid #9261a8;
  border-right: 300px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  z-index: 0;
}
.interior-slideshow.tablet .flexslider .flex-direction-nav a {
  top: 25%;
}
.interior-slideshow.tablet .flexslider .flex-direction-nav a.flex-next {
  right: 0;
}
.interior-slideshow.tablet .flexslider .flex-control-nav.flex-control-paging {
  bottom: 0;
  left: 0;
}
.interior-slideshow.tablet .field-type-image {
  display: block;
  width: 100%;
}
.interior-slideshow.tablet .field-type-image img {
  max-height: none;
}
#slideshow-big {
  width: 72rem;
}
#slideshow-big .slide-text {
  background-color: #ede9e1;
  padding: 3rem;
}
#slideshow-big .slide-text p {
  margin-bottom: 30px;
}
#slideshow-big .slide-text:after {
  border-bottom: 50px solid #9261a8;
  border-right: 300px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  z-index: 0;
}
#slideshow-big .button-container {
  height: 420px;
  position: absolute;
  width: 90px;
  z-index: 2;
}
#slideshow-big .slick-next {
  right: 0;
}
#slideshow-big .slick-next:hover {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.5) 98%);
}
#slideshow-big .slick-prev:hover {
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.5) 98%);
}
#slideshow-big .slick-arrow {
  border-color: #ffffff;
  top: 40%;
}
#slideshow-big .slick-arrow i {
  color: #ffffff;
}
#slideshow-big button.slick-arrow {
  font-size: 40px;
  opacity: 0.6;
  position: relative;
  z-index: 2;
}
#slideshow-big button.slick-arrow:hover {
  opacity: 1;
}
#slideshow-big .slick-dots {
  bottom: 0;
  left: 0;
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 2;
}
/* Desktop Wide Slideshow */
.interior-slideshow .slide-text {
  background-color: #ede9e1;
  display: inline-block;
  height: 33.3rem;
  margin-left: -4px;
  padding: 30px;
  width: 40%;
  vertical-align: top;
}
.interior-slideshow .slide-text p {
  margin-bottom: 30px;
}
.interior-slideshow .slide-text:after {
  border-bottom: 50px solid #9261a8;
  border-right: 300px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  z-index: 0;
}
.interior-slideshow .field-type-image {
  display: inline-block;
  width: 60%;
}
.interior-slideshow .field-type-image img {
  max-height: 33.3rem;
}
.interior-slideshow .flexslider .flex-direction-nav a {
  border-color: #FFF;
  top: 40%;
}
.interior-slideshow .flexslider .flex-direction-nav a.flex-next {
  right: 40%;
}
.interior-slideshow .flexslider .flex-direction-nav a:before {
  color: #FFF;
}
.interior-slideshow .flexslider .flex-control-nav.flex-control-paging {
  bottom: 1rem;
  left: 60%;
  height: 23px;
  margin: 0 0 0 20px;
  position: absolute;
  width: inherit;
  z-index: 2;
}
@media (max-width: 967px) {
  .interior-slideshow {
    max-width: 72rem;
  }
  .interior-slideshow .slide-text {
    background-color: #ede9e1;
    display: block;
    margin: 0;
    padding: 3rem;
    width: inherit;
  }
  .interior-slideshow .slide-text p {
    margin-bottom: 30px;
  }
  .interior-slideshow .slide-text:after {
    border-bottom: 50px solid #9261a8;
    border-right: 300px solid transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    z-index: 0;
  }
  .interior-slideshow .flexslider .flex-direction-nav a {
    top: 25%;
  }
  .interior-slideshow .flexslider .flex-direction-nav a.flex-next {
    right: 0;
  }
  .interior-slideshow .flexslider .flex-control-nav.flex-control-paging {
    bottom: 0;
    left: 0;
  }
  .interior-slideshow .field-type-image {
    display: block;
    width: 100%;
  }
  .interior-slideshow .field-type-image img {
    max-height: none;
  }
}
@media (max-width: 767px) {
  .interior-slideshow .flexslider .flex-direction-nav a {
    top: 10%;
  }
}
#slideshow-wide .slick-slider {
  vertical-align: top;
}
#slideshow-wide .slide-text {
  background-color: #ede9e1;
  display: inline-block;
  height: 350px;
  margin-left: -4px;
  padding: 30px;
  width: 35.6rem;
}
#slideshow-wide .slide-text p {
  margin-bottom: 30px;
}
#slideshow-wide .slide-text:after {
  border-bottom: 50px solid #9261a8;
  border-right: 300px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  z-index: 0;
}
#slideshow-wide .button-container {
  height: 35rem;
  position: absolute;
  width: 90px;
  z-index: 2;
}
#slideshow-wide .slick-next {
  right: 0;
}
#slideshow-wide .slick-next:hover {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.5) 98%);
}
#slideshow-wide .slick-prev:hover {
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.5) 98%);
}
#slideshow-wide .slick-arrow {
  border-color: #ffffff;
  top: 40%;
}
#slideshow-wide .slick-arrow i {
  color: #ffffff;
}
#slideshow-wide button.slick-arrow {
  font-size: 4rem;
  opacity: 0.6;
  position: relative;
  z-index: 2;
}
#slideshow-wide button.slick-arrow:hover {
  opacity: 1;
}
#slideshow-wide .slick-dots {
  bottom: 0;
  left: 0;
  margin: 0 0 0 20px;
  position: absolute;
  z-index: 2;
}
#slideshow-wide .slick-active i {
  color: #59b6e6;
}
/**
  *
  * Wysiwyg Styles
  *
**/
/*input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
	border: 2px solid #DCD4C6;
	border-radius: 5px;
	display: inline-block;
	font-size: 1.8rem;
	min-height: 44px;
}

textarea:focus {
  border-color: #59B6E6;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset, 0 0 0px rgba(0, 0, 0, 0.0);
  outline: 0 none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #59B6E6 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset, 0 0 0px rgba(0, 0, 0, 0.0) !important;
  outline: 0 none !important;
}

#Radio label,
#Checkbox label {
	margin-left: 10px;
}

.checkbox,
.radio {
	font-size: 1.5rem;
	color: #333;
}

.disabled {
	color: #ccc;
}

.error-block {
	text-transform: uppercase;
	color: #d94d1a;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.form-control {
  border: 2px solid #DCD4C6;
	border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control[disabled] {
	border:2px solid #d1d1d1;
}

.form-control:focus,
.form-control:active {
	border-color: #59B6E6 !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) inset, 0 0 0px rgba(0, 0, 0, 0.0) !important;
  outline: 0 none !important;
}

#disabledInput {
	color: #4D4E4E;
	background-color: #EDE9E1;
}

.error-field {
	border: 1px solid #d94d1a !important;
}

.focus-field {
	border: 1px solid #00a3bf !important;
}

label {
	font-size: 16px;
	font-weight: 700;
	padding-right: 7px;
	text-align: right;
}*/
/* Icon */
#icons p {
  font-size: 1rem;
  vertical-align: middle;
}
#icons p .fa {
  font-size: 2rem;
  vertical-align: middle;
}
/**
  *
  * Styleguide Styles
  *
  **/
.wrap {
  min-width: 300px;
  max-width: 960px;
  margin: auto;
  margin-top: 100px;
}
#welcome {
  padding: 30% 0;
  text-align: center;
  height: 81vh;
}
#welcome h1 {
  color: #00a3bf;
}
#welcome hr {
  width: 15rem;
}
#welcome p {
  color: #8c8c8c;
}
.navbar-default .navbar-nav > li > a.active {
  border-bottom: 2px solid #00a3bf;
}
#breadcrumb nav {
  background: #18335D;
  padding: 10px;
}
footer {
  margin-top: 5rem;
  border-top: 1px solid #CCC;
  padding: 2rem 2% 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
#title {
  margin-top: 20rem;
  text-align: center;
}
#title img {
  width: 20rem;
}
.subheader {
  text-transform: none;
  letter-spacing: 0px;
  color: #666;
}
.sansTitleCase {
  text-transform: none;
  letter-spacing: 0px;
  color: #666;
}
pre {
  margin: 1rem 0 3rem 0;
  font-size: 1.2rem;
  background: #f9fafc;
  border-color: #e0e6ed;
  border-radius: 2px;
}
.hljs {
  background: none;
  padding: 0;
}
.description {
  font-size: 1.2rem;
  line-height: 18px;
  color: #777;
}
.style-header {
  color: #999;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin-bottom: 3rem;
  margin-top: 5rem;
  padding: 0px;
  padding-left: 0px;
  text-transform: uppercase;
  text-indent: none;
}
.grid {
  width: 23rem;
  border: 1px solid #E9E9E9;
  padding: 0;
  margin: 0 25px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 792px) {
  .grid {
    margin: 0 0 2.5rem;
  }
}
.grid div {
  padding: 15px 15px 40px 15px;
}
.grid h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 26px;
}
.listing .columns {
  padding: 0 5px;
}
.listing .blue-header {
  color: #00468B;
  font-size: 2rem;
  line-height: 26px;
}
.compact.listing {
  padding: 1rem 3.5rem 1rem 1.6rem;
  border: 1px solid #E9E9E9;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  vertical-align: text-bottom;
}
.compact .date {
  position: relative;
}
.compact-text {
  display: inline-block;
  padding-left: 1.6rem;
  border-left: 1px solid #E9E9E9;
}
nav a {
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#buttons button {
  display: block;
  margin-bottom: 10px;
}
#buttons a.button {
  margin-bottom: 10px;
}
.navbar-brand a {
  color: #333;
}
.navbar-brand a:hover {
  text-decoration: none;
}
.navbar-brand img {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  vertical-align: text-top;
}
.column,
.columns {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 0 2%;
}
.medium-1 {
  width: 7%;
}
.medium-2 {
  width: 16%;
}
.medium-3 {
  width: 20%;
}
.medium-3 img {
  width: 100%;
  height: auto;
}
.medium-4 {
  width: 33%;
}
.medium-4 img {
  width: 100%;
  height: auto;
}
.medium-6 {
  width: 49%;
}
.medium-8 {
  width: 66%;
}
.medium-9 {
  width: 79%;
}
.medium-10 {
  width: 74%;
}
.medium-11 {
  width: 92%;
}
.medium-12 {
  width: 100%;
}
.two-letter {
  font-size: 8rem;
  line-height: 58px;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
span.inline-label {
  float: left;
  margin-right: 10px;
}
/* Colors */
.color-item {
  float: left;
  min-width: 20% !important;
  /*display: inline-block;*/

}
.color-name {
  font-size: 1.1rem;
  color: #666;
  letter-spacing: 0.5;
  padding: 0px;
  margin: 0px;
}
.color-value,
.button-type {
  margin-top: 0px;
  padding-top: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 1.1rem;
  color: #666;
  line-height: 12px;
}
.color-light {
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 75px;
  color: #666;
  height: 7.5rem;
}
.color-light button:hover {
  color: #666;
}
.color-dark {
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 75px;
  color: #fff;
  min-height: 50px;
  height: 7.5rem;
}
.color-dark button:hover {
  color: #fff;
}
.color-dark p {
  color: #fff;
}
#colors .clip {
  display: none;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 50px;
  background-color: inherit;
}
#colors .col-md-2 {
  padding: 0;
}
#colors .color-light:hover > .clip,
#colors .color-dark:hover > .clip {
  display: inline-block;
}
#colors .color-light:hover,
#colors .color-dark:hover {
  padding: 0px;
}
#colors .color-light:hover > p,
#colors .color-dark:hover > p {
  display: none;
}
.button-type {
  margin-bottom: 5px;
}
/*
#patterns .secondary0.pattern-07 {
	background-image: url(../images/);
	background-position: center center;
}
*/
/* Media Queries */
@media (min-width: 768px) and (max-width: 991px) {
  #colors .col-md-2 {
    width: 25%;
    float: left;
  }
  #colors {
    padding: 0 15px;
  }
}
@media (max-width: 792px) {
  .medium-1 {
    width: 13%;
  }
  .medium-4 {
    width: 32%;
  }
  .medium-11 {
    width: 86%;
  }
  .wrap {
    width: 96%;
    padding: 2%;
  }
  .medium-4 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #welcome br {
    display: none;
  }
  .medium-1 {
    width: 16%;
  }
  .medium-3,
  .medium-4,
  .medium-9 {
    width: 100%;
  }
  .medium-3 img,
  .medium-4 img,
  .medium-9 img {
    width: auto;
  }
  .sidebar .sidebar-triangles {
    width: 100%;
  }
  .medium-11 {
    width: 83%;
  }
  .medium-2 {
    width: 100%;
  }
  .medium-2.text-right {
    text-align: left;
  }
  .medium-10 {
    width: 100%;
  }
  .medium-4 {
    width: 100%;
  }
  .medium-6 {
    width: 100%;
  }
}
