/* Icon */
#icons p {
	font-size: 1rem;
  vertical-align: middle;

  .fa {
  	font-size: 2rem;
  	vertical-align: middle;
  }
}

/**
  *
  * Styleguide Styles
  *
  **/

.wrap {
	min-width: 300px;
	max-width: 960px;
	margin:auto;
	margin-top: 100px;
}

#welcome {
	padding: 30% 0;
	text-align: center;
	height: 81vh;

	h1 {
  	color: #00a3bf;
  }

  hr {
  	width: 15rem;
  }

  p {
  	color: #8c8c8c;
  }
}

.navbar-default .navbar-nav > li > a.active {
  border-bottom: 2px solid #00a3bf;
}

#breadcrumb nav {
	background: #18335D;
	padding: 10px;
}

footer {
	margin-top: 5rem;
  border-top: 1px solid #CCC;
  padding: 2rem 2% 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#title {
	margin-top: 20rem;
	text-align: center;
  img {
  	width: 20rem;
  }
}

.subheader {
	text-transform: none;
	letter-spacing: 0px;
	color: #666;
}

.sansTitleCase{
	text-transform: none;
	letter-spacing: 0px;
	color: #666;
}

pre {
	margin: 1rem 0 3rem 0;
	font-size: 1.2rem;
	background: #f9fafc;
	border-color: #e0e6ed;
	border-radius: 2px;
}

.hljs {
	background: none;
	padding: 0;
}

.description {
	font-size: 1.2rem;
	line-height: 18px;
	color: #777;
}

.style-header {
	color: #999;
	font-size: 1.2rem;
	letter-spacing: 1px;
	line-height: 1.2em;
	margin-bottom: 3rem;
	margin-top: 5rem;
	padding: 0px;
	padding-left: 0px;
	text-transform: uppercase;
	text-indent: none;
}

.grid {
	width: 23rem;
	border: 1px solid #E9E9E9;
	padding: 0;
	margin: 0 25px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);

	@media (max-width: 792px) {
  	margin: 0 0 2.5rem;
	}

  div {
  	padding: 15px 15px 40px 15px;
  }

	h5 {
  	font-size: 2rem;
  	font-weight: 600;
  	line-height: 26px;
  }
}

.listing {
  .columns {
	  padding: 0 5px;
  }

  .blue-header {
	  color: #00468B;
	  font-size: 2rem;
	  line-height: 26px;
  }
}

.compact {
  &.listing {
  	padding: 1rem 3.5rem 1rem 1.6rem;
  	border: 1px solid #E9E9E9;
  	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  	vertical-align: text-bottom;
  }

  .date {
	  position: relative;
  }
}

.compact-text {
	display: inline-block;
	padding-left: 1.6rem;
	border-left: 1px solid #E9E9E9;
}


nav a {
  font-size: 1.1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#buttons {
  button {
	  display: block;
	  margin-bottom: 10px;
  }
  a.button {
    margin-bottom: 10px;
  }
}

.navbar-brand {
  a {
  	color: #333;

  	&:hover {
    	text-decoration: none;
    }
  }

  img {
	  display: inline-block;
    margin-right: 10px;
    width: 70px;
    vertical-align: text-top;
  }
}

.column,
.columns {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	padding: 0 2%;
}

//labels
.medium-1 {
	width: 7%;
}

.medium-2 {
	width: 16%;
}

.medium-3 {
	width: 20%;

 img {
  	width: 100%;
  	height: auto;
  }
}

.medium-4 {
	width: 33%;

	img {
  	width: 100%;
  	height: auto;
  }
}

.medium-6 {
	width: 49%;
}

.medium-8 {
	width: 66%;
}

.medium-9 {
	width: 79%;
}

.medium-10 {
	width: 74%;
}

.medium-11 {
	width: 92%;
}

.medium-12 {
	width: 100%;
}

.two-letter {
	font-size: 8rem;
	line-height: 58px;
}

.text-right {
	text-align: right;
}

.bold {
	font-weight: 700;
}

.semi-bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

span.inline-label {
	float: left;
	margin-right: 10px;
}


/* Colors */
.color-item {
	float: left;
	min-width: 20% !important;
	/*display: inline-block;*/
}

.color-name {
	font-size: 1.1rem;
	color: #666;
	letter-spacing: 0.5;
	padding: 0px;
	margin: 0px;
}

.color-value,
.button-type {
	margin-top: 0px;
	padding-top: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 1.1rem;
	color: #666;
	line-height: 12px;
}

.color-light {
	padding: 20px;
 	text-align: center;
 	font-size: 1rem;
 	text-transform: uppercase;
 	line-height: 75px;
 	color: #666;
 	height: 7.5rem;
 	button:hover {
  	color: #666;
  }
}

.color-dark {
	padding: 2rem;
 	text-align: center;
 	font-size: 1rem;
 	text-transform: uppercase;
 	line-height: 75px;
 	color: #fff;
 	min-height: 50px;
 	height: 7.5rem;

 	button:hover {
  	color: #fff;
  }

  p {
  	color: #fff;
  }
}

#colors {
  .clip {
  	display: none;
  	border: none;
  	width: 100%;
  	height: 100%;
  	text-align: center;
   	font-size: 1rem;
   	text-transform: uppercase;
   	line-height: 50px;
   	background-color: inherit;
  }

  .col-md-2 {
  	padding: 0;
  }
}

#colors .color-light:hover>.clip,
#colors .color-dark:hover>.clip {
	display: inline-block;
}

#colors .color-light:hover,
#colors .color-dark:hover {
	padding: 0px;
}

#colors .color-light:hover>p,
#colors .color-dark:hover>p {
	display: none;
}

.button-type {
	margin-bottom: 5px;
}

/*
#patterns .secondary0.pattern-07 {
	background-image: url(../images/);
	background-position: center center;
}
*/

/* Media Queries */
@media (min-width:768px) and (max-width: 991px) {
  #colors .col-md-2 {
    width: 25%;
    float: left;
  }
  #colors {
	  padding: 0 15px;
  }
}

@media (max-width: 792px) {
	.medium-1 {
    width: 13%;
	}
	.medium-4 {
		width: 32%;
	}
	.medium-11 {
		width: 86%;
	}

	.wrap {
		width: 96%;
		padding: 2%;
	}
	.medium-4 {
		width: 100%;
	}
}

@media (max-width: 480px) {
	#welcome br {
		display: none;
	}

	.medium-1 {
    width: 16%;
	}

	.medium-3,
	.medium-4,
	.medium-9 {
		width: 100%;
	}

	.medium-3 img,
	.medium-4 img,
	.medium-9 img {
		width: auto;
	}

	.sidebar .sidebar-triangles {
		width: 100%;
	}

	.medium-11 {
		width: 83%;
	}


	.medium-2 {
		width: 100%;
	}

	.medium-2.text-right  {
		text-align: left;
	}

	.medium-10 {
		width: 100%;
	}

	.medium-4 {
		width: 100%;
	}

	.medium-6 {
		width: 100%;
	}
}

@import "variables.css.less";
@import "elements.less";
@import "content-list.less";
@import "color.less";
@import "component.less";
@import "wysiwyg.less";
