/**
 * @file
 * Variables
 */

// layout
@width-page: 1050px;
@width-sidebar-first: 20%;
@width-sidebar-second: 20%;
@width-tablet-sidebar-first: 33.333%;
@width-tablet-sidebar-second: 33.333%;

// fonts
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 959px)";
@desktop: ~"(max-width: 1400px)";
//font awesome
@font-awesome: 'FontAwesome';
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal; font-style: normal;
}

@font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
@family-header-font: 'hindbold', Helvetica, Arial, sans-serif;
@family-header-alternate-font: 'hindsemibold', Tahoma, 'DejaVu Sans', sans-serif;
@family-header-medium-font: 'hindmedium', Helvetica, Arial, sans-serif;
@font-size: 1.5rem;
@font-size-small: unit(unit(11px)/unit(@font-size), em);
@font-size-medium: unit(unit(18px)/unit(@font-size), em);
@font-size-large: unit(unit(23px)/unit(@font-size), em);
@line-height: 24px;
@weight-bolder: bold;
@weight-regular: normal;
@weight-text: normal;

// color variables

//primary colors

@color-blue: #00468B;
@color-dark-blue: #18335D;

@color-gold: #FFCE34;
@color-light-yellow: #ffeebe;

@color-black: #333;
@color-black-two: #000000;

@color-red-orange: #d94d1a;
@color-light-orange: #f7941f;
@color-green-blue: #00a3bf;
@color-green-blue-two: #00a2b3;
@color-green-blue-three: #42b9b9;
@color-green-blue-four: #1bb799;

@color-light-blue: #b0e4ed;
@color-light-blue-two: #e8f7fa;

//secondary colors
@color-orange: #8B64A4;
@color-grey: #E9E9E9;
@color-purple: #C43424;
@color-light-blue-three: #00468B;
@color-dark-grey: #4D4E4E;
@color-light-grey: #F4F5F5;
@color-dark-beige: #DCD4C6;
@color-beige: #EDE9E1;
@color-light-beige: #F8F5F1;
@color-navy-blue: #036C9D;
@color-navy-blue-two: #026b9c;
@color-green: #2dad4a;
@color-light-green: #8bc541;
@color-light-green-two: #bbd873;


@color-button-bkg: #34A5D0;
@color-button-disabled-bkg: #99d2e7;
@color-button-success-bkg: #88a753;
@color-button-error-bkg: #d64637;
@color-button-warning-bkg: #e48735;
@color-button-secondary-bkg: #a82e8f;
@color-button-bkg-hover: #FFF;
@color-button-text: #FFF;
@color-button-text-hover: #000;
@color-font: #333333;
@color-placeholder: #999;
@color-header: #2c3e50;
@color-input-border: #CCC;
@color-input-label: #666;
@color-input-text: #666;
@color-link: #0088cc;
@color-link-bkg: transparent;
@color-link-hover: #00468B;
@color-link-text: #333;
@color-footer-link: #0088cc;
@color-footer-link-bkg: transparent;
@color-footer-link-hover: #003366;
@color-footer-link-text: #333;
@color-pagination-bkg: #eeeeee;
@color-pagination-text: #777777;
@color-pagination-bkg-hover: #31a3d1;
@color-pagination-text-hover: #ffffff;
@color-page-title: #475a68;
@color-date-field: #888888;

// background variables
@background-body: #ffffff;
@background-body-sidebar: #eeeeee;

// Main nav
@color-main-nav-bkg: #2c3e50;
@color-main-nav-text: #fff;
@color-main-nav-bkg-hover: #1a242f;

// Sliders (flex slider)
@color-slider-view-bkg: #000000;
@color-slider-view-text: #ffffff;
@color-slider-copy-bkg: #000000;
@color-slider-copy-text: #ffffff;
@color-sider-control-navi: #dddddd;
@color-sider-control-navi-hover: #31a3d1;

//tables
@color-tables-border: #cccccc;
@color-tables-bkg-even: #ffffff;
@color-tables-bkg-odd: #f2f2f2;
@color-tables-header-bkg: #e0e0e0;

//accordion
@color-header-accordion: #485b69;