blockquote {
	font-family: Georgia, serif;
	color: #777777;
	border-left:none;
	line-height: 30px;
	&:before {
  	content: url(../images/quote.png);
  	padding-right: 15px;
  }
}

/* Figure */
figure {
	display: table;
	width: -webkit-min-content;
	width: -moz-min-content;
  width: min-content;
	vertical-align: top;
}

figcaption {
	background: @color-beige;
	font-size: 14px;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	display: table;
	position: relative;
	width: 100%;
}
/* Floating */
.float-left {
	float: left;
  margin-right: 2rem;
}

.float-right {
	float: right;
  margin-left: 2rem;
}

/* Quicklinks */
.quicklinks,
.field-section-link {
	padding: 0;
	margin: 0;

	li {
  	list-style: none;
  	padding: 0;

  	a {
    	display: block;
    	//background: #fff;
    	padding: 0.6rem 2rem;
      color: @color-blue;
      font-weight: 600;
      &:before {
        content: "\f105";
      	color: @color-light-blue-three;
      	font-family: @font-awesome;
        position: absolute;
        margin: 0rem 0 0 -1.5rem;
      }
      &:hover {
        text-decoration: none;

        &:before {
          padding-left: 0.6rem;
          -webkit-transition: padding 0.3s;
          -moz-transition: padding 0.3s;
          -o-transition: padding 0.3s;
          transition: padding 0.3s;
        }
      }

      i {
      	color: @color-light-blue-three;
        position: absolute;
        margin: 0.5rem 0 0 -1rem;
      }
    }

    &:after {
    	content: "";
    	display: block;
    	margin-left: 2rem;
    	border-bottom: 1px dotted @color-blue;
    	width: calc(~"100% - 2rem");
    }

    &:last-child:after {
    	display: none;
    }
  }
}

/* Hours Links */
.field-hours-pdfs {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 20px;
	img { display: none; }
	a:link {
		box-sizing: border-box;
    min-width: 0;
    padding: 10px 55px 10px 15px;
    -webkit-appearance: none;
    font-weight: 400;
    background: #59b6e6;
    color: #18335d;
    text-align: left;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    &:before {
      content: "";
	    position: absolute;
	    width: 1px;
	    background: #18335d;
	    height: 32px;
      margin-top: -4px;
      right: 22%;
    }
    &:after {
	    font-family: 'FontAwesome';
	    content: "\f105";
	    font-size: 24px;
	    position: absolute;
	    right: 20px;
    }
	}
}


/* Icon Links */
.iconlinks {
  .field-link-iconized-links {
    @media (max-width: 899px) {
      display: inline-block;
      margin-right: 4.5%;
      vertical-align: top;
      width: 30%;
    }

    @media (max-width: 680px) {
      display: block;
      margin: 0 auto 1.5rem;
      max-width: 201px;
      text-align: center;
      width: 100%;
    }
  }
  .button.blue {
    box-sizing: border-box;
    min-width: 0;
    padding: 10px 15px;
    width: 100%;
    -webkit-appearance: none;

    &::before {
      height: 32px;
      margin-top: -4px;
      right: 22%;
    }

    @media (min-width: 900px) {
      display: none;
    }
  }

  .group-icon-items-wrapper {
    @media (max-width: 899px) {
      display: inline-block;
      vertical-align: top;
      width: 64%;
    }

    @media (max-width: 680px) {
      display: block;
      margin: 0 auto;
      max-width: 200px;
      width: 100%;
    }
  }

  li,
  .field-iconized-links-item {
    display: inline-block;
    width: 32%;
    list-style: none;
    padding: 0;
    margin-bottom: 1.8rem;
    vertical-align: top;

    @media (max-width: 899px) {
      margin-bottom: 0.6rem;
      width: 49%;
    }

    @media (max-width: 680px) {
      display: block;
      width: 100%;
    }

    &:nth-child(3n + 1){
      clear: left;
    }

    a {
    	color: @color-light-blue-three;
    	font-weight: 700;

    	&:hover,
    	&:focus,
    	&:active {
      	color: @color-blue;
      	text-decoration: none;
      }
    }
    .field-link-il,
    .field-image-il {
      display: inline-block;
      vertical-align: middle;
    }
    img {
    	margin-right: 1rem;
    }
  }
}

div.field-body {
	.three-columns-wys-wrapper {
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
		.three-columns-wys {
			float: left;
			width: 32%;
			margin-right: 2%;
			& + .three-columns-wys + .three-columns-wys {
				margin-right: 0;
			}
			@media (max-width: 600px) {
				float: none;
				width: 100%;
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}
	img {
		margin: 0 10px 10px;
	}
}