/**
 * @file
 * WYSIWYG Styles
 */

// load other less files
@import url('variables.css.less');
@import url('base/mixins.css.less');
@import url('base/generic.css.less');
@import url('layout/responsive-sidebars.css.less');
@import url('themes/functions.css.less');
@import url('themes/elements.css.less');

body {
  background: none;
}
body.cke_editable a:hover {
	color: #0688DD!important;
}