.page-displays {
  background: none;
  .content-wrapper {
    padding: 0;
  }
  &.page-displays-twitter-landscape {
    width: 1920px;
    background-color: #9cbebe;
    .page-display-top {
      background: repeating-linear-gradient(
        45deg,
        #DFDFDF,
        #DFDFDF 6.5px,
        #E9E9E9 6.5px,
        #E9E9E9 32.8px);
      padding: 24px 80px;
      height: 200px;
      .page-display-top-wrapper {
        .twitter-icon {
          height: 72px;
          width: 82px;
          display: inline-block;
          vertical-align: bottom;
          margin-right: 30px;
        }
        .twitter-username {
          font-size: 86px;
          font-weight: bold;
          letter-spacing: normal;
          color: #003660;
          display: inline-block;
          vertical-align: bottom;
          font-family: 'hindbold', Helvetica, Arial, sans-serif;
          margin-top: 116px;
          line-height: 86px;
        }
        .twitter-qr-code {
          float: right;
          width: 200px;
          height: 200px;
          margin-left: auto;
          img {
            width: 100%;
            height: 200px;
          }
        }
      }
    }
    .content-wrapper {
      background: #9cbebe;
      padding: 80px;
      height: 832px;
      ul.slides {
        li {
          height: 832px !important;
          .views-field-nothing{
            display: flex;
            height: 100%;
            align-items: center;
          }
          .tweet-landscape-item {
            margin: 80px;
            background: #fff;
            padding: 32px;
            display: flex;
            flex-direction: row;
            align-items: center;
            max-height: 608px;
            overflow: hidden;
            .tweet-left-side {
              width: 100%;
              color: #003660;
              font-size: 36px;
              font-weight: bold;
              max-height: 600px;
              overflow: hidden;
              .tweet-post-date {
                line-height: 60px;
                font-family: 'hindbold', Helvetica, Arial, sans-serif;
              }
              .field-body {
                p {
                  a {
                    color: #003660;
                  }
                  font-style: normal;
                  font-size: 50px;
                  font-weight: normal;
                  line-height: 1.2;
                }
              }
            }
            .field-twitter-media {
              flex: 0 0 48%;
              padding-left: 32px;
              img {
                width: auto;
                height: auto;
                max-height: 608px;
                margin-left: auto;
                max-width: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
  &.page-displays-twitter-portrait {
    width: 1080px;
    margin: 0 auto;
    .page-display-top {
      background: repeating-linear-gradient(
        45deg,
        #DFDFDF,
        #DFDFDF 6.5px,
        #E9E9E9 6.5px,
        #E9E9E9 32.8px);
      padding: 0 80px 34px 80px;
      height: 214px;
      .page-display-top-wrapper {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        .twitter-icon {
          height: 88px;
          width: 82px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 30px;
          margin-top: 137px;
        }
        .twitter-username {
          font-size: 86px;
          font-weight: bold;
          letter-spacing: normal;
          color: #003660;
          display: inline-block;
          vertical-align: middle;
          font-family: 'hindbold', Helvetica, Arial, sans-serif;
          margin-top: 124px;
        }
      }
    }
    .content-wrapper {
      background: #9cbebe;
      .content-inner {
        padding: 75px 75px 35px 75px;
        height: 1334px;
        overflow: hidden;
        ul.slides {
          li {
            height: 1334px !important;
            .tweet-portrait-item {
              background: #fff;
              padding: 44px 48px;
              max-height: 1246px;
              .tweet-top-side {
                width: 100%;
                color: #003660;
                font-size: 36px;
                font-weight: bold;
                display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
                display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
                display: -ms-flexbox;      /* TWEENER - IE 10 */
                display: -webkit-flex;     /* NEW - Chrome */
                display: flex;
                .tweet-post-date {
                  line-height: 60px;
                  font-family: 'hindbold', Helvetica, Arial, sans-serif;
                }
                .tweet-icon {
                  height: 48px;
                  width: 45px;
                  display: inline-block;
                  vertical-align: middle;
                  background: url('../images/twitter-icon.png');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                  margin-left: auto;
                }
              }

              .field-body {
                color: #003660;

                p {
                  a {
                    color: #003660;
                  }
                  font-style: normal;
                  font-size: 50px;
                  font-weight: normal;
                  line-height: 1.2;
                }
              }

              .field-twitter-media {
                img {
                  max-width: 100%;
                  width: auto;
                  object-fit: contain;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
      .twitter-qr-code {
        width: 200px;
        height: 200px;
        margin-left: auto;
        padding: 0 28px 28px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &.page-displays-instagram-portrait {
    width: 1080px;
    margin: 0 auto;
    .page-display-top {
      padding: 0 80px 34px 80px;
      height: 214px;
      background: repeating-linear-gradient(
        45deg,
        #DFDFDF,
        #DFDFDF 6.5px,
        #E9E9E9 6.5px,
        #E9E9E9 32.8px);

      .page-display-top-wrapper {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        .instagram-icon {
          height: 79px;
          width: 79px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 40px;
          margin-top: 130px;
        }
        .instagram-username {
          font-size: 86px;
          font-weight: bold;
          letter-spacing: normal;
          color: #003660;
          display: inline-block;
          vertical-align: middle;
          font-family: 'hindbold', Helvetica, Arial, sans-serif;
          line-height: 1;
          margin-top: 130px;
        }
      }
    }
    .content-wrapper {
      background: #ef5644;
      padding: 80px 80px 30px 80px;
      height: 1672px;
      position: relative;
      ul.slides {
        li {
          height: 1510px !important;
          .instagram-portrait-item {
            align-items: center;
            box-sizing: border-box;
            display: grid;
            max-height: 1510px;
            padding: 80px;
            grid-template-rows: max-content 1fr max-content;
            .instagram-top-side {
              img {
                max-height: 900px;
                max-width: 900px;
                border: 12px solid #ffffff;
                width: ~"calc(100% - 24px)";
                margin-bottom: 80px;
                object-fit: contain;
                background: white;
              }
            }
            .instagram-post-date {
              font-family: 'hindbold', Helvetica, Arial, sans-serif;
              color: #fff;
              line-height: 1;
            }
            .instagram-bottom {
              color: #fff;
              font-style: normal;
              font-size: 50px;
              font-weight: normal;
              line-height: 1.2;
              margin-bottom: 10px;
              display: contents;
            }
            .instagram-content{
              height: 100%;
              overflow: hidden;
            }
          }
        }
      }
      .instagram-qr-code {
        width: 200px;
        height: 200px;
        right: 35px;
        position: absolute;
        bottom: 35px;
        background-color: #ef5644;
        img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
  &.page-displays-instagram-landscape {
    width: 1850px;
    height: 1010px;
    background: #ef5644;
    padding: 35px;
    position: relative;
    .content-wrapper {
      background: none;
      ul.slides {
        li {
          .instagram-landscape-item {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            height: 994px;
            .instagram-left-side {
              padding: 35px;
              width: 924px;
              img {
                max-width: 900px;
                max-height: 900px;
                width: ~"calc(100% - 24px)";
                border: 12px solid #ffffff;
              }
            }
            .instagram-right {
              padding: 35px 35px 0 35px;
              width: 760px;
              .instagram-right-top {
                display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
                display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
                display: -ms-flexbox;      /* TWEENER - IE 10 */
                display: -webkit-flex;     /* NEW - Chrome */
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                margin-bottom: 30px;
                .instagram-user {
                  font-size: 86px;
                  font-weight: bold;
                  color: #fff;
                  font-family: 'hindbold', Helvetica, Arial, sans-serif;
                }
                .instagram-icon {
                  height: 79px;
                  width: 79px;
                  display: inline-block;
                  vertical-align: middle;
                  background: url('../images/instagram-icon.png');
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                  margin-right: 40px;
                }
              }
              .instagram-content {
                font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
                font-size: 50px;
                color: #fff;
                line-height: 1.2;
                margin-bottom: 10px;
              }
              .instagram-post-date {
                font-size: 50px;
                font-family: 'hindbold', Helvetica, Arial, sans-serif;
                color: #fff;
                line-height: 1;
              }
            }
          }
        }
      }
    }
    .instagram-qr-code {
      width: 200px;
      height: 200px;
      position: absolute;
      right: 35px;
      bottom: 35px;
      background-color: #ef5644;
      img {
        width: 100%;
        height: 200px;
      }
    }
  }
  &.page-displays-video-portrait {
    width: 1080px;
    height: 1920px;
    background: none;
    margin: 0 auto;
    .content-wrapper {
      background: #0ba89a;
      ul.slides {
        li {
          .video-portrait-item {
            position: relative;
            height: 1920px;
            .video-top-wrapper {
              padding: 122px 77px 40px 77px;
              height: 86px;
              overflow: hidden;
              .field-video-headline {
                font-family: 'hindbold', Helvetica, Arial, sans-serif;
                font-size: 86px;
                font-weight: bold;
                line-height: 1.2;
                color: #ffffff;
                height: 86px;
                overflow: hidden;
              }
            }
            .video-wrapper {
              border-bottom: 12px solid #ffffff;
              height: 1027px;
              width: 100%;
              position: relative;
              overflow: hidden;
              video {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                z-index: 1;
                transform: translateX(-50%) translateY(-50%);
              }
              &.full-video-position {
                border: none;
                height: 100%;
                width: 100%;
              }
            }
            .video-description-wrapper {
              padding: 42px 77px 25px 77px;
              font-size: 50px;
              line-height: 1.2;
              color: #ffffff;
              font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
              background: none;
              height: 310px;
              p {
                background: none;
                font-size: 50px;
                line-height: 1.2;
                color: #ffffff;
                font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
              }
            }
            .video-qr-code-wrapper {
              position: absolute;
              bottom: 0;
              right: 0;
              left: 0;
              background: #09847a;
              padding: 20px;
              display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
              display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
              display: -ms-flexbox;      /* TWEENER - IE 10 */
              display: -webkit-flex;     /* NEW - Chrome */
              display: flex;
              -webkit-align-items: center;
              align-items: center;
              .video-qr-label {
                font-family: 'hindbold', Helvetica, Arial, sans-serif;
                font-size: 50px;
                font-weight: bold;
                line-height: 1.2;
                text-align: right;
                color: #ffffff;
                margin-right: 45px;
                margin-left: auto;
              }
              .field-qr-code {
                height: 215px;
                width: 215px;
                img {
                  width: 100%;
                  height: 215px;
                }
              }
            }
          }
        }
      }
    }
  }
  &.page-displays-video-landscape {
    width: 1920px;
    height: 1080px;
    background: none;
    .content-wrapper {
      background: none;
      ul.slides {
        li {
          height: 1080px;
          .video-landscape-item {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            .video-left-wrapper {
              width: 100%;
              height: 1080px;
              z-index: 3;
              video {
                height: 1080px;
                width: 100%;
              }
              &.half-video-position {
                width: 1080px;
                position: relative;
                z-index: 1;
                video {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  min-width: 100%;
                  min-height: 100%;
                  width: auto;
                  height: auto;
                  z-index: -100;
                  transform: translateX(-50%) translateY(-50%);
                }
              }
            }
            .video-right-wrapper {
              width: 840px;
              padding: 47px 66px;
              background: #0ba89a;
              max-width: 708px;
              flex: 0 0 840px;
              position: relative;
              z-index: 5;
              .field-video-headline {
                font-family: 'hindbold', Helvetica, Arial, sans-serif;
                font-size: 86px;
                font-weight: bold;
                line-height: 1.2;
                letter-spacing: normal;
                color: #ffffff;
                padding-bottom: 40px;
              }
              .field-body {
                font-size: 50px;
                line-height: 1.2;
                color: #ffffff;
                font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
                background: none;
                p {
                  background: none;
                  font-size: 50px;
                  line-height: 1.2;
                  color: #ffffff;
                  font-family: 'hind_regularregular', Helvetica, Arial, sans-serif;
                }
              }
              .video-qr-code-wrapper {
                background: #09847a;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 20px;
                display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
                display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
                display: -ms-flexbox;      /* TWEENER - IE 10 */
                display: -webkit-flex;     /* NEW - Chrome */
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                .video-qr-label {
                  font-family: 'hindbold', Helvetica, Arial, sans-serif;
                  font-size: 50px;
                  font-weight: bold;
                  line-height: 1.2;
                  text-align: right;
                  color: #ffffff;
                  margin-right: 45px;
                  margin-left: auto;
                }
                .field-qr-code {
                  height: 200px;
                  width: 200px;
                  img {
                    width: 100%;
                    height: 200px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}